/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/index' as styles;
@use '../../internal/styles/tokens' as awsui;

.expand-toggle-hidden {
  visibility: hidden;
}

.expand-toggle,
.expand-toggle-hidden {
  @include styles.styles-reset;
  cursor: pointer;
  inline-size: awsui.$space-m;
  block-size: awsui.$space-m;
  border-block: 0;
  border-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  background: none;

  color: awsui.$color-text-interactive-default;

  &:hover {
    color: awsui.$color-text-interactive-hover;
  }
  &:active {
    color: awsui.$color-text-interactive-active;
  }
}
