/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

@mixin toggle-theme($checked-bg, $hover-bg) {
  --awsui-style-color-background-default: #{palette.$border};
  --awsui-style-color-background-checked: #{$checked-bg};
  --awsui-style-color-background-disabled: #{palette.$control-bg-disabled};
  --awsui-style-color-handle-default: #{palette.$control-bg};
  --awsui-style-color-handle-checked: #{palette.$control-bg};
  --awsui-style-color-handle-disabled: #{palette.$control-foreground-disabled};
  --awsui-style-color-text: #{palette.$text};
  --awsui-style-color-text-disabled: #{palette.$text-disabled};
  --awsui-style-border-radius: 4px;
  --awsui-style-transition-color-text: 200ms;

  &:hover {
    --awsui-style-color-background-default: #{$hover-bg};
  }
}

.toggle-success {
  @include toggle-theme($checked-bg: palette.$success, $hover-bg: palette.$text-muted);
}
