/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.status-trigger-button {
  background-color: initial;
  border: 0;
  border-bottom: 1px dashed;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
