/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.styled-table {
  --awsui-style-color-background-header: #{palette.$accent};
  --awsui-style-color-text-header: #{palette.$text-on-accent};
  --awsui-style-color-icon-sort: #{palette.$text-on-accent};
  --awsui-style-color-border: #{palette.$border-accent};
  --awsui-style-color-background-selected: #{palette.$info-surface};
  --awsui-style-color-border-selected: #{palette.$accent};
}

.selection-base {
  --awsui-style-color-background-control: #{palette.$control-bg};
  --awsui-style-color-background-control-checked: #{palette.$accent};
  --awsui-style-color-border-control: #{palette.$control-border};
  --awsui-style-color-foreground-control: #{palette.$control-foreground};
  --awsui-style-border-width-control: 2px;
}

.selection-header {
  --awsui-style-color-background-control: #{palette.$surface};
  --awsui-style-color-background-control-checked: #{palette.$text-on-accent};
  --awsui-style-color-border-control: #{palette.$text-on-accent};
  --awsui-style-color-foreground-control: #{palette.$accent};
}

.selection-green {
  --awsui-style-color-background-control-checked: #{palette.$success};
  --awsui-style-color-border-control: #{palette.$success};
}

.selection-blue {
  --awsui-style-color-background-control-checked: #{palette.$info};
  --awsui-style-color-border-control: #{palette.$info};
}

.styled-filter {
  --awsui-style-color-border-default: #{palette.$border-accent};
  --awsui-style-color-border-focus: #{palette.$accent};
  --awsui-style-color-background-default: #{palette.$surface};

  &:hover {
    --awsui-style-color-border-default: #{palette.$accent-hover};
  }
}
