/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:map';
@use '../tokens' as awsui;
@use '../typography' as typography;
@use '../foundation' as foundation;
@use '../utils' as utils;
@use './constants' as constants;

@mixin link-focus {
  // For classic
  outline: thin dotted;
  outline: awsui.$border-link-focus-ring-outline;
  outline-offset: 2px;
  outline-color: awsui.$color-border-item-focused;
  // For visual refresh
  border-radius: awsui.$border-radius-control-default-focus-ring;
  box-shadow: 0 0 0 awsui.$border-link-focus-ring-shadow-spread awsui.$color-border-item-focused;
}

@mixin container-focus($border-radius: awsui.$border-radius-container) {
  // This mixin is different to `focus-highlight` because it needs to supports overflowing
  // content. Using a pseudo element does not take the width or height of the overflowing
  // children.

  // Window High Contrast Mode
  outline: 2px dotted transparent;
  outline-offset: 2px;

  border-radius: $border-radius;
  box-shadow: foundation.$box-shadow-focused;
}

@mixin focus-highlight(
  $gutter,
  $border-radius: awsui.$border-radius-control-default-focus-ring,
  $box-shadow: foundation.$box-shadow-focused
) {
  $gutter-vertical: $gutter;
  $gutter-horizontal: $gutter;
  @if type-of($gutter) == 'map' {
    $gutter-vertical: map.get($gutter, 'vertical');
    $gutter-horizontal: map.get($gutter, 'horizontal');
  }
  position: relative;
  // Add a special outline for Window High Contrast Mode.
  // This mode will remove all box shadows from the side and can only use outline
  // do display focus indicators. We can use transparent outlines here because when
  // High Contrast Mode is activated it will change all outline colors, even if they
  // are transparent.
  & {
    outline: 2px dotted transparent;
    outline-offset: calc(#{$gutter-horizontal} - 1px);
  }

  // Regular rounded outline for all other browsers and modes
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: calc(-1 * #{$gutter-horizontal});
    top: calc(-1 * #{$gutter-vertical});
    width: calc(100% + 2 * #{$gutter-horizontal});
    height: calc(100% + 2 * #{$gutter-vertical});
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

// Use for form input elements, excluding buttons
// or for elements that have a light border and light background
@mixin form-focus-element($border-radius: constants.$control-border-radius) {
  // Using a special transparent outline only visible in Windows High Contrast Mode.
  // See focus-highlight above.
  outline: 2px dotted transparent;

  border: constants.$control-border-width solid awsui.$color-border-item-focused;
  border-radius: $border-radius;
  box-shadow: foundation.$box-shadow-focused-light;
}

@mixin form-disabled-element {
  background-color: awsui.$color-background-input-disabled;
  border: constants.$control-border-width solid awsui.$color-border-input-disabled;
  color: awsui.$color-text-input-disabled;
  cursor: auto;
}

@mixin form-readonly-element {
  background-color: awsui.$color-background-input-default;
  border: constants.$control-border-width solid awsui.$color-border-input-disabled;
}

@mixin form-placeholder {
  color: awsui.$color-text-input-placeholder;
  font-style: italic;
}

@mixin form-placeholder-disabled {
  color: awsui.$color-text-input-placeholder-disabled;
}

@mixin form-control-description {
  color: awsui.$color-text-form-secondary;
  @include typography.font-body-s;
}

@mixin form-invalid-control {
  color: awsui.$color-text-status-error;
  border-color: awsui.$color-text-status-error;
  padding-left: constants.$invalid-control-left-padding;
  border-left-width: constants.$invalid-control-left-border;
  &:focus {
    box-shadow: foundation.$box-shadow-focused-light-invalid;
  }
  @content;
}

@mixin label-info-link {
  margin-left: typography.$base-size;
}

@mixin info-link-spacing {
  margin-right: awsui.$space-xs;
  &:only-child {
    margin: 0;
  }
}

@mixin container-shadow {
  border-radius: awsui.$border-radius-container;
  box-sizing: border-box;

  &::before {
    @include utils.base-pseudo-element;
    // Reset border color to prevent it from flashing black during card selection animation
    border-color: transparent;
    border-top: awsui.$border-container-top-width solid awsui.$color-border-container-top;
    border-radius: awsui.$border-radius-container;
    z-index: 1;
  }

  &::after {
    @include utils.base-pseudo-element;
    //box-shadow: awsui.$shadow-container;
    box-shadow: none;
    border: solid 2px awsui.$color-border-divider-default;
    border-radius: awsui.$border-radius-container;
    mix-blend-mode: multiply;
  }

  // HACK: because of the issues with IE's box shadow rendering we draw
  // a border and don't mind the pixel fitting
  @media screen and (-ms-high-contrast: active) {
    border: constants.$control-border-width solid awsui.$color-border-container-top;
  }
}

@mixin dropdown-shadow {
  box-shadow: awsui.$shadow-dropdown;
  border-radius: awsui.$border-radius-dropdown;
  border-top: awsui.$border-divider-list-width solid awsui.$color-border-container-top;
  box-sizing: border-box;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    border: awsui.$border-field-width solid awsui.$color-border-dropdown-container;
    border-radius: awsui.$border-radius-dropdown;
    pointer-events: none;
  }
}

@mixin make-control-size($height, $width: $height) {
  margin-top: calc((#{awsui.$line-height-body-m} - #{$height}) / 2);
  min-height: $height;
  min-width: $width;
  height: $height;
  width: $width;
}
