/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../internal/styles/typography/index' as typographyConstants;
@use './motion';

$calendar-grid-width: awsui.$size-calendar-grid-width;
$calendar-header-color: awsui.$color-text-body-default;

.root {
  @include styles.styles-reset;
  max-inline-size: 32em;
}

.focus-lock {
  display: contents;
}

.trigger-wrapper {
  min-inline-size: calc(#{$calendar-grid-width} + 2 * #{awsui.$space-l});
}

.trigger-flexbox {
  display: flex;
}

.calendar-container {
  inline-size: calc(2 * #{$calendar-grid-width} + #{awsui.$space-xs});

  &.one-grid {
    inline-size: $calendar-grid-width;
  }
}

.calendar {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-header-months-wrapper {
    position: absolute;
    inset-inline-end: 0;
    inset-inline-start: 0;
    inset-block-start: 0;
    inset-block-end: 0;

    margin-block: 0;
    margin-inline: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    pointer-events: none;
  }

  &-header-month {
    @include styles.font-body-m;
    font-weight: typographyConstants.$font-weight-bold;
    color: $calendar-header-color;

    display: flex;

    pointer-events: auto;
  }

  &-next-month-btn {
    /* used for identifying element */
  }

  &-prev-month-btn {
    /* used for identifying element */
  }
}

.first-grid,
.second-grid {
  /* used in test-utils */
}

.date-and-time-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($calendar-grid-width, 1fr));
  gap: awsui.$space-xs;
}
.date-and-time-wrapper {
  inline-size: $calendar-grid-width;
  display: grid;
  gap: awsui.$space-xs;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-block-start: 1px solid #{awsui.$color-border-dropdown-item-default};
  padding: 0 awsui.$space-l awsui.$space-s;

  &.has-clear-button {
    justify-content: space-between;
  }

  &.one-grid {
    padding: 0 awsui.$space-xs awsui.$space-s;
  }
}

.footer-button-wrapper {
  padding-block-start: awsui.$space-s;

  &:last-child {
    margin-inline-start: auto;
  }
}

.icon-wrapper {
  color: awsui.$color-text-interactive-default;
  margin-inline-end: awsui.$space-xs;
}

.label {
  user-select: text;
  cursor: default;
}

.label.label-enabled:hover > .trigger-flexbox > .icon-wrapper {
  color: awsui.$color-text-interactive-hover;
}

.label-text {
  @include styles.form-placeholder;
}

.label-token-nowrap {
  white-space: nowrap;
}

.mode-switch {
  /* used in test-utils */
}

.dropdown {
  // There needs to be an outer container because we set a fixed width on the
  // actual dropdown and calendar grid, so the scrollbar would mess up the
  // widths.
  overflow: auto;

  border-block-start: 1px solid #{awsui.$color-border-container-top};
  border-block-end: 1px solid #{awsui.$color-border-container-top};
  border-radius: awsui.$border-radius-dropdown;

  &:focus {
    outline: none;
  }
  @include focus-visible.when-visible {
    @include styles.container-focus(awsui.$border-radius-dropdown);
  }
}

.dropdown-content {
  user-select: text;
  background-color: awsui.$color-background-container-content;
  inline-size: calc(2 * #{$calendar-grid-width} + #{awsui.$space-xs} + 2 * #{awsui.$space-l});

  &.one-grid {
    inline-size: calc(#{$calendar-grid-width} + 2 * #{awsui.$space-l});
  }
}

.start-date-input,
.start-time-input,
.end-date-input,
.end-time-input {
  /* used in test-utils */
}

.validation-section {
  /* used in test-utils */
}

.validation-error {
  /* used in test-utils */
}

.clear-button {
  /* used in test-utils */
}
.apply-button {
  /* used in test-utils */
}
.cancel-button {
  /* used in test-utils */
}
.calendar-aria-live {
  /* used in test-utils */
}
