/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

.root {
  @include styles.styles-reset;
  block-size: 100%;
  overflow: hidden;
  display: flex;
}

.panel {
  display: flex;
  flex-shrink: 0;
  > .handle {
    display: flex;
    align-items: center;
  }
  > .panel-content {
    overflow-y: auto;
    overflow-x: visible;
    flex-grow: 1;
    @include focus-visible.when-visible {
      @include styles.container-focus(4px, inset);
    }
  }
  .display-main-only > & {
    display: none;
  }
  .display-panel-only > & {
    flex: 1;
  }
}

.content {
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  .display-panel-only > & {
    display: none;
  }
  @include focus-visible.when-visible {
    @include styles.container-focus(4px, inset);
  }
}
