/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.list-container {
  overflow-block: auto;
  overflow-inline: auto;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.container {
  inline-size: 200px;
  block-size: 200px;
  border-block: 1px solid cornflowerblue;
  border-inline: 1px solid cornflowerblue;
  overflow-block: hidden;
  overflow-inline: hidden;
  display: inline-block;

  &-wide {
    inline-size: 400px;
  }

  &-overflow-visible {
    overflow-block: auto;
    overflow-inline: auto;
  }

  &-overflow-y-visible {
    overflow-block: auto;
  }
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.list {
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  list-style: none;
  overflow-block: auto;
}

.wide-container {
  padding-block: 10px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  block-size: calc(75vh);
  box-sizing: border-box;
  > .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
