/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

.root {
  @include styles.styles-reset;

  position: absolute;
  pointer-events: none;

  &.dismissable {
    pointer-events: auto;
  }
}
