/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: awsui.$space-scaled-xs;
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.card {
  $border-radius: awsui.$space-scaled-s;
  align-items: start;
  border-color: awsui.$color-border-control-default;
  border-start-start-radius: $border-radius;
  border-start-end-radius: $border-radius;
  border-end-start-radius: $border-radius;
  border-end-end-radius: $border-radius;
  border-block-style: solid;
  border-inline-style: solid;
  border-block-width: 1px;
  border-inline-width: 1px;
  display: flex;
  gap: awsui.$space-scaled-s;
  inline-size: 300px;
  justify-content: space-between;
  padding-block: awsui.$space-scaled-l;
  padding-inline: awsui.$space-scaled-l;

  &--selected {
    border-color: awsui.$color-border-item-focused;
  }
}

.heading {
  margin-block: 0;
}
.description {
  margin-block: awsui.$space-scaled-xs 0;
}
