/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.table {
  border-collapse: collapse;
}

.head {
  background-color: awsui.$color-background-cell-shaded;
}

.cell,
.header-cell {
  padding-inline: awsui.$space-scaled-s;
}

.cell {
  padding-block: awsui.$space-scaled-xs;
}

.header-cell,
.row {
  border-block-style: solid;
  border-inline-style: solid;
  border-block-width: 1px;
  border-inline-width: 1px;
  border-color: awsui.$color-border-divider-default;
}

.header-cell {
  padding-block: awsui.$space-scaled-xxs;
  text-align: start;
}

.row {
  &--selected {
    outline: 1px solid awsui.$color-border-item-focused;
  }
}
