/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles/tokens' as awsui;
@use '../../styles' as styles;

$image-size: 48px;

.root {
  @include styles.styles-reset();
}

.file-token {
  block-size: 100%;
  position: relative;
}

.file-loading-overlay {
  position: absolute;
  inset-inline-end: awsui.$space-static-xs;
  inset-block-end: awsui.$space-static-xxs;
}

.file-option-name,
.file-option-size,
.file-option-last-modified {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file-option {
  inline-size: 100%;
  min-inline-size: 0;
  display: flex;
  gap: awsui.$space-scaled-xs;
}

.file-option-thumbnail {
  margin-block-start: awsui.$space-static-xxs;
}

.file-option-thumbnail-image {
  @include styles.font-body-s;

  inline-size: $image-size;
  block-size: $image-size;
  object-fit: cover;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  // firefox displays fallback text differently from chrome and safari,
  // so clamp happens at 3 instead of 2
  @-moz-document url-prefix() {
    -webkit-line-clamp: 3;
  }
}

.file-option-metadata {
  inline-size: 100%;

  &.with-image {
    inline-size: calc(100% - $image-size);
  }
}
