/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  gap: 10px;
}

.placeholder {
  background-color: awsui.$color-background-input-disabled;
}

.heightLimit {
  block-size: 300px;
}
