/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

/* stylelint-disable custom-property-pattern */

.container-outer {
  --awsui-style-border-radius: 8px;
  --awsui-style-color-background-header: #{palette.$info-surface};
}

.container-inner {
  --awsui-style-color-background-header: #{palette.$success-surface};
}
