/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
 /* stylelint-disable */
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

@import './motion';

.root {
  @include styles.styles-reset;
  box-sizing: border-box;
}

.label {
  box-sizing: border-box;
  color: awsui.$color-text-form-label;
  // We display label inline to achieve the proper line-wrapping with info links
  display: inline;
  @include styles.font-label;
  @include styles.info-link-spacing;
}

.inlineLabel {
  box-sizing: border-box;
  color: awsui.$color-text-form-label;
  @include styles.font-label;
  @include styles.info-link-spacing;
  position: relative;
  left: .75em;
  padding: .5em .25em 0;
  font-size: .75em;
  line-height: 14px;
  display: inline-block;
  max-inline-size: calc(100% - 1.5em);
  z-index: 1;
  /* Stepped gradient background for label overlap between input and background. */
   background-image: linear-gradient(
       to bottom,
       transparent calc(100% - 6px),
       awsui.$color-background-input-default 1px
   );
   background-position: bottom;
}
 /* stylelint-enable */

.info {
  padding-inline-start: awsui.$space-xs;
  border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}

.description,
.constraint {
  @include styles.form-control-description;
}

.hints,
.constraint-has-validation-text {
  padding-block-start: awsui.$space-xxs;
}

.secondary-control {
  /* used in test-utils */
}

.controls {
  &:not(.label-hidden) {
    padding-block-start: awsui.$space-xxs;
  }
}

.control {
  @include styles.text-wrapping;
}

.control-inlineLabel {
  margin-block-start: -11px;
}

.error {
  color: awsui.$color-text-status-error;
  @include styles.font-body-s;

  display: flex;
  align-items: flex-start;
}

.warning {
  color: awsui.$color-text-status-warning;
  @include styles.font-body-s;

  display: flex;
  align-items: flex-start;
}

.error__message,
.warning__message {
  margin-inline-start: awsui.$space-xxs;
}

.visually-hidden {
  @include styles.awsui-util-hide;
}
