/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.main {
  background-color: awsui.$color-background-layout-main;
}

.top-nav-dropdown {
  background-color: awsui.$color-background-popover;
}
