/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.root {
  /* used in test-utils */
}
.navigation {
  /* used in test-utils */
}
.navigation-toggle {
  /* used in test-utils */
}
.navigation-close {
  /* used in test-utils */
}
.content {
  /* used in test-utils */
}
.notifications {
  /* used in test-utils */
}
.breadcrumbs {
  /* used in test-utils */
}
.tools {
  /* used in test-utils */
}
.tools-close {
  /* used in test-utils */
}
.tools-toggle {
  /* used in test-utils */
}
.drawer-closed {
  /* used in test-utils */
}
.mobile-bar {
  /* used in test-utils */
}
.disable-body-scroll-root {
  /* used in test-utils */
}
.drawers-trigger {
  /* used in test-utils */
}
.active-drawer {
  /* used in test-utils */
}
.active-drawer-close-button {
  /* used in test-utils */
}

.drawers-slider {
  /* used in test-utils */
}
