/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

@keyframes skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.root {
  position: relative;
  overflow: hidden;
  user-select: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  display: block;
  box-sizing: border-box;
  background-color: awsui.$color-background-skeleton;
  inline-size: 100%;
  block-size: 3em;
  border-start-start-radius: awsui.$border-radius-skeleton;
  border-start-end-radius: awsui.$border-radius-skeleton;
  border-end-start-radius: awsui.$border-radius-skeleton;
  border-end-end-radius: awsui.$border-radius-skeleton;

  @include styles.with-motion {
    &::after {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      inset-block-end: 0;
      inset-inline-start: 0;
      background: linear-gradient(
        90deg,
        transparent,
        awsui.$color-background-skeleton-wave,
        transparent
      );
      animation: skeleton-wave 1.25s ease-in-out infinite;
    }
  }
}

.display-block {
  display: block
}
.display-inline-block {
  display: inline-block;
  vertical-align: middle;
}
.display-inline {
  display: inline
}

.variant-text-body-s {
  block-size: awsui.$line-height-body-s;
  line-height: awsui.$line-height-body-s;
}

.variant-text-body-m {
  block-size: awsui.$line-height-body-m;
  line-height: awsui.$line-height-body-m;
}

.variant-text-heading-xs {
  block-size: awsui.$line-height-heading-xs;
  line-height: awsui.$line-height-heading-xs;
}

.variant-text-heading-s {
  block-size: awsui.$line-height-heading-s;
  line-height: awsui.$line-height-heading-s;
}

.variant-text-heading-m {
  block-size: awsui.$line-height-heading-m;
  line-height: awsui.$line-height-heading-m;
}

.variant-text-heading-l {
  block-size: awsui.$line-height-heading-l;
  line-height: awsui.$line-height-heading-l;
}

.variant-text-heading-xl {
  block-size: awsui.$line-height-heading-xl;
  line-height: awsui.$line-height-heading-xl;
}

.variant-text-display-l {
  block-size: awsui.$line-height-display-l;
  line-height: awsui.$line-height-display-l;
}
