/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;

.runtime-content-wrapper {
  display: contents;
}

.runtime-header-wrapper {
  display: contents;
}
