/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$header-padding-horizontal: awsui.$space-container-horizontal;
$header-padding-vertical: awsui.$space-container-header-vertical;
$header-padding: $header-padding-vertical $header-padding-horizontal;
$footer-padding: awsui.$space-scaled-s awsui.$space-container-horizontal;

// HACK: Remediate focus border for expandable section
$header-focus-visible-padding: calc(#{awsui.$space-scaled-s} - #{awsui.$border-divider-section-width})
  calc(#{awsui.$space-l} - #{awsui.$border-divider-section-width});

@mixin borders-and-shadows {
  @include styles.container-shadow;
}

@mixin divider {
  border-top: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}
