/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

.root {
  @include styles.styles-reset;
}

.divider {
  border-inline-end-color: awsui.$color-text-interactive-default;
  border-inline-end-style: solid;
  border-inline-end-width: 0.1em;
  block-size: 80%;
  inline-size: 3px;
  margin-block-start: 0.2em;
}
