build
node_modules
coverage
backstop/report
# build output
lib
# generated sources
src/index.ts
src/test-utils/dom/index.ts
src/test-utils/selectors
src/internal/generated/custom-css-properties/index.*
vendor/generated-third-party-licenses.txt
