build
node_modules
coverage
.idea
# build output
lib
# generated sources
src/index.ts
src/test-utils/dom/index.ts
src/test-utils/selectors
src/icon/generated
src/internal/generated/custom-css-properties/index.*
vendor/generated-*.txt
