/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.breadcrumb-group {
  @include styles.styles-reset;
  margin-block: 0;
  margin-inline: 0;
  padding: awsui.$space-xxs 0;

  > .item {
    @include styles.styles-reset;
    display: inline;
  }

  > .breadcrumb-group-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    list-style: none;
    inline-size: 100%;
    flex-wrap: wrap;

    > .item,
    > .ellipsis {
      display: inline-block;
      padding: 0;
      margin-block: 0;
      margin-inline: 0;
    }

    > .ellipsis {
      display: none;

      > .icon {
        margin-block: 0;
        margin-inline: styles.$base-size;
        color: awsui.$color-text-breadcrumb-icon;
      }
    }
  }

  // In the smallest screen, breadcrumbs truncate into
  // BC1 > ... > BCL
  // and we apply ellipsis if the breadcrumb items are too long
  &.mobile {
    > .breadcrumb-group-list {
      flex-wrap: nowrap;

      > .ellipsis {
        display: flex;
        flex-shrink: 0;
      }
      > .item {
        min-inline-size: 0;
        &:not(:first-child):not(:last-child) {
          display: none;
        }
      }
    }
  }

  // Test utils rely on the ellipsis being present even if there are
  // only 2 items in the list, so we display but hide it.
  &.mobile-short {
    > .breadcrumb-group-list {
      > .ellipsis {
        display: none;
      }
    }
  }
}
