/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.breadcrumb-group {
  @include styles.styles-reset;
  margin-block: 0;
  margin-inline: 0;
  padding-block: awsui.$space-xxs;
  padding-inline: 0;

  > .breadcrumb-group-list {
    display: flex;
    align-items: center;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    list-style: none;
    inline-size: 100%;
    flex-wrap: nowrap;

    &.ghost {
      flex-wrap: wrap;
      position: absolute;
      inset-inline-start: -9000px;
    }

    > .item,
    > .ghost-item,
    > .ellipsis {
      display: inline-block;
      padding-block: 0;
      padding-inline: 0;
      margin-block: 0;
      margin-inline: 0;
    }

    > .item.hide {
      display: none;
    }

    > .ellipsis {
      display: none;

      &.visible {
        display: flex;
        flex-shrink: 0;
      }

      > .icon {
        margin-block: 0;
        margin-inline: styles.$base-size;
        color: awsui.$color-text-breadcrumb-icon;
      }
    }
  }
}

.mobile-dropdown-wrapper {
  display: block !important;
}

.mobile-dropdown-last-item {
  color: awsui.$color-text-dropdown-item-secondary !important;
}

.mobile-dropdown-trigger-content {
  display: flex;
  color: awsui.$color-text-interactive-default;
  font-weight: styles.$font-weight-bold;
  text-align: start;

  &:hover {
    color: awsui.$color-text-link-default;
  }
}

.mobile-dropdown-trigger-text {
  display: block;
  padding-inline-start: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
