/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use '../../styles/foundation' as foundation;
@use '../../generated/custom-css-properties/index.scss' as custom-props;

/* stylelint-disable custom-property-pattern */

$radio-size: awsui.$size-control;

.radio-control {
  @include styles.make-control-size($radio-size);
}

.outline {
  #{custom-props.$styleFocusRingBoxShadow}: 0 0 0
    var(
      --awsui-internal-style-radio-focus-ring-border-width,
      var(#{custom-props.$styleFocusRingBorderWidth}, foundation.$box-shadow-focused-width)
    )
    var(
      --awsui-internal-style-radio-focus-ring-color,
      var(#{custom-props.$styleFocusRingBorderColor}, awsui.$color-border-item-focused)
    );

  @include styles.focus-highlight(
    $gutter: 2px,
    $border-radius: var(
        --awsui-internal-style-radio-focus-ring-border-radius,
        var(#{custom-props.$styleFocusRingBorderRadius}, awsui.$border-radius-control-circular-focus-ring)
      ),
    $box-shadow: var(#{custom-props.$styleFocusRingBoxShadow})
  );
}

.styled-circle-border {
  stroke: var(--awsui-internal-style-radio-border-color-default, #{awsui.$color-border-control-default});
  fill: var(--awsui-internal-style-radio-background-default, #{awsui.$color-background-control-default});
  &.styled-circle-disabled,
  &.styled-circle-readonly {
    fill: var(--awsui-internal-style-radio-background-disabled, #{awsui.$color-background-control-disabled});
    stroke: var(--awsui-internal-style-radio-border-color-disabled, #{awsui.$color-background-control-disabled});
  }
}

.styled-circle-fill {
  stroke: var(--awsui-internal-style-radio-background-checked, #{awsui.$color-background-control-checked});
  fill: var(--awsui-internal-style-radio-foreground-default, #{awsui.$color-foreground-control-default});
  opacity: 0;
  @include styles.with-motion {
    transition: opacity awsui.$motion-duration-transition-quick awsui.$motion-easing-transition-quick;
  }
  &.styled-circle-checked {
    opacity: 1;
  }
  &.styled-circle-disabled {
    fill: var(--awsui-internal-style-radio-foreground-disabled, #{awsui.$color-foreground-control-disabled});
    stroke: var(--awsui-internal-style-radio-background-disabled, #{awsui.$color-background-control-disabled});
  }
  &.styled-circle-readonly {
    fill: var(--awsui-internal-style-radio-foreground-readonly, #{awsui.$color-foreground-control-read-only});
    stroke: var(--awsui-internal-style-radio-background-disabled, #{awsui.$color-background-control-disabled});
  }
}
