/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/hooks/focus-visible' as focus-visible;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/styles' as styles;

@mixin cell-offset($padding) {
  padding-inline-start: $padding;

  &.header-cell-content-expandable {
    padding-inline-start: calc(#{$padding} + #{awsui.$space-m} + #{awsui.$space-xs});
  }
}

.header-cell {
  position: relative;
  text-align: start;
  box-sizing: border-box;
  border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  background: awsui.$color-background-table-header;
  color: awsui.$color-text-column-header;
  font-weight: awsui.$font-weight-heading-s;
  @include styles.font-smoothing;
  padding-block: awsui.$space-scaled-xxs;
  padding-inline: awsui.$space-scaled-xs;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(
      (
        'vertical': calc(-1 * #{awsui.$space-scaled-xxs}),
        'horizontal': calc(-1 * #{awsui.$space-scaled-xxs}),
      )
    );
  }
  // stylelint-disable-next-line selector-combinator-disallowed-list
  body[data-awsui-focus-visible='true'] &-fake-focus {
    @include styles.focus-highlight(
      (
        'vertical': calc(-1 * #{awsui.$space-scaled-xxs}),
        'horizontal': calc(-1 * #{awsui.$space-scaled-xxs}),
      )
    );
  }

  &-sticky {
    border-block-end: awsui.$border-table-sticky-width solid awsui.$color-border-divider-default;
  }
  &-stuck:not(.header-cell-variant-full-page) {
    border-block-end-color: transparent;
  }
  &-variant-full-page.header-cell-hidden {
    border-block-end-color: transparent;
  }
  &:last-child,
  &.header-cell-sortable {
    padding-inline-end: awsui.$space-xs;
  }

  &.sticky-cell {
    position: sticky;
    background: awsui.$color-background-table-header;
    z-index: 798; // Lower than the AppLayout's notification slot z-index(799)
    &-pad-left:not(.has-selection) {
      padding-inline-start: awsui.$space-table-horizontal;
    }
    &-last-left {
      box-shadow: awsui.$shadow-sticky-column-first;
      clip-path: inset(0px -24px 0px 0px);
      & > .resize-divider {
        display: none;
      }
    }
    &-last-right {
      box-shadow: awsui.$shadow-sticky-column-last;
      clip-path: inset(0 0 0 -24px);
    }
    @include styles.with-motion {
      transition-property: padding;
      transition-duration: awsui.$motion-duration-transition-show-quick;
      transition-timing-function: awsui.$motion-easing-sticky;
    }
  }
}

.sorting-icon {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-end: awsui.$space-xxs;
  color: awsui.$color-text-column-sorting-icon;
}

.edit-icon {
  margin-inline-start: awsui.$space-xxs;
  margin-block-start: awsui.$space-scaled-xxs;
  color: inherit;
}

.header-cell-content {
  position: relative;
  padding-block: awsui.$space-scaled-xxs;
  @include cell-offset(awsui.$space-s);
  padding-inline-end: awsui.$space-s;

  .header-cell-sortable > & {
    padding-inline-end: calc(#{awsui.$space-xl} + #{awsui.$space-xxs});
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-table-header-focus-outline-gutter);
  }

  // stylelint-disable-next-line selector-combinator-disallowed-list
  body[data-awsui-focus-visible='true'] &.header-cell-fake-focus {
    @include styles.focus-highlight(awsui.$space-table-header-focus-outline-gutter);
  }

  .header-cell-disabled.header-cell-sorted > & {
    & > .sorting-icon {
      color: awsui.$color-text-interactive-disabled;
    }
  }
}

.header-cell-sortable:not(.header-cell-disabled) {
  & > .header-cell-content {
    cursor: pointer;
  }
  & > .header-cell-content:hover,
  &.header-cell-sorted > .header-cell-content {
    color: awsui.$color-text-interactive-active;
    & > .sorting-icon {
      color: awsui.$color-text-interactive-active;
    }
  }
}

.header-cell-text {
  line-height: awsui.$line-height-heading-xs;

  padding-block: calc(#{awsui.$space-xxxs} / 2);

  &:not(.header-cell-text-wrap) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.header-cell-ascending,
.header-cell-descending {
  /* used in test-utils */
}

/*
In Visual Refresh the first cell in the header should align
with the left edge of the table as closely as possible. If the
last header cell is sortable the sort icon should align with the
settings icon in the pagination slot.
*/
.header-cell:not(.is-visual-refresh) {
  &:first-child {
    @include cell-offset(awsui.$space-xs);
  }
}

.header-cell.is-visual-refresh {
  &:first-child:not(.has-striped-rows) {
    @include cell-offset(awsui.$space-xxxs);
    &.sticky-cell-pad-left {
      @include cell-offset(awsui.$space-table-horizontal);
    }
  }

  /*
  Striped rows requires additional left padding because the
  shaded background makes the child content appear too close
  to the table edge.
  */
  &:first-child.has-striped-rows {
    @include cell-offset(awsui.$space-xxs);
  }

  &:first-child > .header-cell-content {
    @include cell-offset(0px);
  }

  &:last-child.header-cell-sortable {
    padding-inline-end: awsui.$space-xxxs;
  }
}
