/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.slider {
  position: relative;
  width: 100%;

  &-track,
  &-range {
    position: absolute;
    border-radius: 3px;
    height: 5px;
  }

  &-track {
    background-color: awsui.$color-background-progress-bar-layout-default;
    width: 100%;
  }

  &-range {
    background-color: awsui.$color-background-progress-bar-content-default;

    &.disabled {
      background-color: awsui.$color-text-status-inactive;
    }
  }

  &-container {
    padding: awsui.$space-m 0;
  }

  &-labels {
    display: flex;
    justify-content: space-between;
    height: 0;
    padding-top: awsui.$space-m;
  }
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;

  &-right {
    right: 8px;
  }

  &-left {
    left: 8px;
  }

  &::-webkit-slider-thumb {
    background-color: awsui.$color-background-progress-bar-content-default;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  &::-moz-range-thumb {
    background-color: awsui.$color-background-progress-bar-content-default;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
}
