/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

.value-slider {
  width: 100%;

  &-labels {
    display: flex;
    justify-content: space-between;
    height: 0;
  }
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: awsui.$color-background-progress-bar-layout-default;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: awsui.$color-background-progress-bar-content-default;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: awsui.$color-background-progress-bar-content-default;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: awsui.$color-background-progress-bar-content-default;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px awsui.$color-background-progress-bar-content-default;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: awsui.$color-background-progress-bar-content-default;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px awsui.$color-background-progress-bar-content-default;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
