/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$thumb-size: 16px;

@mixin base-thumb-styles {
  background-color: awsui.$color-background-progress-bar-content-default;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: $thumb-size;
  width: $thumb-size;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

@mixin base-thumb-focus-styles {
  //border: 1px solid awsui.$color-background-progress-bar-content-default;;
  outline: 2px solid awsui.$color-background-progress-bar-content-default;
  outline-offset: 0.125rem;
}

.slider {
  position: relative;
  width: 100%;

  &-thumb-label {
    position: absolute;
    border-radius: awsui.$border-radius-popover;

    background-color: awsui.$color-background-popover;
    box-shadow: awsui.$shadow-popover;
    border: awsui.$border-field-width solid awsui.$color-border-popover;

    bottom: awsui.$space-scaled-m;
    padding: awsui.$space-scaled-xs;
    min-width: 40px;
    text-align: center;
  }

  &-track,
  &-range {
    position: absolute;
    border-radius: 3px;
    height: 5px;
  }

  &-track {
    background-color: awsui.$color-background-progress-bar-layout-default;
    width: 100%;
  }

  &-range {
    background-color: awsui.$color-background-progress-bar-content-default;

    &.disabled {
      background-color: awsui.$color-text-status-inactive;
    }
  }

  &-container {
    @include styles.styles-reset;
    padding: awsui.$space-m 0;
  }

  &-labels {
    display: flex;
    justify-content: space-between;
    height: 0;
    padding-top: awsui.$space-m;
  }
}

.thumb {
  position: absolute;
  height: 0;
  width: calc(100% - $thumb-size);
  outline: none;

  &-right {
    right: 8px;
    pointer-events: none;
  }

  &-left {
    left: 8px;
    pointer-events: none;
  }

  &::-webkit-slider-thumb {
    @include base-thumb-styles();
  }

  &::-moz-range-thumb {
    @include base-thumb-styles();
  }

  &:focus::-webkit-slider-thumb {
    @include base-thumb-focus-styles();
  }

  &:focus::-moz-range-thumb {
    @include base-thumb-focus-styles();
  }
}
