/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root {
  @include styles.styles-reset();
}

.file-token {
  block-size: 100%;
  position: relative;
}

.file-loading-overlay {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background: awsui.$color-background-container-content;
  opacity: 75%;

  &-spinner {
    position: absolute;
    inset-inline-start: calc(50% - 8px);
    inset-block-end: calc(50% - 8px);
  }
}

.file-option-name,
.file-option-size,
.file-option-last-modified {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file-option {
  inline-size: 100%;
  min-inline-size: 0;
  display: flex;
  gap: awsui.$space-scaled-xs;
}

.file-option-thumbnail {
  margin-block-start: awsui.$space-static-xxs;
}

.file-option-thumbnail-image {
  inline-size: 48px;
  block-size: 48px;
  object-fit: cover;
}

.file-option-metadata {
  inline-size: 100%;
}
