/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use './motion';

.flashbar {
  position: relative;
}

.flashbar,
.flash {
  @include styles.styles-reset;
}

.flash {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: awsui.$space-scaled-xs awsui.$space-flashbar-horizontal;
  @include styles.container-shadow;
  border-top: none;
  border-radius: awsui.$border-radius-flashbar;
  color: awsui.$color-text-notification-default;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.flash-refresh {
  box-shadow: none;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    border-radius: awsui.$border-radius-flashbar;
    pointer-events: none;
    box-shadow: awsui.$shadow-flash-sticky;
  }
}

.flash-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(.collapsed) {
    > li:not(:last-child) {
      margin-bottom: awsui.$space-xxxs;
    }
  }
}

.flash-body {
  display: flex;
  flex-grow: 1;
  min-width: 0;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-button-focus-outline-gutter);
  }
}

.flash-focus-container {
  display: flex;
  flex: 1;
  min-width: 0;
}

.flash-text {
  margin: awsui.$border-field-width 0;
  padding: awsui.$space-scaled-xxs awsui.$space-xxs;
}

.flash-icon {
  flex: 0 0 auto;
  padding-left: 0;
}

.flash-message {
  flex: 1 1 0%;
  @include styles.text-flex-wrapping;
}

.flash-header {
  font-weight: styles.$font-weight-bold;
}

.flash-content {
  /* Only used as a selector for test-utils */
}

.dismiss-button-wrapper {
  flex: 0 0 auto;
  margin-left: awsui.$space-s;
  margin-right: calc(-1 * #{awsui.$space-xxs});
  padding-right: awsui.$space-flashbar-dismiss-right;
}

.dismiss-button {
  /* Only used as a selector for test-utils */
}

.action-button-wrapper {
  white-space: nowrap;
  margin-left: awsui.$space-flashbar-action-left;
}

.flashbar.breakpoint-default > .flash-list > .flash-list-item > .flash > .flash-body {
  display: block;
  & > .action-button-wrapper {
    margin-left: awsui.$space-l;
    padding-left: awsui.$space-xxs;
    margin-bottom: awsui.$space-xxs;
  }
}

.action-button {
  /* Only used as a selector for test-utils */
}

.flash-type-success {
  background-color: awsui.$color-background-notification-green;
}

.flash-type-error {
  background-color: awsui.$color-background-notification-red;
}

.flash-type-warning {
  background-color: awsui.$color-background-notification-blue;
}

.flash-type-info {
  background-color: awsui.$color-background-notification-blue;
}

// `stackItems` feature beta test

.stack {
  display: grid;
  grid-template-columns: 1fr minmax(70px, auto) 1fr;
}

.stack > .expanded {
  grid-column: 1 / 4;
}

@mixin stacked-flash-z-index {
  // The first item should have the highest z index than the second item, and so forth...
  z-index: calc(var(#{custom-props.$flashbarStackDepth}) - var(#{custom-props.$flashbarStackIndex}));
}

/*
The collapsed stack is a dynamic grid that creates the necessary number of 
rows and columns based on the number of items passed to CSS via the 
`flashbarStackDepth` custom property. Assuming there are three flashbar items, 
the grid layout will be:

[item 1 start] [10px] [10px] [fractional unit] [10px] [10px] [item 1 end]
[10px] [item 2 start] [10px] [fractional unit] [10px] [item 2 end] [10px]
[10px] [10px] [item 3 start] [fractional unit] [item 3 end] [10px] [10px]
*/
.stack > .collapsed {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns:
    repeat(var(#{custom-props.$flashbarStackDepth}), 10px)
    1fr
    repeat(var(#{custom-props.$flashbarStackDepth}), 10px);
  row-gap: 8px;
  z-index: 0;

  > .item {
    // Each item will have a unique custom property `flashbarStackIndex`
    // Add +1 is because the array is indexed at zero but grid positions are indexed at 1.
    grid-column-start: calc(var(#{custom-props.$flashbarStackIndex}) + 1);

    // Add +1 to include the fractional unit in the column count
    // Add +1 because the array indexed at zero but grid positions at indexed at 1.
    grid-column-end: calc(
      var(#{custom-props.$flashbarStackDepth}) * 2 + 1 - var(#{custom-props.$flashbarStackIndex}) + 1
    );
    grid-row-start: 1;
    grid-row-end: calc(var(#{custom-props.$flashbarStackIndex}) + 2);

    @include stacked-flash-z-index;
  }

  > .item:not(:first-of-type) {
    align-self: end;
    /* Give placeholder elements in the stacked state the height of a notification
       with one single line of text.
       This makes them look better during the collapse animation, in which they are already empty.
     */
    min-height: calc(
      #{awsui.$font-body-m-line-height} + (
          #{awsui.$space-scaled-xs} + #{awsui.$border-field-width} + #{awsui.$space-scaled-xxs}
        ) * 2
    );
  }

  &.visual-refresh {
    > .item:not(:last-of-type) > .flash,
    > .item:not(:last-of-type).flash {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &:not(.visual-refresh) {
    > .item:not(:last-of-type) > .flash,
    > .item:not(:last-of-type).flash {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

.stack > .expanded.transitioning > .flash-list-item {
  position: relative;
  @include stacked-flash-z-index;
}

@mixin toggle-button-layout($margin-top-when-collapsed, $border-width) {
  $line-height: awsui.$font-body-m-line-height;
  $padding-vertical: styles.$control-padding-vertical;
  $margin-top-when-expanded: -12px;

  padding: $padding-vertical awsui.$space-l;

  &:not(.expanded) {
    margin-top: #{$margin-top-when-collapsed};
    margin-bottom: calc(
      #{-$margin-top-when-collapsed} - (#{$line-height} + 2 * (#{$padding-vertical} + #{$border-width}))
    );
  }

  &.expanded {
    margin-top: #{$margin-top-when-expanded};
    margin-bottom: calc(
      #{-$margin-top-when-expanded} - (#{$line-height} + 2 * (#{$padding-vertical} + #{$border-width}))
    );
  }
}

.stack > .toggle {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  background: awsui.$color-background-layout-toggle-default;
  border-radius: awsui.$border-radius-button;
  border-style: solid;
  box-shadow: awsui.$shadow-panel-toggle;
  color: awsui.$color-text-layout-toggle;
  cursor: pointer;
  display: flex;
  font-weight: awsui.$font-button-weight;
  grid-column: 2;
  grid-row: 2;
  gap: awsui.$space-xs;
  letter-spacing: awsui.$font-button-letter-spacing;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  z-index: 1;

  &:hover {
    background: awsui.$color-background-layout-toggle-hover;
    border-color: awsui.$color-background-layout-toggle-hover;
  }

  &:active {
    background: awsui.$color-background-layout-toggle-active;
  }

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-button-focus-outline-gutter);
  }

  &.visual-refresh {
    $border-width: 2px;
    @include toggle-button-layout(-27px, $border-width);
    border-width: $border-width;
    border-color: awsui.$color-background-layout-toggle-hover;
  }

  &:not(.visual-refresh) {
    $border-width: 1px;
    @include toggle-button-layout(-24px, $border-width);
    border-width: $border-width;
    border-color: awsui.$color-background-layout-toggle-default;

    &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  > .icon {
    display: inline-block;

    @include styles.with-motion {
      transition: transform awsui.$motion-duration-rotate-90 awsui.$motion-easing-rotate-90;
    }

    &.expanded {
      transform: rotate(180deg);
    }
  }
}
