/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/hooks/focus-visible' as focus-visible;

.link:after {
  display: none;
}

.breadcrumb {
  display: flex;

  > .icon {
    margin: 0 awsui.$space-xs;
    color: awsui.$color-text-breadcrumb-icon;
  }

  > .anchor {
    @include styles.link-inline('body-m');

    @include focus-visible.when-visible {
      @include styles.link-focus;
    }
  }

  &.last {
    > .icon {
      display: none;
    }
    > .anchor {
      color: awsui.$color-text-breadcrumb-current;
      font-weight: styles.$font-weight-bold;
      text-decoration: none;
      cursor: default;
    }
  }
}
.compressed {
  min-inline-size: 0;
  overflow: hidden;
  > .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}
.virtual-item {
  @include styles.awsui-util-hide;
  visibility: hidden;
}
.item-popover {
  /* used in tests */
}
