/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/hooks/focus-visible' as focus-visible;

.placeholder {
  @include styles.form-placeholder;
}

$checkbox-size: awsui.$size-control;

.item {
  display: flex;
  align-items: center;

  > .checkbox {
    position: relative;
    min-block-size: $checkbox-size;
    min-inline-size: $checkbox-size;
    block-size: $checkbox-size;
    inline-size: $checkbox-size;
    margin-inline-end: styles.$control-padding-horizontal;
  }
}

.filter {
  z-index: 4;

  // Prevents the input container from shrinking below its minimum size
  // See AWSUI-12019
  flex-shrink: 0;
}

.trigger {
  @include styles.text-overflow-ellipsis;
}

.layout-strut {
  inline-size: 100%;
  position: relative;
  // Prevent incorrect layer ordering in Safari by making sure
  // this element is also offloaded to the GPU along with the virtual items
  transform: translate3d(0, 0, 0);
}

.list-bottom {
  /* used in unit-tests */
}

.selected-icon {
  color: awsui.$color-border-item-focused;
}

.show-label-tag > .selected-icon {
  padding-inline-start: awsui.$space-scaled-s;
}

.inline-token-trigger {
  display: flex;
  flex-wrap: nowrap;
  column-gap: awsui.$space-xxs;
  inline-size: 100%;
}

.inline-token-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: awsui.$space-xxs;
  inline-size: 100%;
  overflow-x: hidden;

  // Fade out any overflow tokens
  mask-image: linear-gradient(270deg, transparent, white 20px, white);

  > .inline-token {
    display: flex;
    align-items: center;
    min-inline-size: max-content;
    block-size: 18px;

    border-block: awsui.$border-field-width solid awsui.$color-border-item-selected;
    border-inline: awsui.$border-field-width solid awsui.$color-border-item-selected;
    padding-block: 0;
    padding-inline: awsui.$space-xxs;
    background: awsui.$color-background-item-selected;
    border-radius: awsui.$border-radius-token;
    color: awsui.$color-text-body-default;
  }
}

.visual-refresh > .inline-token-list > .inline-token {
  border-radius: awsui.$border-radius-badge;
}

.inline-token-hidden-placeholder {
  @include styles.awsui-util-hide;
}

.inline-token-counter {
  white-space: nowrap;
}
.inline-token-trigger--disabled {
  > .inline-token-list > .inline-token {
    border-color: awsui.$color-border-control-disabled;
    background-color: awsui.$color-background-container-content;
    color: awsui.$color-text-disabled;
  }
}
