/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/* eslint-disable */
/* stylelint-disable */

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

// Use box-shadows instead of borders to prevent jumping behaviour when hovering selectable items
$border-offset: awsui.$border-item-width;
$border-offset-double: calc(2 * #{awsui.$border-item-width});

@mixin divider {
  box-shadow:
    inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-item-default,
    inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default;
}

@mixin border-padding {
  border-width: 0;
  padding-block: 0;
  padding-inline: 0;
  > .selectable-item-content {
    padding-block: calc(#{styles.$option-padding-vertical} + #{$border-offset});
    padding-inline: calc(#{styles.$control-padding-horizontal} + #{$border-offset});
  }
}

@mixin highlighted-shadow {
  box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-hover;
  &.is-keyboard {
    box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-focused;
  }
}

@mixin selected-shadow {
  box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-selected;
  &.highlighted {
    box-shadow:
      inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-selected,
      inset 0 0 0 $border-offset-double awsui.$color-border-dropdown-item-hover;
    &.is-keyboard {
      box-shadow:
        inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-selected,
        inset 0 0 0 $border-offset-double awsui.$color-border-dropdown-item-focused;
    }
  }
}

// Outer borders of adjacent cells overlap and we want selected option border
// to take precedence over the other ones, hence negative margins and z-indices
.selectable-item {
  @include styles.default-text-style;

  position: relative;
  list-style: none;
  z-index: 1;

  border: 0;
  background-color: awsui.$color-background-dropdown-item-default;
  color: awsui.$color-text-dropdown-item-default;

  padding-block: awsui.$border-item-width;
  padding-inline: awsui.$border-item-width;

  // For custom styles and background on the selectable-item-content, the content should not clip through the selectable-item borders.
  overflow: hidden;

  @include divider;
  &.parent.interactiveGroups:not(.highlighted):not(.selected) {
    @include divider;
  }

  > .selectable-item-content {
    padding-block: styles.$option-padding-vertical;
    padding-inline: styles.$control-padding-horizontal;
  }

  &.pad-bottom {
    padding-block-end: awsui.$border-item-width;
    box-shadow: inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-item-default;
    > .selectable-item-content {
      padding-block-end: calc(#{styles.$option-padding-vertical} + #{awsui.$space-xxxs});
    }
  }

  &:not(:first-child),
  &.virtual {
    margin-block-start: calc(-1 * #{awsui.$border-item-width});
  }

  &.has-background {
    background-color: awsui.$color-background-dropdown-item-hover;
  }
  &.child {
    padding-inline-start: awsui.$border-item-width;
    > .selectable-item-content {
      padding-inline-start: awsui.$space-xxl;
    }
  }

  &.disabled > .selectable-item-content {
    color: awsui.$color-text-dropdown-item-disabled;
  }

  &.highlighted,
  &.selected {
    color: awsui.$color-text-dropdown-item-highlighted;
    border-start-start-radius: awsui.$border-radius-item;
    border-start-end-radius: awsui.$border-radius-item;
    border-end-start-radius: awsui.$border-radius-item;
    border-end-end-radius: awsui.$border-radius-item;
    @include border-padding;
    &.child > .selectable-item-content {
      padding-inline-start: calc(#{awsui.$space-xxl} + #{$border-offset});
    }
    &.pad-bottom > .selectable-item-content {
      padding-block-end: calc(#{styles.$option-padding-vertical} + #{awsui.$space-xxxs} + #{$border-offset});
    }
  }

  &.highlighted {
    z-index: 3;
    background-color: awsui.$color-background-dropdown-item-hover;
    @include highlighted-shadow;
    &.disabled {
      box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-dimmed-hover;
      background-color: awsui.$color-background-dropdown-item-dimmed;
      > .selectable-item-content {
        color: awsui.$color-text-dropdown-item-dimmed;
      }
    }
    &:not(.visual-refresh).is-keyboard {
      box-shadow: inset 0 0 0 awsui.$border-control-focus-ring-shadow-spread awsui.$color-border-item-focused;
    }
  }

  &.selected {
    z-index: 2;
    background-color: awsui.$color-background-dropdown-item-selected;
    @include selected-shadow;
    &.next-item-selected {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
    &.highlighted:not(.visual-refresh) {
      box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-hover;
      &.is-keyboard {
        box-shadow: inset 0 0 0 $border-offset awsui.$color-border-dropdown-item-focused;
      }
    }
  }

  &.selected + &.selected,
  &.selected.previous-item-selected {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }

  &.parent {
    &:not(.disabled) {
      > .selectable-item-content {
        color: awsui.$color-text-dropdown-group-label;
      }
    }
    &:not(.interactiveGroups) {
      box-shadow:
        inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-group,
        inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default;
      padding-block: 0;
      padding-inline: 0;
      &:not(:has(> .selectable-item-content)) {
        padding-block: awsui.$border-item-width;
        padding-inline: awsui.$border-item-width;
      }

      > .selectable-item-content {
        padding-block: awsui.$space-xs;
        padding-inline: awsui.$space-xs;
        font-weight: bold;
      }
    }
    &.interactiveGroups {
      > .selectable-item-content {
        padding-block: styles.$group-option-padding-vertical;
        padding-inline: styles.$control-padding-horizontal;
        font-weight: bold;
      }
      &.highlighted > .selectable-item-content {
        color: awsui.$color-text-dropdown-item-highlighted;
      }
      &.highlighted,
      &.selected {
        @include border-padding;
        > .selectable-item-content {
          padding-block: calc(#{styles.$group-option-padding-vertical} + #{$border-offset});
          padding-inline: calc(#{styles.$control-padding-horizontal} + #{$border-offset});
        }
      }
    }
  }

  // Remove top divider from the first item after a sticky item to avoid double borders.
  // Exclude highlighted/selected states to preserve their box-shadow styling.
  &.sticky + &:not(.sticky):not(.highlighted):not(.selected) {
    box-shadow: inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default;
  }

  &.sticky {
    position: sticky;
    inset-block-start: 0;

    // Push the next option down to prevent its border in highlighted or selected state from being partially covered by the sticky option
    margin-block-end: awsui.$border-item-width;

    // Stay on top of the other options when they are scrolled up
    z-index: 4;

    // Keep padding consistent to prevent visual shift on hover
    padding-inline: awsui.$border-item-width;
    > .selectable-item-content {
      padding-inline: styles.$control-padding-horizontal;
    }

    &:not(.highlighted):not(.selected) {
      // Prevent covering the list border despite the higher z-index
      box-shadow:
        inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-item-default,
        inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default,
        inset awsui.$border-item-width 0 0 0 awsui.$color-border-dropdown-container;

      &:not(.with-scrollbar) {
        box-shadow:
          inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-item-default,
          inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default,
          inset awsui.$border-item-width 0 0 0 awsui.$color-border-dropdown-container,
          inset calc(-1 * #{awsui.$border-item-width}) 0 0 0 awsui.$color-border-dropdown-container;
      }

      // Only display top border when not being rendered after the filter
      &:not(.after-header) {
        border-start-start-radius: awsui.$border-radius-item;
        &:not(&.with-scrollbar) {
          border-start-end-radius: awsui.$border-radius-item;
        }
      }
      &.after-header {
        box-shadow:
          inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-background-dropdown-item-default,
          inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default,
          inset awsui.$border-item-width 0 0 0 awsui.$color-border-dropdown-container;
        &:not(.with-scrollbar) {
          box-shadow:
            inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-background-dropdown-item-default,
            inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default,
            inset awsui.$border-item-width 0 0 0 awsui.$color-border-dropdown-container,
            inset calc(-1 * #{awsui.$border-item-width}) 0 0 0 awsui.$color-border-dropdown-container;
        }
      }
    }

    &.disabled.highlighted,
    &.disabled.selected {
      box-shadow: none;
    }
  }

  &:not(.disabled):not(.parent) {
    cursor: pointer;
  }
  &.interactiveGroups:not(.disabled) {
    cursor: pointer;
  }

  &.virtual {
    position: absolute;
    inset-block-start: awsui.$border-dropdown-virtual-offset-width;
    inset-inline-start: 0;
    inline-size: 100%;
    box-sizing: border-box;
    > .measure-strut {
      block-size: calc(100% - $border-offset);
    }
    &:first-of-type:not(.selected, .highlighted) {
      box-shadow:
        inset 0 awsui.$border-divider-list-width 0 0 awsui.$color-border-dropdown-item-top,
        inset 0 calc(-1 * #{awsui.$border-divider-list-width}) 0 0 awsui.$color-border-dropdown-item-default;
    }
  }
}

.measure-strut {
  position: absolute;
  pointer-events: none;
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.screenreader-content {
  @include styles.awsui-util-hide;
}

.option-content {
  /* used in test-utils */
}

.select-all {
  /* used in test-utils */
}
