/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

// Outer borders of adjacent cells overlap and we want selected option border
// to take precedence over the other ones, hence negative margins and z-indices
.selectable-item {
  @include styles.default-text-style;
  position: relative;
  list-style: none;
  z-index: 1;

  border-block: awsui.$border-divider-list-width solid transparent;
  border-inline: awsui.$border-divider-list-width solid transparent;
  border-block-start-color: awsui.$color-border-dropdown-item-default;
  border-block-end-color: awsui.$color-border-dropdown-item-default;
  background-color: awsui.$color-background-dropdown-item-default;
  color: awsui.$color-text-dropdown-item-default;

  // remove the borders completely to avoid the slating effect at the border ends (AWSUI-10545)
  border-inline-start-width: 0;
  border-inline-end-width: 0;
  // to compensate for the loss of padding due to the removal of the left and right borders
  // and differences in default divider + selected border widths (visual refresh)
  padding-block: styles.$option-padding-with-border-placeholder-vertical;
  padding-inline: calc(#{styles.$control-padding-horizontal} + #{awsui.$border-item-width});

  &.pad-bottom {
    padding-block-end: calc(#{styles.$option-padding-with-border-placeholder-vertical} + #{awsui.$space-xxxs});
    border-block-end-color: transparent;
  }

  &:not(:first-child) {
    margin-block-start: calc(-1 * #{awsui.$border-item-width});
  }

  &.has-background {
    background-color: awsui.$color-background-dropdown-item-hover;
  }

  &.highlighted,
  &.selected {
    color: awsui.$color-text-dropdown-item-highlighted;
    border-width: awsui.$border-item-width;
    border-radius: awsui.$border-radius-item;
    padding-block: styles.$option-padding-vertical;
    padding-inline: styles.$control-padding-horizontal;

    &.pad-bottom {
      padding-block-end: (calc(#{styles.$option-padding-vertical} + #{awsui.$space-xxxs}));
    }
  }

  &.highlighted {
    z-index: 2;
    background-color: awsui.$color-background-dropdown-item-hover;
    border-color: awsui.$color-border-dropdown-item-hover;
    &.disabled {
      color: awsui.$color-text-dropdown-item-dimmed;
      border-color: awsui.$color-border-dropdown-item-dimmed-hover;
      background-color: awsui.$color-background-dropdown-item-dimmed;
    }
  }

  &.selected {
    background-color: awsui.$color-background-dropdown-item-selected;
    // smooth adjacent selected borders to avoid bubble effect (visual refresh)
    &.next-item-selected {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
  }

  &.selected + &.selected {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }

  &.highlighted.is-keyboard {
    border-color: awsui.$color-border-item-focused;
    box-shadow: inset 0 0 0 awsui.$border-control-focus-ring-shadow-spread awsui.$color-border-item-focused;
  }

  &.parent {
    font-weight: bold;
    color: awsui.$color-text-dropdown-group-label;
    &:not(.interactiveGroups) {
      border-block-start-color: awsui.$color-border-dropdown-group;
      padding-block: awsui.$space-xs;
      padding-inline: awsui.$space-xs;
    }
    &.interactiveGroups {
      padding-block: styles.$group-option-padding-with-border-placeholder-vertical;
      padding-inline: calc(#{styles.$control-padding-horizontal} + #{awsui.$border-item-width});
      &.highlighted {
        color: awsui.$color-text-dropdown-item-highlighted;
      }
      &.highlighted,
      &.selected {
        padding-block: styles.$group-option-padding-vertical;
        padding-inline: styles.$control-padding-horizontal;
      }
    }
  }

  &.child {
    padding-inline-start: calc(#{awsui.$space-xxl} + #{awsui.$border-item-width});
    &.highlighted,
    &.selected {
      padding-inline-start: awsui.$space-xxl;
    }
  }

  &.disabled {
    color: awsui.$color-text-dropdown-item-disabled;
  }

  &:not(.disabled):not(.parent) {
    cursor: pointer;
  }
  &.interactiveGroups:not(.disabled) {
    cursor: pointer;
  }
  &.virtual {
    position: absolute;
    inset-block-start: awsui.$border-dropdown-virtual-offset-width;
    inset-inline-start: 0;
    inline-size: 100%;
    box-sizing: border-box;
    &:first-of-type:not(.selected, .highlighted) {
      border-block-start-color: awsui.$color-border-dropdown-item-top;
    }
  }
}

.measure-strut {
  position: absolute;
  pointer-events: none;
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  padding-block-start: awsui.$border-divider-list-width;
  &-first {
    padding-block-end: awsui.$border-divider-list-width;
  }
}

.screenreader-content {
  @include styles.awsui-util-hide;
}

.option-content {
  /* used in test-utils */
}
