/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

// Outer borders of adjacent cells overlap and we want selected option border
// to take precedence over the other ones, hence negative margins and z-indices
.selectable-item {
  @include styles.default-text-style;
  position: relative;
  list-style: none;
  z-index: 1;

  // Base borders and colors
  border-block: awsui.$border-divider-list-width solid transparent;
  border-inline: awsui.$border-divider-list-width solid transparent;
  border-block-start-color: awsui.$color-border-dropdown-item-default;
  border-block-end-color: awsui.$color-border-dropdown-item-default;
  background-color: awsui.$color-background-dropdown-item-default;
  color: awsui.$color-text-dropdown-item-default;

  // Remove inline borders to avoid slating effect (AWSUI-10545)
  border-inline-start-width: 0;
  border-inline-end-width: 0;
  padding-block: 0;
  padding-inline: awsui.$border-item-width;

  // Spacing modifiers
  &.pad-bottom {
    padding-block-end: calc(#{styles.$option-padding-with-border-placeholder-vertical} + #{awsui.$space-xxxs});
    border-block-end-color: transparent;
  }

  &:not(:first-child),
  &.virtual {
    margin-block-start: calc(-1 * #{awsui.$border-item-width});
  }

  // Background state
  &.has-background {
    background-color: awsui.$color-background-dropdown-item-hover;
  }

  // Highlighted state
  &.highlighted {
    z-index: 3;
    color: awsui.$color-text-dropdown-item-highlighted;
    background-color: awsui.$color-background-dropdown-item-hover;
    border-width: awsui.$border-item-width;
    border-color: awsui.$color-border-dropdown-item-hover;
    border-start-start-radius: awsui.$border-radius-item;
    border-start-end-radius: awsui.$border-radius-item;
    border-end-start-radius: awsui.$border-radius-item;
    border-end-end-radius: awsui.$border-radius-item;
    padding-block: 0;
    padding-inline: 0;

    &.pad-bottom {
      padding-block-end: (calc(#{styles.$option-padding-vertical} + #{awsui.$space-xxxs}));
    }

    &.disabled {
      color: awsui.$color-text-dropdown-item-dimmed;
      border-color: awsui.$color-border-dropdown-item-dimmed-hover;
      background-color: awsui.$color-background-dropdown-item-dimmed;
    }

    &.is-keyboard {
      border-color: awsui.$color-border-dropdown-item-focused;
      &:not(.visual-refresh) {
        box-shadow: inset 0 0 0 awsui.$border-control-focus-ring-shadow-spread awsui.$color-border-item-focused;
      }
    }
  }

  // Selected state
  &.selected {
    z-index: 2;
    color: awsui.$color-text-dropdown-item-highlighted;
    background-color: awsui.$color-background-dropdown-item-selected;
    border-width: awsui.$border-item-width;
    border-color: awsui.$color-border-dropdown-item-selected;
    border-start-start-radius: awsui.$border-radius-item;
    border-start-end-radius: awsui.$border-radius-item;
    border-end-start-radius: awsui.$border-radius-item;
    border-end-end-radius: awsui.$border-radius-item;
    padding-block: 0;
    padding-inline: 0;

    &.pad-bottom {
      padding-block-end: (calc(#{styles.$option-padding-vertical} + #{awsui.$space-xxxs}));
    }

    &.next-item-selected {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    &.highlighted {
      z-index: 3;
      border-color: awsui.$color-border-dropdown-item-selected;
      outline: awsui.$border-item-width solid awsui.$color-border-dropdown-item-hover;
      outline-offset: calc(-2 * #{awsui.$border-item-width});

      &.is-keyboard {
        border-color: awsui.$color-border-dropdown-item-selected;
        outline-color: awsui.$color-border-dropdown-item-focused;
      }

      &:not(.visual-refresh) {
        border-color: awsui.$color-border-dropdown-item-hover;
        outline: none;
        &.is-keyboard {
          border-color: awsui.$color-border-dropdown-item-focused;
        }
      }
    }
  }

  &.selected + &.selected,
  &.selected.previous-item-selected {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }

  // Parent (group) state
  &.parent {
    font-weight: bold;
    color: awsui.$color-text-dropdown-group-label;

    &:not(.interactiveGroups) {
      border-block-start-color: awsui.$color-border-dropdown-group;
    }

    &.interactiveGroups.highlighted {
      color: awsui.$color-text-dropdown-item-highlighted;
    }
  }

  // Sticky state
  &.sticky {
    position: sticky;
    inset-block-start: 0;
    z-index: 4;
    margin-block-end: calc(#{awsui.$border-item-width} - #{awsui.$border-divider-list-width});

    &:not(.highlighted):not(.selected) {
      border-inline-start-width: awsui.$border-item-width;
      border-inline-start-color: awsui.$color-border-dropdown-container;
      border-inline-end-color: awsui.$color-border-dropdown-container;
      padding-inline: 0;

      &:not(.with-scrollbar) {
        border-inline-end-width: awsui.$border-item-width;
      }

      &.with-scrollbar {
        border-inline-end-width: 0;
      }

      &:not(.after-header) {
        border-start-start-radius: awsui.$border-radius-item;
        &:not(&.with-scrollbar) {
          border-start-end-radius: awsui.$border-radius-item;
        }
      }

      &.after-header {
        border-block-start-color: awsui.$color-background-dropdown-item-default;
      }
    }

    &.disabled.highlighted,
    &.disabled.selected {
      border-block-end-color: transparent;
      border-block-start-color: transparent;
      border-inline-start-color: transparent;
      border-inline-end-color: transparent;
    }
  }

  // Virtual state
  &.virtual {
    position: absolute;
    inset-block-start: awsui.$border-dropdown-virtual-offset-width;
    inset-inline-start: 0;
    inline-size: 100%;
    box-sizing: border-box;

    &:first-of-type:not(.selected, .highlighted) {
      border-block-start-color: awsui.$color-border-dropdown-item-top;
    }
  }

  // Disabled state
  &.disabled {
    color: awsui.$color-text-dropdown-item-disabled;
  }

  // Cursor states
  &:not(.disabled):not(.parent),
  &.interactiveGroups:not(.disabled) {
    cursor: pointer;
  }

  // Content Padding
  > .option-content {
    /* used in test-utils */
    padding-block: styles.$option-padding-with-border-placeholder-vertical;
    padding-inline: styles.$control-padding-horizontal;
  }

  &.highlighted > .option-content,
  &.selected > .option-content {
    padding-block: styles.$control-padding-vertical;
  }

  &.child > .option-content {
    padding-inline-start: awsui.$space-xxl;
  }

  &.child.highlighted > .option-content,
  &.child.selected > .option-content {
    padding-inline-start: awsui.$space-xxl;
  }

  &.parent:not(.interactiveGroups) > .option-content {
    padding-block: awsui.$space-xs;
    padding-inline: awsui.$space-xs;
  }

  &.parent.interactiveGroups > .option-content {
    padding-block: styles.$group-option-padding-with-border-placeholder-vertical;
    padding-inline: styles.$control-padding-horizontal;
  }

  &.parent.interactiveGroups.highlighted > .option-content,
  &.parent.interactiveGroups.selected > .option-content {
    padding-block: styles.$group-option-padding-vertical;
    padding-inline: styles.$control-padding-horizontal;
  }
  &.sticky:not(.highlighted):not(.selected) > .option-content {
    padding-inline: styles.$control-padding-horizontal;
  }
}

// Utility classes
.measure-strut {
  position: absolute;
  pointer-events: none;
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  padding-block-start: awsui.$border-divider-list-width;

  &-first {
    padding-block-end: awsui.$border-divider-list-width;
  }
}

.screenreader-content {
  @include styles.awsui-util-hide;
}

.select-all {
  /* used in test-utils */
}
