/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

.variant-normal.pressed {
  background: awsui.$color-background-button-normal-pressed;
  border-color: awsui.$color-border-button-normal-pressed;
  color: awsui.$color-text-button-normal-pressed;
}

.variant-icon.pressed {
  background: transparent;
  border-color: transparent;
  color: awsui.$color-text-interactive-pressed;
}
