/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

.toggle-button.variant-normal {
  background: awsui.$color-background-toggle-button-normal-default;
  border-color: awsui.$color-border-toggle-button-normal-default;

  &:hover {
    background: awsui.$color-background-toggle-button-normal-hover;
    border-color: awsui.$color-border-toggle-button-normal-hover;
  }
}

.variant-normal.pressed {
  background: awsui.$color-background-toggle-button-normal-pressed;
  border-color: awsui.$color-border-toggle-button-normal-pressed;
  color: awsui.$color-text-toggle-button-normal-pressed;
}

.variant-icon.pressed {
  background: transparent;
  border-color: transparent;
  color: awsui.$color-text-toggle-button-icon-pressed;
}
