/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '@cloudscape-design/component-toolkit/internal/style-api' as style-api;

$tokens: style-api.resolve((background-color, border-color, color, border-radius), public);

@include style-api.register($tokens);

.pill {
  box-sizing: border-box;
  background: var(#{style-api.read($tokens, background-color)}, #c2185b);
  color: var(#{style-api.read($tokens, color)}, #ffffff);
  border-block: 1px solid var(#{style-api.read($tokens, border-color)}, #c2185b);
  border-inline: 1px solid var(#{style-api.read($tokens, border-color)}, #c2185b);
  border-start-start-radius: var(#{style-api.read($tokens, border-radius)}, 12px);
  border-start-end-radius: var(#{style-api.read($tokens, border-radius)}, 12px);
  border-end-start-radius: var(#{style-api.read($tokens, border-radius)}, 12px);
  border-end-end-radius: var(#{style-api.read($tokens, border-radius)}, 12px);
  padding-block: 4px;
  padding-inline: 8px;
}
