/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../constants' as constants;

.block-body-scroll {
  overflow: hidden;
}

.mobile-bar {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  position: sticky;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1000;
  inline-size: 100%;
  box-sizing: border-box;
  background-color: awsui.$color-background-layout-mobile-panel;
  box-shadow: awsui.$shadow-panel;
  block-size: calc(2 * #{awsui.$space-m} + #{awsui.$space-scaled-xs});
}

.mobile-bar-breadcrumbs {
  min-inline-size: 0;
  flex: 1;
  margin-inline-start: awsui.$space-m;
  margin-inline-end: awsui.$space-m;
}

.mobile-trigger-with-drawers {
  inline-size: constants.$sidebar-size-closed;
  display: flex;
  justify-content: center;
}

.mobile-toggle {
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  padding: constants.$toggle-padding;
  inline-size: constants.$sidebar-size-closed;
  &:first-child {
    border-inline-end: 1px solid awsui.$color-border-layout;
  }
  &:last-child:not(.mobile-toggle-with-drawers) {
    border-inline-start: 1px solid awsui.$color-border-layout;
  }
  &:hover:not(.mobile-toggle-with-drawers) {
    background: awsui.$color-background-layout-panel-hover;
  }

  &-with-drawers {
    display: flex;
    inline-size: auto;
    padding: 0;
    block-size: 100%;

    > .mobile-trigger-with-drawers {
      border-inline-start: 1px solid awsui.$color-border-layout;
      display: flex;
      align-items: center;
    }
  }
}
