/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../constants' as constants;

.block-body-scroll {
  overflow: hidden;
}

.mobile-bar {
  position: sticky;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1000;
  inline-size: 100%;
  box-sizing: border-box;
  background-color: awsui.$color-background-layout-mobile-panel;
  box-shadow: awsui.$shadow-panel;
  block-size: calc(2 * #{awsui.$space-m} + #{awsui.$space-scaled-xs});
}

.mobile-bar-breadcrumbs {
  min-inline-size: 0;
  flex: 1;
  margin-inline-start: awsui.$space-m;
  margin-inline-end: awsui.$space-m;
}

.mobile-toggle {
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  padding-block: constants.$toggle-padding-vertical;
  padding-inline: constants.$toggle-padding-horizontal;
  inline-size: constants.$sidebar-size-closed;
  color: awsui.$color-text-interactive-default;
  &-type-navigation {
    border-inline-end: 1px solid awsui.$color-border-layout;
  }
  &-type-tools,
  &-type-drawer {
    border-inline-start: 1px solid awsui.$color-border-layout;
  }
  &:hover {
    background: awsui.$color-background-layout-panel-hover;
  }
}

.drawers-container {
  display: flex;
  align-items: stretch;
}
