/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../tokens' as awsui;
@use './constants' as constants;

// To reduce bluriness of heavy font weight on MacOS
@mixin font-smoothing {
  -webkit-font-smoothing: awsui.$font-smoothing-webkit;
  -moz-osx-font-smoothing: awsui.$font-smoothing-moz-osx;
}

@mixin default-text-style {
  @include font-body-m;
  color: awsui.$color-text-body-default;
  font-weight: constants.$font-weight-normal;
  font-family: constants.$font-family-base;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@mixin font-body-s {
  font-size: awsui.$font-size-body-s;
  line-height: awsui.$line-height-body-s;
  letter-spacing: awsui.$font-body-s-letter-spacing;
}

@mixin font-body-m {
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-body-m;
}

@mixin font-heading-xs($weight: true) {
  font-size: awsui.$font-size-heading-5;
  line-height: awsui.$line-height-heading-5;
  @if $weight {
    font-weight: awsui.$font-heading-xs-weight;
    @include font-smoothing;
  }
}

@mixin font-heading-s($weight: true) {
  font-size: awsui.$font-size-heading-4;
  line-height: awsui.$line-height-heading-4;
  letter-spacing: awsui.$font-heading-s-letter-spacing;
  @if $weight {
    font-weight: awsui.$font-heading-s-weight;
    @include font-smoothing;
  }
}

@mixin font-heading-m($weight: true) {
  font-size: awsui.$font-size-heading-3;
  line-height: awsui.$line-height-heading-3;
  letter-spacing: awsui.$font-heading-m-letter-spacing;
  @if $weight {
    font-weight: awsui.$font-heading-m-weight;
    @include font-smoothing;
  }
}

@mixin font-heading-l($weight: true) {
  font-size: awsui.$font-size-heading-2;
  line-height: awsui.$line-height-heading-2;
  letter-spacing: awsui.$font-heading-l-letter-spacing;
  @if $weight {
    font-weight: awsui.$font-heading-l-weight;
    @include font-smoothing;
  }
}

@mixin font-heading-xl($weight: true) {
  font-size: awsui.$font-size-heading-1;
  line-height: awsui.$line-height-heading-1;
  letter-spacing: awsui.$font-heading-xl-letter-spacing;
  @if $weight {
    font-weight: awsui.$font-heading-xl-weight;
    @include font-smoothing;
  }
}

@mixin font-display-l {
  font-size: awsui.$font-size-display-l;
  line-height: awsui.$line-height-display-l;
  letter-spacing: awsui.$font-display-l-letter-spacing;
}

@mixin font-inherit {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

@mixin font-button {
  font-weight: awsui.$font-button-weight;
  @include font-smoothing;
}

@mixin font-label {
  @include font-body-m();
  font-weight: awsui.$font-display-label-weight;
}

@mixin font-panel-header {
  font-size: awsui.$font-panel-header-size;
  line-height: awsui.$font-panel-header-line-height;
  font-weight: awsui.$font-heading-l-weight;
  @include font-smoothing;
}

@mixin font-code-inline {
  font-size: awsui.$font-size-body-s;
  line-height: awsui.$line-height-body-m;
}

@mixin font-code-block {
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-body-m;
}

@mixin font($font-size) {
  @if $font-size == body-s {
    @include font-body-s;
  }
  @if $font-size == body-m {
    @include font-body-m;
  }
  @if $font-size == heading-xs {
    @include font-heading-xs($weight: false);
  }
  @if $font-size == heading-s {
    @include font-heading-s($weight: false);
  }
  @if $font-size == heading-m {
    @include font-heading-m($weight: false);
  }
  @if $font-size == heading-l {
    @include font-heading-l($weight: false);
  }
  @if $font-size == heading-xl {
    @include font-heading-xl($weight: false);
  }
  @if $font-size == display-l {
    @include font-display-l;
  }
  @if $font-size == inherit {
    @include font-inherit;
  }
}
