/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

@mixin animated {
  @include styles.with-motion {
    transition: transform awsui.$motion-duration-transition-quick awsui.$motion-easing-transition-quick;
  }
}

.active {
  @include styles.default-text-style;

  box-shadow: awsui.$shadow-container-active;

  border-start-start-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
  border-start-end-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
  border-end-start-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
  border-end-end-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
  
  @include focus-visible.when-visible-unfocused {
    @include styles.focus-highlight(0px, var(--awsui-sortable-area-item-border, awsui.$border-radius-item));
  }
}

.placeholder {
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    inset: 0;
    background: awsui.$color-drag-placeholder-hover;
    border-start-start-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
    border-start-end-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
    border-end-start-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
    border-end-end-radius: var(--awsui-sortable-area-item-border, awsui.$border-radius-item);
  }
}

.sorting {
  @include animated;
}
