/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use './constants' as constants;

.root {
  @include styles.styles-reset;

  &.has-items:not(.no-padding) {
    padding-block-start: awsui.$space-xs;
  }
}

.dismiss-button {
  margin: -1px -1px 0 awsui.$space-xxs;
  border: 1px solid transparent;
  padding: 0 awsui.$space-xxs;
  color: awsui.$color-text-button-inline-icon-default;
  background-color: transparent;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    color: awsui.$color-text-button-inline-icon-hover;
  }
}

.token {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xxs;
}
.token-box {
  block-size: 100%;
  border: awsui.$border-field-width solid constants.$token-border-color;
  padding: styles.$control-padding-vertical awsui.$space-xxs styles.$control-padding-vertical
    styles.$control-padding-horizontal;
  display: flex;
  align-items: flex-start;
  background: constants.$token-background;
  border-radius: awsui.$border-radius-token;
  color: awsui.$color-text-body-default;
  box-sizing: border-box;
}
.token-box-error {
  border-color: awsui.$color-border-status-error;
  border-inline-start-width: awsui.$border-invalid-width;

  > .dismiss-button {
    color: awsui.$color-text-interactive-default;
    &:hover {
      color: awsui.$color-text-interactive-hover;
    }
  }
}
.token-box-disabled.token-box-disabled {
  border-color: awsui.$color-border-control-disabled;
  background-color: awsui.$color-background-container-content;
  color: awsui.$color-text-disabled;
  pointer-events: none;

  > .dismiss-button {
    color: awsui.$color-text-button-inline-icon-disabled;

    &:hover {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: initial;
      color: awsui.$color-text-button-inline-icon-disabled;
    }
  }
}
