/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use './constants' as constants;

.root {
  @include styles.styles-reset;

  &.has-items {
    padding-top: awsui.$space-xs;
  }
}

.token {
  border: awsui.$border-field-width solid constants.$token-border-color;
  padding: styles.$control-padding-vertical awsui.$space-xxs styles.$control-padding-vertical
    styles.$control-padding-horizontal;
  background: constants.$token-background;
  border-radius: awsui.$border-radius-token;
  color: awsui.$color-text-body-default;
  box-sizing: border-box;
}
.token-content {
  display: flex;
  align-items: flex-start;
}
div.token {
  height: 100%;
}

.dismiss-button {
  margin: -1px -1px 0 awsui.$space-xxs;
  border: 1px solid transparent;
  padding: 0 awsui.$space-xxs;
  color: awsui.$color-text-button-inline-icon-default;
  background-color: transparent;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    color: awsui.$color-text-button-inline-icon-hover;
  }
}

.token-disabled {
  border-color: awsui.$color-border-control-disabled;
  background-color: awsui.$color-background-container-content;
  color: awsui.$color-text-disabled;
  pointer-events: none;

  > .dismiss-button {
    color: awsui.$color-text-button-inline-icon-disabled;

    &:hover {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: initial;
      color: awsui.$color-text-button-inline-icon-disabled;
    }
  }
}

.toggle {
  @include styles.styles-reset;
  @include styles.link-default;

  display: flex;
  align-items: center;
  background-color: transparent;
  border: styles.$control-border-width solid transparent;

  margin-top: awsui.$space-scaled-xs;
  padding: 0;

  // Icon svg has one pixel around it. We need to shift the button one
  // pixel to the left to vertically align it with the input field
  margin-left: -1px;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    text-decoration-color: transparent;
  }

  @include focus-visible.when-visible {
    @include styles.form-focus-element(awsui.$border-radius-control-default-focus-ring);
  }

  > .description {
    margin-left: awsui.$space-xxs;
  }
}
