/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

@mixin pane-row-border($border-color) {
  $border: awsui.$border-item-width solid $border-color;
  $radius: awsui.$border-radius-item;
  > .pane__cell {
    border-top: $border;
    border-bottom: $border;
    &:first-child {
      border-left: $border;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    &:last-child {
      border-right: $border;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}

.pane {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1;

  border-top: awsui.$border-item-width solid awsui.$color-border-code-editor-default;
  border-bottom-left-radius: awsui.$border-radius-code-editor;
  border-bottom-right-radius: awsui.$border-radius-code-editor;
  background: awsui.$color-background-code-editor-status-bar;
  color: awsui.$color-text-body-default;

  &__close-container {
    position: absolute;
    top: 0;
    right: calc(#{awsui.$space-s} / 2);
  }

  &__list {
    flex: 1;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
    margin-right: calc(#{awsui.$line-height-body-m} + 2 * #{awsui.$space-xs});
  }

  &__table {
    width: 100%;
    border-spacing: 0;
    margin: awsui.$space-s 0;
  }

  &__item {
    @include pane-row-border(awsui.$color-transparent);

    &--highlighted,
    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      > .pane__cell {
        background-color: awsui.$color-background-code-editor-pane-item-hover;
      }
      @include pane-row-border(awsui.$color-border-code-editor-pane-item-hover);
    }
  }

  &__location,
  &__description {
    padding: awsui.$space-xxs awsui.$space-s;
  }

  &__location {
    vertical-align: baseline;
    white-space: nowrap;
    padding-left: calc(#{awsui.$space-l} + #{awsui.$space-s});
  }

  &__description {
    padding-right: 0;
    @include styles.text-wrapping;
  }
}

.focus-lock {
  height: 100%;
}
