/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.html,
.body {
  height: 100%;
}

.popover {
  position: absolute;
  bottom: 50px;
  inset-inline-start: 50px;
}
