/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.flex-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.slider-wrapper {
  flex: 1;
  max-inline-size: 800px;
}

.input-wrapper {
  max-inline-size: 70px;
}
