/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '~design-tokens' as tokens;

.simple-page {
  margin-block: tokens.$space-scaled-m;
  margin-inline: tokens.$space-static-m;
}
