/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/* stylelint-disable-next-line selector-max-type */
.markdown > :where(p) {
  margin-block: 0;
  white-space: pre-wrap;
}
