/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

.header {
  position: relative;
  margin: 0;
  color: awsui.$color-text-dropdown-group-label;
  border: awsui.$border-divider-list-width solid transparent;
  // remove the borders completely to avoid the slating effect at the border ends (AWSUI-10545)
  border-left: 0;
  border-right: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  // to compensate for the loss of padding due to the removal of the left and right borders
  // and differences in default divider + selected border widths (visual refresh)
  padding: styles.$option-padding-with-border-placeholder-vertical
    calc(#{awsui.$space-button-horizontal} + #{awsui.$border-item-width});
  z-index: 1;

  &.disabled {
    color: awsui.$color-text-dropdown-item-disabled;
    cursor: default;
  }

  &.expandable-header {
    border-top-color: awsui.$color-border-dropdown-group;
    border-bottom-color: awsui.$color-border-dropdown-group;
    cursor: pointer;
    &.disabled {
      cursor: default;
    }
    &:focus {
      outline: none;
    }
    &.rolled-down {
      border-bottom-color: transparent;
    }
    &.highlighted {
      background-color: awsui.$color-background-dropdown-item-hover;
      color: awsui.$color-text-dropdown-item-highlighted;
      // reset padding when adding border back in
      padding: styles.$option-padding-vertical awsui.$space-button-horizontal;
      border: awsui.$border-item-width solid awsui.$color-border-dropdown-item-hover;
      border-radius: awsui.$border-radius-item;
      z-index: 2;
      &.disabled {
        background-color: awsui.$color-background-dropdown-item-dimmed;
        border-color: awsui.$color-border-dropdown-item-dimmed-hover;
        color: awsui.$color-text-dropdown-item-dimmed;
      }
      &.is-focused {
        border-color: awsui.$color-border-dropdown-item-focused;
        box-shadow: inset 0 0 0 awsui.$border-control-focus-ring-shadow-spread awsui.$color-border-item-focused;
      }
    }
  }
}

.category {
  list-style: none;
  margin-top: calc(-1 * #{awsui.$border-divider-list-width});
  padding: 0;
  &:first-child {
    margin-top: 0;
  }

  &.expandable {
    border-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &.variant-navigation {
    padding-top: awsui.$space-xxs;

    &.expandable {
      padding-top: 0;
    }
  }
}

.expand-icon {
  position: relative;
  left: awsui.$space-s;
  width: awsui.$space-m;
  display: inline-block;

  &-up {
    transform: rotate(-180deg);
  }

  &-right {
    transform: rotate(-90deg);
  }
  @include styles.with-motion {
    transition: transform awsui.$motion-duration-rotate-180 awsui.$motion-easing-rotate-180;
  }
}

.items-list-container {
  padding: 0;
  margin: -1px 0 0 0;
  overflow-y: auto;
}
