/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../internal/styles/index' as styles;
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/hooks/focus-visible' as focus-visible;
@use '../../../calendar/calendar' as calendar;

@mixin border-radius($horizontal, $vertical) {
  &,
  &::after {
    border-#{$horizontal}-#{$vertical}-radius: awsui.$border-radius-item;
  }
}

@mixin in-range-borders {
  $sides: top, right, bottom, left;
  @each $side in $sides {
    &.in-range-border-#{$side}::after {
      border-#{$side}: awsui.$border-item-width solid calendar.$grid-selected-border-color;
    }
  }
}

@mixin in-range-border-radius($horizontal, $vertical) {
  &.in-range-border-#{$horizontal}.in-range-border-#{$vertical} {
    @include border-radius($horizontal, $vertical);
  }
}

.grid {
  inline-size: awsui.$size-calendar-grid-width;
  border-spacing: 0;
}
.grid-cell {
  inline-size: calc(100% / 7);
  word-break: break-word;
  text-align: center;
  font-weight: unset;
}
.day-header {
  padding-block-start: awsui.$space-s;
  padding-block-end: awsui.$space-xxs;
  padding-inline: 0;
  color: calendar.$grid-day-name-color;
  @include styles.font-body-s;
}

.week {
  /* used for identifying element */
}

.day {
  border-block-end: calendar.$grid-border;
  border-inline-end: calendar.$grid-border;
  padding-block: awsui.$space-xxs;
  padding-inline: 0;
  color: calendar.$grid-disabled-day-color;
  position: relative;

  &:focus {
    outline: none;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    inset: logical calc(-1 * #{awsui.$border-item-width}) -1px -1px calc(-1 * #{awsui.$border-item-width});
    background-color: transparent;
  }

  @include focus-visible.when-visible {
    z-index: 2;
    @include styles.focus-highlight(
      awsui.$space-calendar-grid-focus-outline-gutter,
      awsui.$border-radius-calendar-day-focus-ring
    );
  }

  > .day-inner {
    position: relative;
    z-index: 1;
  }
}

.in-first-row:not(.in-previous-month) {
  border-block-start: calendar.$grid-border;
}

.in-previous-month:not(.last-day-of-month) {
  border-inline-end-color: transparent;
}

.in-next-month {
  border-color: transparent;
}

.in-first-column {
  border-inline-start: 1px solid transparent;

  &.in-current-month {
    border-inline-start: calendar.$grid-border;
  }
}

.enabled {
  cursor: pointer;

  &.in-current-month {
    color: calendar.$grid-day-color;
    &:not(.in-range),
    &.end-date.start-date,
    &.no-range {
      &,
      &::after {
        border-radius: awsui.$border-radius-item;
      }
    }
    &:hover {
      color: awsui.$color-text-calendar-day-hover;
      background-color: calendar.$grid-hover-background-color;
      &:not(.selected) {
        &::after {
          border-block: awsui.$border-item-width solid calendar.$grid-hover-border-color;
          border-inline: awsui.$border-item-width solid calendar.$grid-hover-border-color;
        }
      }
    }
  }
}

.today:not(.in-range) {
  background-color: calendar.$grid-today-background-color;
  border-radius: awsui.$border-radius-item;
  font-weight: styles.$font-weight-bold;
}

.selected {
  border-color: transparent;
  position: relative;
  z-index: 2;
  font-weight: styles.$font-weight-bold;
  @include focus-visible.when-visible {
    @include styles.focus-highlight(
      awsui.$space-calendar-grid-selected-focus-outline-gutter,
      awsui.$border-radius-calendar-day-focus-ring,
      calendar.$grid-selected-focused-box-shadow
    );
    &::before {
      z-index: 1;
    }
  }

  &::after {
    background-color: calendar.$grid-selected-background-color;
    border-block: awsui.$border-item-width solid calendar.$grid-selected-border-color;
    border-inline: awsui.$border-item-width solid calendar.$grid-selected-border-color;
    z-index: 0;
  }

  &.start-date,
  &.range-start-date {
    @include border-radius(top, left);
    &.in-range-border-bottom {
      @include border-radius(bottom, left);
    }
  }

  &.end-date,
  &.range-end-date {
    @include border-radius(bottom, right);
    &.in-range-border-top {
      @include border-radius(top, right);
    }
  }

  > .day-inner {
    color: calendar.$grid-selected-text-color;
    position: relative;
    z-index: 2;
  }
}

.in-range {
  background-color: calendar.$grid-in-range-background-color;
  font-weight: styles.$font-weight-bold;
  @include in-range-borders;

  @include in-range-border-radius(top, right);
  @include in-range-border-radius(bottom, right);
  @include in-range-border-radius(bottom, left);
  @include in-range-border-radius(top, left);
}
