/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../internal/styles' as styles;
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../constants.scss' as constants;

// This wrapper clips the actual navigation content during the enter animation.
.navigation-container {
  position: sticky;
  z-index: constants.$drawer-z-index;
  background-color: awsui.$color-background-container-content;
  inset-block-end: 0;
  overflow-x: hidden;
  word-wrap: break-word;
  pointer-events: auto;
  display: flex;
  flex-direction: column;

  // All content is hidden by the overflow-x property
  &:not(.is-navigation-open) {
    inline-size: 0px;
    // We need to hide the closed panel to make containing focusable elements not focusable anymore.
    display: none;
  }

  & > .navigation {
    flex-grow: 1;
    block-size: 100%;
    overflow-y: auto;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    overscroll-behavior-y: contain;
    // Needs to have a fixed width during the enter animation, in which it will be cropped by its parent.
    inline-size: var(#{custom-props.$navigationWidth});
    // Necessary for the hide-navigation button to be positioned correctly when a scrollbar is present.
    position: relative;
  }

  // The Navigation drawer will take up the entire viewport on mobile
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    #{custom-props.$navigationWidth}: 100vw;
    z-index: constants.$drawer-z-index-mobile;
  }
}

.hide-navigation {
  position: absolute;
  inset-inline-end: awsui.$space-m;
  inset-block-start: constants.$toolbar-vertical-panel-icon-offset;
}
