/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

.drag-button {
  @include styles.with-motion {
    @include styles.animation-fade-in;
    @include styles.animation-fade-out-0;
  }
}

.drag-button-motion-enter,
.drag-button-motion-entering,
.drag-button-motion-exit,
.drag-button-motion-exiting {
  @include styles.with-motion {
    pointer-events: none;
  }
}

.drag-button-block-start {
  &.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-up awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-up-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
}

.drag-button-block-end {
  &.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-down awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-down-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
}

.drag-button-inline-start {
  &.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-left awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-rtl.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-right awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-left-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-rtl.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-right-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
}

.drag-button-inline-end {
  &.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-right awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-rtl.drag-button-motion-entering {
    @include styles.with-motion {
      animation:
        slide-left awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-in awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-right-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
  &.drag-button-rtl.drag-button-motion-exiting {
    @include styles.with-motion {
      animation:
        slide-left-exit awsui.$motion-duration-expressive awsui.$motion-easing-expressive,
        awsui-motion-fade-out-0 awsui.$motion-duration-expressive awsui.$motion-easing-expressive;
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-up-exit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}

@keyframes slide-down {
  0% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-down-exit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -20px);
  }
}

@keyframes slide-left {
  0% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-left-exit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}

@keyframes slide-right {
  0% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-right-exit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, 0);
  }
}
