/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/styles' as styles;
@use '../../constants.scss' as constants;

.drawer {
  position: sticky;
  z-index: 830;
  background-color: awsui.$color-background-container-content;
  display: grid;
  grid-template-columns: awsui.$space-m 1fr;

  block-size: 100%;
  overflow: hidden;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-y: contain;
  pointer-events: auto;
  word-wrap: break-word;

  > .drawer-content-container {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: awsui.$space-m 1fr auto awsui.$space-m;
    grid-template-rows: awsui.$size-vertical-panel-icon-offset auto 1fr;
    overflow-y: auto;

    > .drawer-close-button {
      grid-column: 3;
      grid-row: 2;
      z-index: 1;
    }

    > .drawer-content {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      &.drawer-content-hidden {
        display: none;
      }
    }
  }

  > .drawer-slider {
    grid-column: 1;
    grid-row: 1;
    block-size: 100%;
    display: flex;
    align-items: center;
  }
}
