/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/index' as styles;
@use '../../internal/styles/tokens' as awsui;

//stylelint-disable-next-line selector-combinator-disallowed-list,selector-max-universal
.resize-active:not(.resize-active-with-focus) * {
  cursor: col-resize;
  user-select: none;
}

$handle-width: awsui.$space-l;
$active-separator-width: 2px;

.resizer {
  bottom: 0;
  cursor: col-resize;
  position: absolute;
  right: calc(-1 * #{$handle-width} / 2);
  top: 0;
  width: $handle-width;
  z-index: 10;
  //stylelint-disable-next-line selector-combinator-disallowed-list
  .resize-active & {
    pointer-events: none;
  }
  th:last-child > & {
    width: calc(#{$handle-width} / 2);
    right: 0;
  }
  th:not(:last-child) > & {
    &:hover,
    &-active {
      &::before {
        content: '';
        position: absolute;
        left: calc(#{$handle-width} / 2 - #{$active-separator-width});
        bottom: 25%;
        height: 50%;
        box-sizing: border-box;
        border-left: $active-separator-width solid awsui.$color-border-divider-active;
      }
    }
  }
  &.has-focus {
    outline: none;
    border-color: awsui.$color-border-item-focused;
    box-shadow: inset 0 0 0 2px awsui.$color-border-item-focused;
  }
}

.tracker {
  display: none;
  position: absolute;
  border-left: awsui.$border-divider-list-width dashed awsui.$color-border-divider-active;
  width: 0;
  top: 0;
  bottom: 0;
  //stylelint-disable-next-line selector-combinator-disallowed-list
  .resize-active & {
    display: block;
  }
}
