/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/index' as styles;
@use '../../internal/styles/tokens' as awsui;

//stylelint-disable-next-line selector-combinator-disallowed-list,selector-max-universal
.resize-active:not(.resize-active-with-focus) * {
  cursor: col-resize;
  user-select: none;
}

$handle-width: awsui.$space-l;
$active-separator-width: 2px;

th:not(:last-child) > .divider {
  $gap: calc(2 * #{awsui.$space-xs} + #{awsui.$space-xxxs});

  position: absolute;
  outline: none;
  pointer-events: none;
  right: 0;
  bottom: 0;
  top: 0;
  min-height: awsui.$line-height-heading-xs;
  max-height: calc(100% - #{$gap});
  margin: auto;
  border-left: awsui.$border-divider-section-width solid awsui.$color-border-divider-interactive-default;
  box-sizing: border-box;

  &-disabled {
    border-left-color: awsui.$color-border-divider-default;
  }
  &-active {
    border-left: $active-separator-width solid awsui.$color-border-divider-active;
  }
}

.resizer {
  @include styles.styles-reset;
  border: none;
  background: none;
  inset-block: 0;
  cursor: col-resize;
  position: absolute;
  inset-inline-end: calc(-1 * #{$handle-width} / 2);
  inline-size: $handle-width;
  z-index: 10;
  &:focus {
    outline: none;
    text-decoration: none;
  }
  //stylelint-disable-next-line selector-combinator-disallowed-list
  .resize-active & {
    pointer-events: none;
  }
  th:last-child > & {
    inline-size: calc(#{$handle-width} / 2);
    inset-inline-end: 0;
  }
  &:hover + .divider {
    border-inline-start: $active-separator-width solid awsui.$color-border-divider-active;
  }
  // stylelint-disable-next-line selector-combinator-disallowed-list
  body[data-awsui-focus-visible='true'] &.has-focus {
    @include styles.focus-highlight(calc(#{awsui.$space-table-header-focus-outline-gutter} - 2px));
    position: absolute;
  }
}

.tracker {
  display: none;
  position: absolute;
  border-inline-start: awsui.$border-divider-list-width dashed awsui.$color-border-divider-active;
  inline-size: 0;
  inset-block: 0;
  //stylelint-disable-next-line selector-combinator-disallowed-list
  .resize-active & {
    display: block;
  }
}
