/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles/tokens' as awsui;
@use '../../styles' as styles;

.wrapper {
  @include styles.styles-reset;
  position: relative;
  display: block;
}

.has-default-filter {
  & > :first-child {
    flex: 280px 0 1;
  }
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content--reserve-filter {
  margin-top: calc(2 * #{awsui.$font-body-m-line-height});
}

.content--reserve-legend {
  margin-bottom: calc(2 * #{awsui.$font-body-m-line-height});
}

.filter-container {
  /* used in test-utils */
}
