/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
.root {
  /* used in test-utils */
}

.textarea {
  /* used in test-utils */
}

.content-editable {
  /* used in test-utils - contentEditable element for token mode */
}

.action-button {
  /* used in test-utils */
}

.primary-action {
  /* used in test-utils */
}

.secondary-actions {
  /* used in test-utils */
}

.secondary-content {
  /* used in test-utils */
}
