/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../container/shared' as container;

@use './motion';

.root {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  display: block;
}

.expand-button {
  /* used in test-utils */
}

.icon {
  transform: rotate(-90deg);

  &.expanded {
    transform: rotate(0deg);
  }
}

.icon-container {
  position: relative;
  margin-left: calc((#{awsui.$font-body-m-line-height} - #{awsui.$size-icon-normal}) / -2);
  // For vertical alignment of text in side navigation items
  margin-right: calc(#{awsui.$space-xxs} + #{awsui.$border-divider-list-width});
  &-container {
    margin-right: awsui.$space-xs;
  }
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  border: none;
  width: 100%;
  line-height: awsui.$font-body-m-line-height;
  text-align: left;

  &-default {
    padding: awsui.$space-scaled-xxs awsui.$space-xxs;
  }

  &-footer {
    // We remove left and right padding here to better align the carat icon
    padding: awsui.$space-scaled-xxs 0;
  }

  &-default,
  &-footer {
    border: awsui.$border-divider-section-width solid transparent;
  }
  &-navigation {
    // not needed for focus ring compensation, but to keep this variant vertically aligned with other variants when used together
    border-left: awsui.$border-divider-section-width solid transparent;
  }

  &-default,
  &-navigation,
  &-footer {
    color: awsui.$color-text-expandable-section-default;
    font-weight: awsui.$font-heading-s-weight;
    @include styles.font-smoothing;
    font-size: awsui.$font-expandable-heading-size;
    letter-spacing: awsui.$font-heading-s-letter-spacing;
    &:hover {
      color: awsui.$color-text-expandable-section-hover;
    }
  }

  &-container {
    padding: container.$header-padding;

    @include focus-visible.when-visible {
      // HACK: Remediate focus border
      padding: container.$header-focus-visible-padding;
    }
  }

  &-default.wrapper-expanded {
    border-bottom-color: awsui.$color-border-divider-default;
  }
}

.header {
  display: flex;

  &-wrapper {
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
  }

  &-button {
    box-sizing: border-box;
    display: flex;
  }

  &-button,
  &-container-button {
    @include focus-visible.when-visible {
      @include styles.focus-highlight(0px);
    }
  }

  &:not(.with-interactive-elements) {
    cursor: pointer;
  }

  &-container {
    width: 100%;
    // The icon-container style is kept for variant='container' and header
    > .icon-container {
      margin-top: awsui.$space-expandable-section-icon-offset-top;
    }

    // stylelint-disable-next-line selector-combinator-disallowed-list
    &.with-interactive-elements &-button {
      cursor: pointer;
    }
  }

  &-navigation {
    > .icon-container {
      display: inline-flex;
      cursor: pointer;
      color: awsui.$color-text-expandable-section-navigation-icon-default;
      border: 0;
      padding: 0;
      background: transparent;
      outline: none;
      text-decoration: none;
      flex-direction: column;

      &:hover {
        color: awsui.$color-text-expandable-section-hover;
      }

      @include focus-visible.when-visible {
        @include styles.focus-highlight(2px);
      }
    }
  }
}

.content {
  display: none;

  &-default {
    padding: awsui.$space-scaled-xs 0;
  }

  &-footer {
    padding: awsui.$space-xs 0;
  }

  &-expanded {
    display: block;
  }
}

.focusable {
  &:focus {
    outline: none;
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.form-focus-element(awsui.$border-radius-control-default-focus-ring);
  }
}
