/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../container/shared' as container;

@use './motion';

$icon-width-normal: awsui.$size-icon-normal;
$icon-width-medium: awsui.$size-icon-medium;
$icon-margin-left: '(#{awsui.$line-height-body-m} - #{$icon-width-normal}) / -2';
$icon-margin-right-normal: '#{awsui.$space-xxs} + #{awsui.$border-divider-list-width}';
$icon-margin-right-medium: awsui.$space-xs;

// Total space occupied by the expand icon on the left and its margins.
// Useful to keep elements correctly aligned.
$icon-total-space-normal: calc(#{$icon-width-normal} + #{$icon-margin-left} + #{$icon-margin-right-normal});
$icon-total-space-medium: calc(#{$icon-width-medium} + #{$icon-margin-left} + #{$icon-margin-right-medium});

.root {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  display: block;
}

.expand-button {
  /* used in test-utils */
}

.icon {
  transform: rotate(-90deg);

  &.expanded {
    transform: rotate(0deg);
  }
}

.icon-container {
  position: relative;
  margin-left: calc(#{$icon-margin-left});
  // For vertical alignment of text in side navigation items
  margin-right: calc(#{$icon-margin-right-normal});
  &-container {
    margin-right: $icon-margin-right-medium;
  }
}

.wrapper {
  box-sizing: border-box;
  border: none;
  width: 100%;
  line-height: awsui.$line-height-body-m;
  text-align: left;

  &-default,
  &-footer {
    border: awsui.$border-divider-section-width solid transparent;
  }
  &-navigation {
    // not needed for focus ring compensation, but to keep this variant vertically aligned with other variants when used together
    border-left: awsui.$border-divider-section-width solid transparent;
  }

  &-navigation,
  &-container {
    display: flex;
    font-weight: awsui.$font-weight-heading-s;
  }

  &-default,
  &-navigation,
  &-footer,
  &-compact {
    color: awsui.$color-text-expandable-section-default;
    @include styles.font-smoothing;
  }

  &-default,
  &-navigation,
  &-footer {
    font-size: awsui.$font-expandable-heading-size;
    letter-spacing: awsui.$letter-spacing-heading-s;
  }

  &-default {
    padding-top: awsui.$space-scaled-xxs;
    padding-bottom: awsui.$space-scaled-xxs;
    padding-right: awsui.$space-xxs;
    &.header-deprecated {
      padding-left: awsui.$space-xxs;
    }
    &:not(.header-deprecated) {
      padding-left: calc(#{awsui.$space-xxs} + #{$icon-total-space-normal});
    }
  }

  &-footer {
    padding-top: awsui.$space-scaled-xxs;
    padding-bottom: awsui.$space-scaled-xxs;
  }

  &-footer,
  &-compact {
    padding-right: 0;
    &.header-deprecated {
      padding-left: 0;
    }
    &:not(.header-deprecated) {
      padding-left: $icon-total-space-normal;
    }
  }

  &-container {
    padding-top: awsui.$space-container-header-top;
    padding-bottom: awsui.$space-container-header-bottom;
    padding-right: container.$header-padding-horizontal;

    &:not(.wrapper-expanded) {
      // Equal top and bottom padding so standalone header has vertical symmetry.
      padding-bottom: awsui.$space-container-header-top;
    }
    &.header-deprecated {
      padding-left: container.$header-padding-horizontal;
    }
    &:not(.header-deprecated) {
      padding-left: calc(#{container.$header-padding-horizontal} + #{$icon-total-space-medium});
    }

    @include focus-visible.when-visible {
      // HACK: Remediate focus border
      padding: container.$header-focus-visible-padding;
    }
  }

  &-default.wrapper-expanded {
    border-bottom-color: awsui.$color-border-divider-default;
  }
}

.header {
  /* used in test-utils */

  &-wrapper,
  &-deprecated {
    display: flex;
    font-weight: awsui.$font-weight-heading-s;
  }

  &-wrapper {
    font-size: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
  }

  &-actions-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  &-button,
  &-container-button {
    @include focus-visible.when-visible {
      @include styles.focus-highlight(0px);
    }
  }

  &-button {
    box-sizing: border-box;
    display: flex;
    margin-left: calc(-1 * #{$icon-total-space-normal});
  }

  &-container-button {
    margin-left: calc(-1 * #{$icon-total-space-medium});
  }

  &-container {
    width: 100%;
    // The icon-container style is kept for variant='container' and header
    > .icon-container {
      margin-top: awsui.$space-expandable-section-icon-offset-top;
    }
  }

  &-navigation {
    > .icon-container {
      display: inline-flex;
      cursor: pointer;
      color: awsui.$color-text-expandable-section-navigation-icon-default;
      border: 0;
      padding: 0;
      background: transparent;
      outline: none;
      text-decoration: none;
      flex-direction: column;

      &:hover {
        color: awsui.$color-text-expandable-section-hover;
      }

      @include focus-visible.when-visible {
        @include styles.focus-highlight(2px);
      }
    }
  }

  &-text {
    /* used in test-utils */
  }
}

.content {
  display: none;

  &-default {
    padding: awsui.$space-scaled-xs 0;
  }

  &-footer {
    padding: awsui.$space-xs 0;
  }

  &-expanded {
    display: block;
  }

  &-compact {
    padding-left: $icon-total-space-normal;
  }
}

.focusable {
  &:focus {
    outline: none;
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.form-focus-element(awsui.$border-radius-control-default-focus-ring);
  }
}

.click-target {
  cursor: pointer;
  &:not(.wrapper-container):not(.header-container-button):hover {
    color: awsui.$color-text-expandable-section-hover;
  }
}
