/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

.dropdown-content-wrapper {
  @include styles.with-motion {
    @include styles.animation-fade-in-dropdown;
    animation: awsui-motion-fade-in-dropdown awsui.$motion-duration-show-quick awsui.$motion-easing-show-quick;
  }

  &.refresh {
    transform-origin: top;
    @include styles.with-motion {
      @include styles.animation-fade-in-0;

      animation-name: awsui-motion-fade-in-0;
      animation-duration: awsui.$motion-duration-show-quick;
      animation-timing-function: awsui.$motion-easing-show-quick;
    }
  }
}
