/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';
@use '../../generated/custom-css-properties/index' as custom-props;

.root {
  @include styles.styles-reset;
  position: relative;
  white-space: inherit;

  &.interior {
    position: static;
  }
}

.dropdown {
  position: absolute;
  display: none;
  // Needs to be higher than a global navigation element
  z-index: 2000;
  user-select: none;
  transform-origin: top;

  // When used in portal we need z-index to be higher than modal's
  &.use-portal {
    z-index: 7000;
  }

  &:not(.interior) {
    transform: translateY(0px);
    @include styles.with-motion {
      transition: transform awsui.$motion-duration-show-quick;
    }
  }

  &-content-wrapper {
    position: relative;
    background-color: awsui.$color-background-dropdown-item-default;
    outline: none;
    @include styles.dropdown-shadow;
    // HACK: because of the issues with IE's box shadow rendering we draw
    // a border and don't mind the pixel fitting
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      border-block: styles.$control-border-width solid awsui.$color-border-container-top;
      border-inline: styles.$control-border-width solid awsui.$color-border-container-top;
    }

    border-block-end: none;

    // Don't show dropdown border when there's no dropdown content
    &.is-empty::after {
      display: none;
    }
  }

  &-drop-up {
    > .dropdown-content-wrapper {
      transform-origin: bottom;
      box-shadow: awsui.$shadow-dropup;
    }

    &.with-limited-width > .dropdown-content-wrapper {
      border-block-start: none;
    }
  }
  &-drop-left {
    inset-inline-end: 0;
  }
  &-drop-right {
    inset-inline-start: 0;
  }
  &.occupy-entire-width {
    min-inline-size: 100%;
  }
  &.stretch-beyond-trigger-width {
    inline-size: max-content;
    max-inline-size: var(#{custom-props.$dropdownDefaultMaxWidth}, 100%);
  }
  &.hide-upper-border > .dropdown-content-wrapper {
    border-block-start: none;
  }
  &.interior > .dropdown-content-wrapper {
    margin-block-start: -1px;
    border-block-start: awsui.$border-divider-list-width solid awsui.$color-border-container-top;
  }
  &.open {
    display: block;

    &:not(.interior).refresh[data-animating='true'] {
      transform: translateY(4px);

      &.dropdown-drop-up {
        transform: translateY(-4px);
      }
    }
    &.nowrap {
      white-space: nowrap;
      // Taking into account width of scroll element
      overflow: scroll;
    }
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.stretch-trigger-height {
  block-size: 100%;
}

/*
Unset the logical position of the dropdown in RTL for the 
left and right drop positions. The document flow
of the browser will compute the placement automatically.
*/
/* stylelint-disable plugin/no-unsupported-browser-features */
@supports selector(:dir(rtl)) {
  .dropdown:dir(rtl):is(.dropdown-drop-left, .dropdown-drop-right) {
    inset-inline-end: unset;
    inset-inline-start: unset;
  }
}
/* stylelint-enable plugin/no-unsupported-browser-features */

/* stylelint-disable selector-combinator-disallowed-list */
@supports not selector(:dir(rtl)) {
  [dir='rtl'] :is(.dropdown-drop-left, .dropdown-drop-right) {
    inset-inline-end: unset;
    inset-inline-start: unset;
  }
}
/* stylelint-enable selector-combinator-disallowed-list */
