/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root {
  @include styles.styles-reset;

  > .list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;

    > .container {
      display: grid;
      grid-template-columns: awsui.$space-static-l 1fr;
      grid-template-rows: minmax(awsui.$space-static-l, auto);

      > .header {
        grid-row: 1;
        grid-column: 1 / span 2;
      }

      > .details {
        align-items: center;
        grid-row: 2;
        grid-column: 2;
        margin-block-end: awsui.$space-static-xs;
      }

      > .connector {
        grid-row: 2;
        grid-column: 1;
        background-color: awsui.$color-border-divider-default;
        margin-block: 0;
        border-block: 0;
        border-inline: 0;
        inline-size: awsui.$border-divider-list-width;
        block-size: auto;
        min-block-size: awsui.$space-static-xs;
        position: relative;
        inset-inline-end: awsui.$space-static-xxxs;
      }
    }

    > :last-of-type > .connector {
      display: none;
    }
  }
}

.horizontal {
  > .list {
    display: grid;
    align-items: flex-start;

    justify-content: space-between;

    > .container {
      display: grid;
      grid-template-columns: awsui.$space-static-l 1fr;
      grid-template-rows: minmax(awsui.$space-static-l, auto);
      flex: 1;

      > .header {
        display: flex;
        grid-row: 1;
        grid-column: 1 / span 2;
        align-items: center;

        > .connector {
          display: block;
          flex: 1;
          background-color: awsui.$color-border-divider-default;
          margin-block: 0;
          border-block: 0;
          border-inline: 0;

          block-size: awsui.$border-divider-list-width;
          inline-size: auto;
          min-inline-size: awsui.$space-static-xs;
          margin-inline: awsui.$space-static-xxxs;
        }
      }

      > .details {
        display: flex;
        grid-column: 2;
      }

      &.custom > .details {
        grid-column: span 2;
      }
    }

    > .container:last-child {
      > .header > .connector {
        display: none;
      }
    }
  }
}

/*
.horizontal {
  > .list {
    display: grid;
    grid-template-rows: [header] auto [line] min-content [details] auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    > .container {
      // display: contents;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      // text-align: center;

      > .header {
        grid-row: header;
        display: flex;
        justify-content: center;
      }

      > .details {
        grid-row: details;
        display: flex;
        justify-content: center;
      }

      > .connector {
        grid-row: line;
        position: relative;
        display: flex;
        align-items: center;

        &::after,
        &::before {
          display: block;
          flex: 1;
          content: '';

          background-color: awsui.$color-border-divider-default;
          margin-block: 0;
          border-block: 0;
          border-inline: 0;
          block-size: awsui.$border-divider-list-width;
          inline-size: auto;
          min-inline-size: awsui.$space-static-xs;
          position: relative;
        }

        &::after {
          // flex: 1;
        }
      }
    }

    .container:first-child {
      // text-align: left;

      > .connector::before {
        // display: none;
      }
    }
    .container:last-child {
      > .connector::after {
        // display: none;
      }
    }
  }
}
*/
