/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../internal/styles' as styles;
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/generated/custom-css-properties' as custom-props;

section.split-panel-side {
  position: sticky;
  z-index: 830;
}
