{
  "extends": "../../../.stylelintrc",
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignorePartialSupport": true,
        "browsers": [
          "last 3 Chrome major versions",
          "last 3 Firefox major versions",
          "last 3 Edge major versions",
          "last 3 Safari major versions"
        ]
      }
    ]
  }
}
