/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

div.background {
  display: contents;

  > .scrolling-background {
    background-color: awsui.$color-background-layout-main;
    color: awsui.$color-text-body-default;
    grid-column: 1 / span 5;
    grid-row: 1 / 10;
  }

  > .sticky-background {
    background-color: awsui.$color-background-layout-main;
    grid-column: 1 / span 5;
    grid-row: 1 / 10;
    position: sticky;
    top: var(#{custom-props.$headerHeight});
    z-index: 799;

    &:not(.has-sticky-notifications) {
      block-size: calc(#{awsui.$space-scaled-s} + var(#{custom-props.$overlapHeight}));
    }

    &.has-sticky-notifications {
      block-size: calc(
        var(#{custom-props.$notificationsGap}) + var(#{custom-props.$notificationsHeight}) + #{awsui.$space-scaled-s} + var(#{custom-props.$overlapHeight})
      );
    }
  }
}
