/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../internal/styles' as styles;

.drawers-container {
  background-color: transparent;
  display: flex;
  grid-column: 5;
  grid-row: 1 / span 5;
  height: var(#{custom-props.$contentHeight});
  pointer-events: none;
  position: sticky;
  top: var(#{custom-props.$offsetTop});
  z-index: 830;

  &.has-open-drawer {
    background-color: awsui.$color-background-container-content;
  }

  @include styles.with-motion {
    transition: awsui.$motion-duration-refresh-only-fast;
    transition-property: background-color;
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    position: fixed;
    right: 0;
    top: var(#{custom-props.$offsetTop});
    z-index: 1001;
  }
}

.drawers-trigger-container {
  @include styles.styles-reset;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xs;
  padding: awsui.$space-scaled-s awsui.$space-layout-toggle-padding;

  &.has-open-drawer {
    background-color: awsui.$color-background-container-content;
    z-index: 1;
  }

  @include styles.with-motion {
    transition: awsui.$motion-duration-refresh-only-fast;
    transition-property: background-color;
  }
}

.drawer {
  background-color: awsui.$color-background-container-content;
  border-color: transparent;
  box-shadow: transparent;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr auto awsui.$space-m;
  grid-template-rows: awsui.$size-vertical-panel-icon-offset auto 1fr;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  pointer-events: auto;
  word-wrap: break-word;

  > .drawer-close-button {
    grid-column: 2;
    grid-row: 2;
  }

  > .drawer-content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    width: 290px;
  }

  &:not(.is-drawer-open) {
    opacity: 0;
    width: 0;
  }

  &.is-drawer-open {
    border-right: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    box-shadow: awsui.$shadow-panel;
    opacity: 1;
    width: 290px;
  }

  @include styles.with-motion {
    transition: awsui.$motion-duration-refresh-only-fast;
    transition-property: border-color, box-shadow, opacity, width;
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-xx-large) {
    width: 320px;
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    width: 100vw;
  }
}
