/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../internal/styles' as styles;
@use '../constants.scss' as constants;

.drawers-container {
  background-color: transparent;
  display: flex;
  grid-column: 5;
  grid-row: 1 / span 10;
  block-size: var(#{custom-props.$contentHeight});
  pointer-events: none;
  position: sticky;
  inset-block-start: var(#{custom-props.$offsetTop});
  z-index: 830;

  &.has-open-drawer {
    background-color: awsui.$color-background-container-content;
    box-shadow: awsui.$shadow-panel;
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    /* stylelint-disable scss/operator-no-newline-after */
    max-inline-size: calc(
      var(#{custom-props.$layoutWidth}) - var(#{custom-props.$mainOffsetLeft}) -
        var(#{custom-props.$defaultMinContentWidth}) - var(#{custom-props.$contentGapRight})
    );
    /* stylelint-enable scss/operator-no-newline-after */
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    position: fixed;
    inset-inline-end: 0;
    z-index: 1001;

    /*
    When disableBodyScroll is true the offsetTop will be relative to the 
    app layout and not the body. However, the drawer position changes 
    to fixed in mobile viewports. The top value needs to include the 
    header because fixed position switches the top value so it is now 
    relative to the body.
    */
    &.disable-body-scroll {
      inset-block-start: var(#{custom-props.$headerHeight});
    }
  }
}

.drawers-desktop-triggers-container {
  @include styles.styles-reset;
  background-color: transparent;
  box-sizing: border-box;
  block-size: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-y: contain;

  &:not(.has-multiple-triggers).has-open-drawer {
    inline-size: 0;
  }

  &.has-multiple-triggers.has-open-drawer {
    background-color: awsui.$color-background-container-content;
  }

  &:not(.has-multiple-triggers):not(.has-open-drawer) {
    inline-size: calc((awsui.$space-layout-toggle-padding * 2) + awsui.$space-layout-toggle-diameter);
  }
}

.drawers-mobile-triggers-container {
  display: flex;
}

.drawers-trigger-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xs;
  padding-block-start: awsui.$space-scaled-s;
  inline-size: calc((awsui.$space-layout-toggle-padding * 2) + awsui.$space-layout-toggle-diameter);

  &:not(.has-multiple-triggers).has-open-drawer {
    opacity: 0;
  }

  &:not(.has-multiple-triggers):not(.has-open-drawer) {
    opacity: 1;
  }

  > .drawers-trigger-overflow {
    padding-block: 0;
    padding-inline: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.drawers-trigger {
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    inline-size: constants.$sidebar-size-closed;
    display: flex;
    justify-content: center;
  }
}

.drawer {
  #{custom-props.$drawerSize}: 290px;
  background-color: awsui.$color-background-container-content;
  border-color: transparent;
  display: grid;
  grid-template-columns: awsui.$space-m 1fr;
  flex-shrink: 0;

  block-size: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-y: contain;
  pointer-events: auto;
  word-wrap: break-word;

  > .drawer-content-container {
    grid-column: 1 / span 2;
    grid-row: 1;
    inline-size: var(#{custom-props.$drawerSize});
    display: grid;
    grid-template-columns: awsui.$space-m 1fr auto awsui.$space-m;
    grid-template-rows: awsui.$size-vertical-panel-icon-offset auto 1fr;
    overflow-y: auto;

    > .drawer-close-button {
      grid-column: 3;
      grid-row: 2;
      z-index: 1;
    }

    > .drawer-content {
      grid-column: 1 / span 4;
      &.drawer-content-hidden {
        display: none;
      }
    }
  }

  > .drawer-slider {
    grid-column: 1;
    grid-row: 1;
    block-size: 100%;
    display: flex;
    align-items: center;
  }

  &:not(.is-drawer-open) {
    opacity: 0;
    inline-size: 0;
  }

  &.is-drawer-open {
    border-inline-start: solid awsui.$border-divider-section-width awsui.$color-border-divider-default;
    border-inline-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    opacity: 1;
    inline-size: var(#{custom-props.$drawerSize});
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-xx-large) {
    &.is-drawer-open {
      #{custom-props.$drawerSize}: 320px;
    }
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    &.is-drawer-open {
      #{custom-props.$drawerSize}: 100vw;
      inline-size: 100vw;
    }
  }
}
