/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../internal/styles' as styles;

.drawers-container {
  background-color: transparent;
  display: flex;
  grid-column: 5;
  grid-row: 1 / span 5;
  height: var(#{custom-props.$contentHeight});
  pointer-events: none;
  position: sticky;
  top: var(#{custom-props.$offsetTop});
  z-index: 830;

  &.has-open-drawer {
    background-color: awsui.$color-background-container-content;
    box-shadow: awsui.$shadow-panel;
  }

  @include styles.with-motion {
    transition: background-color awsui.$motion-duration-refresh-only-fast;
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    /* stylelint-disable scss/operator-no-newline-after */
    max-width: calc(
      var(#{custom-props.$layoutWidth}) - var(#{custom-props.$mainOffsetLeft}) -
        var(#{custom-props.$defaultMinContentWidth}) - var(#{custom-props.$contentGapRight})
    );
    /* stylelint-enable scss/operator-no-newline-after */
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    position: fixed;
    right: 0;
    top: var(#{custom-props.$offsetTop});
    z-index: 1001;
  }
}

.drawers-desktop-triggers-container {
  @include styles.styles-reset;
  background-color: transparent;
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior-y: contain;

  &:not(.has-multiple-triggers).has-open-drawer {
    width: 0;
  }

  &.has-multiple-triggers.has-open-drawer {
    background-color: awsui.$color-background-container-content;

    @include styles.with-motion {
      transition: background-color awsui.$motion-duration-refresh-only-fast;
    }
  }

  &:not(.has-multiple-triggers):not(.has-open-drawer) {
    width: calc((awsui.$space-layout-toggle-padding * 2) + awsui.$space-layout-toggle-diameter);

    @include styles.with-motion {
      transition: width awsui.$motion-duration-refresh-only-fast;
    }
  }
}

.drawers-trigger-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xs;
  padding-top: awsui.$space-scaled-s;
  width: calc((awsui.$space-layout-toggle-padding * 2) + awsui.$space-layout-toggle-diameter);

  &:not(.has-multiple-triggers).has-open-drawer {
    opacity: 0;
  }

  &:not(.has-multiple-triggers):not(.has-open-drawer) {
    opacity: 1;

    @include styles.with-motion {
      transition: opacity awsui.$motion-duration-refresh-only-medium;
      transition-delay: calc(awsui.$motion-duration-refresh-only-fast / 1.5);
    }
  }
}

.drawer {
  #{custom-props.$activeDrawerWidth}: 290px;
  background-color: awsui.$color-background-container-content;
  border-color: transparent;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr auto awsui.$space-m;
  grid-template-rows: awsui.$size-vertical-panel-icon-offset auto 1fr;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  pointer-events: auto;
  word-wrap: break-word;

  > .drawer-close-button {
    grid-column: 2;
    grid-row: 2;
  }

  > .drawer-content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    width: var(#{custom-props.$activeDrawerWidth});
  }

  &:not(.is-drawer-open) {
    opacity: 0;
    width: 0;
  }

  &.is-drawer-open {
    border-right: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    opacity: 1;
    width: var(#{custom-props.$activeDrawerWidth});
  }

  @include styles.with-motion {
    transition: awsui.$motion-duration-refresh-only-fast;
    transition-property: border-color, opacity, width;
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-xx-large) {
    &.is-drawer-open {
      #{custom-props.$activeDrawerWidth}: 320px;
    }
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    &.is-drawer-open {
      #{custom-props.$activeDrawerWidth}: 100vw;
    }
  }
}
