/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../constants' as constants;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

/*
The first and last column definitions have two responsibilities.
If Navigation and/or Tools exist then that will determine the width of
the first and last columns, respectively, and the content in these drawers
will create horizontal space from the center column content. However, if the
navigationHide and/or toolsHide properties have been set then the first
and last column width will default to the minimum content gap properties to
create the necessary visual space around the main content.

The minimum content width property is set to zero and applied under all
circumstances regardless of whether the minContentWidth property is
explicitly set in script.
*/
.layout {
  #{custom-props.$contentGapLeft}: #{awsui.$space-layout-content-horizontal};
  #{custom-props.$contentGapRight}: #{awsui.$space-layout-content-horizontal};
  #{custom-props.$contentHeight}: calc(100vh - var(#{custom-props.$headerHeight}) - var(#{custom-props.$footerHeight}));
  #{custom-props.$defaultMaxContentWidth}: 1280px;
  #{custom-props.$defaultMinContentWidth}: 0px;
  #{custom-props.$footerHeight}: 0px;
  #{custom-props.$headerGap}: 0px;
  #{custom-props.$headerHeight}: 0px;
  #{custom-props.$layoutWidth}: 0px;
  #{custom-props.$mainGap}: 0px;
  #{custom-props.$mainOffsetLeft}: 0px;
  #{custom-props.$mainTemplateRows}: 1fr;
  #{custom-props.$maxContentWidth}: 0px;
  #{custom-props.$minContentWidth}: 280px;
  #{custom-props.$mobileBarHeight}: calc(2 * #{awsui.$space-m} + #{awsui.$space-scaled-xs});
  #{custom-props.$toolbarHeight}: 48px;
  #{custom-props.$notificationsGap}: 0px;
  #{custom-props.$notificationsHeight}: 0px;
  #{custom-props.$offsetTop}: calc(var(#{custom-props.$headerHeight}) + var(#{custom-props.$toolbarHeight}));
  #{custom-props.$overlapHeight}: #{awsui.$space-dark-header-overlap-distance};
  background-color: awsui.$color-background-layout-main;
  color: awsui.$color-text-body-default;
  display: grid;
  grid-template-areas:
    '. . universalToolbar . . .'
    '. . notificationsGap . splitPanel .'
    '. . notifications . splitPanel .'
    '. . headerGap . splitPanel .'
    '. . header . splitPanel .'
    '. . mainGap . splitPanel .'
    '. . main . splitPanel .'
    '. . main . splitPanel .';
  grid-template-columns:
    min-content
    minmax(var(#{custom-props.$contentGapLeft}), 1fr)
    minmax(var(#{custom-props.$defaultMinContentWidth}), var(#{custom-props.$defaultMaxContentWidth}))
    minmax(var(#{custom-props.$contentGapRight}), 1fr)
    min-content
    min-content;
  grid-template-rows:
    48px // universalToolbar template area
    var(#{custom-props.$notificationsGap})
    auto // notifications template area
    var(#{custom-props.$headerGap})
    auto // contentHeader template area
    var(#{custom-props.$mainGap})
    var(#{custom-props.$overlapHeight}) // main template area with overlap
    var(#{custom-props.$mainTemplateRows}); // main template area
  min-block-size: var(#{custom-props.$contentHeight});
  position: relative;

  /*
  Add unified max-width for AppLayout content based on breakpoints. Only use the max content 
  width custom property for the middle column definition if the maxContentWidth property 
  has been explicitly set to a non-zero value and subsequently set the has-max-content-width 
  data attribute to true.
  */
  &:not(.has-max-content-width) {
    @each $breakpoint, $width in constants.$adaptive-content-widths {
      @include styles.media-breakpoint-up($breakpoint) {
        #{custom-props.$defaultMaxContentWidth}: $width;
      }
    }
    &.content-type-dashboard {
      @each $breakpoint, $width in constants.$dashboard-content-widths {
        @include styles.media-breakpoint-up($breakpoint) {
          #{custom-props.$defaultMaxContentWidth}: $width;
        }
      }
    }
    &.content-type-table,
    &.content-type-cards {
      #{custom-props.$defaultMaxContentWidth}: 100%;
    }
  }

  /*
  Only use the max content width custom property for the middle column definition
  if the maxContentWidth property has been explicitly set to a non-zero value and
  subsequently set the has-max-content-width data attribute to true.
  */
  &.has-max-content-width {
    #{custom-props.$defaultMaxContentWidth}: var(#{custom-props.$maxContentWidth});
  }

  // Override the dark header overlap height property if disableContentHeaderOverlap is true.
  &.is-overlap-disabled {
    #{custom-props.$overlapHeight}: 0;
  }

  &.is-hide-mobile-toolbar {
    #{custom-props.$mobileBarHeight}: 0px;
    #{custom-props.$toolbarHeight}: 0px;
  }

  /*
  Warning! This is a hack! We are implementing a short term fix to prevent the
  tools drawer from potentially getting pushed off screen. Currently there is no
  protection against a navigationWidth, minContentWidth, and toolsWidth that are
  in excess ove the available space in the viewport. To accomodate this we remove
  the minContentWidth and set it to zero in small viewports and below until the
  isMobile breakpoint sets the drawers to overlay at 100vw.
  */
  @include styles.media-breakpoint-up(styles.$breakpoint-small) {
    #{custom-props.$defaultMinContentWidth}: var(#{custom-props.$minContentWidth}, 280px);
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-small) {
    #{custom-props.$defaultMinContentWidth}: 0px;
  }

  /*
  In desktop viewports the content gap property for the left and right
  columns should override the default of zero if the navigationHide
  or toolsHide property is set. This ensures adequate horizontal space
  for the center column from the edges of the viewport when there is
  not left or right content.
  
  Warning! If these design tokens change it will adversely impact the 
  calculation used to determine the Split Panel maximum width in the 
  handleSplitPanelMaxWidth function in the context.
  */
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    &.has-content-gap-left {
      #{custom-props.$contentGapLeft}: #{awsui.$space-scaled-l};
    }

    &.has-content-gap-right {
      #{custom-props.$contentGapRight}: #{awsui.$space-scaled-l};
    }
  }

  &.has-notifications {
    #{custom-props.$notificationsGap}: #{awsui.$space-scaled-xs};
  }

  &.has-header {
    #{custom-props.$headerGap}: #{awsui.$space-scaled-s};
    // Set the Main gap when it follows the Header
    #{custom-props.$mainGap}: #{awsui.$space-content-header-padding-bottom};
  }

  // Set the Main gap when it follows the Notifications
  &.has-notifications:not(.has-header),
  // Set the Main gap when it is the first page content
  &:not(.has-notifications):not(.has-header):not(.is-overlap-disabled),
  &:not(.has-notifications):not(.has-header).is-overlap-disabled:not(.disable-content-paddings) {
    #{custom-props.$mainGap}: #{awsui.$space-scaled-s};
  }
}

/*
If disableBodyScroll is true (very uncommon use case) then the AppLayout component 
and not the document body will be the scrollable element. This requires a fixed height 
instead of a minimum height with a vertical scroll policy. The offset top value for 
components with position: sticky (MobileToolbar, Navigation, Notifications, Tools) will be 
set zero since the AppLayout is nearest scrollable parent and any existing header does 
not matter. The offset top value for AppLayout contentMain children with 
position: sticky will be the value of the notifications height in addition to the 
notifications top margin and some additional vertical space for aesthetics.
*/
.layout.disable-body-scroll {
  #{custom-props.$mainTemplateRows}: 1fr auto;
  #{custom-props.$headerHeight}: 0px;
  #{custom-props.$offsetTop}: 0px;
  block-size: var(#{custom-props.$contentHeight});
  overflow-y: scroll;

  &.has-split-panel.split-panel-position-bottom {
    #{custom-props.$mainTemplateRows}: repeat(2, auto);
  }
}

/*
This CSS class is applied to the document body to prevent overflow scrolling
when the navigation or tools drawers are open in responsive viewports.
*/
.block-body-scroll {
  overflow: hidden;
}

// Prevent content that is visually hidden behind drawers and content area in mobile view from receiving focus
/* stylelint-disable selector-max-universal, selector-combinator-disallowed-list */
.unfocusable,
.unfocusable * {
  visibility: hidden !important;
}
/* stylelint-enable selector-max-universal, selector-combinator-disallowed-list */
