/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

section.mobile-toolbar {
  align-items: center;
  background-color: awsui.$color-background-layout-main;
  border-block-end: 1px solid awsui.$color-border-divider-default;
  box-shadow: awsui.$shadow-sticky;
  box-sizing: border-box;
  block-size: var(#{custom-props.$mobileBarHeight});
  display: grid;
  grid-area: mobileToolbar;
  grid-column: 1 / span 5;
  grid-template-columns: auto minmax(0, 1fr) auto;
  padding-block: 0;
  padding-inline: awsui.$space-m;
  position: sticky;
  inset-block-start: var(#{custom-props.$headerHeight});
  z-index: 1000;
  &:not(.remove-high-contrast-header) {
    background-color: awsui.$color-background-layout-main;
    box-shadow: awsui.$shadow-panel-toggle;
  }

  > .mobile-toolbar-nav {
    grid-column: 1;
    margin-inline-end: awsui.$space-m;
  }

  > .mobile-toolbar-breadcrumbs {
    grid-column: 2;
    background-color: awsui.$color-background-layout-main;
  }

  > .mobile-toolbar-tools {
    grid-column: 3;
    margin-inline-start: awsui.$space-m;
  }
}
