/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

.navigation-trigger-container {
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 5;
  height: awsui.$space-layout-toggle-diameter;
  margin: awsui.$space-scaled-s awsui.$space-layout-toggle-padding 0;
  position: sticky;
  top: var(#{custom-props.$offsetTop});
  width: awsui.$space-layout-toggle-diameter;
  z-index: 850;

  &.is-navigation-open {
    @include styles.with-motion {
      opacity: 0;
      transition: 0;
    }
  }

  &:not(.is-navigation-open) {
    @include styles.with-motion {
      opacity: 1;
      transition: awsui.$motion-duration-refresh-only-slow;
    }
  }

  > .navigation-trigger {
    grid-column: 2;
  }
}

.navigation-drawer {
  #{custom-props.$navigationWidth}: 280px;
  background-color: awsui.$color-background-container-content;
  box-shadow: awsui.$shadow-panel;
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 5;
  grid-template-columns: 1fr auto awsui.$space-m;
  grid-template-rows: awsui.$size-vertical-panel-icon-offset auto 1fr;
  height: var(#{custom-props.$contentHeight});
  overflow-x: hidden;
  position: sticky;
  top: var(#{custom-props.$offsetTop});
  z-index: 850;

  @include styles.with-motion {
    transition: awsui.$motion-duration-refresh-only-fast;
  }

  &:not(.is-navigation-open) {
    opacity: 0;
    width: 0;
  }

  &.is-navigation-open {
    opacity: 1;
    width: var(#{custom-props.$navigationWidth});
  }

  > .navigation-close-button {
    grid-column: 2;
    grid-row: 2;
  }

  > .navigation-content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    width: var(#{custom-props.$navigationWidth});
  }

  @include styles.media-breakpoint-up(styles.$breakpoint-xx-large) {
    #{custom-props.$navigationWidth}: 320px;
  }

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    #{custom-props.$navigationWidth}: 100vw;
    left: 0;
    position: fixed;
    z-index: 1001;
  }
}
