/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

.notifications {
  color: awsui.$color-text-body-default;
  grid-area: notifications;
  z-index: 850;

  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    &.sticky-notifications {
      #{custom-props.$flashbarStickyBottomMargin}: #{awsui.$space-xxl};
      position: sticky;
      top: calc(var(#{custom-props.$offsetTop}) + #{awsui.$space-xs});
    }
  }
}

/*
Cloudscape User Settings
Category: Layout
Property: Notifications
*/
/* stylelint-disable */
body[data-user-settings-layout-notifications-position='bottom-right'] .notifications {
  align-self: end;
  bottom: calc(var(#{custom-props.$footerHeight}) + awsui.$space-m);
  grid-column: 3 / 6;
  grid-row: 10;
  justify-self: end;
  position: sticky;
  width: 600px;
  z-index: 841;
}
/* stylelint-enable */
