/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

.notifications {
  color: awsui.$color-text-body-default;
  grid-area: notifications;
  z-index: 850;

  /*
  #{awsui.$space-xs} token needs to align with the $offsetTopWithNotifications 
  calculation in the layout CSS. 
  */
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    &.sticky-notifications {
      position: sticky;
      top: calc(var(#{custom-props.$offsetTop}) + #{awsui.$space-xs});
      #{custom-props.$flashbarStickyBottomMargin}: #{awsui.$space-xxl};
    }
  }

  // In mobile viewports the notifications should never be sticky even if the property is set.
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    &.sticky-notifications {
      position: static;
    }
  }
}
