/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../../internal/styles' as styles;
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../constants' as constants;

@mixin desktop-only {
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    @content;
  }
}

@mixin mobile-only {
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    @content;
  }
}

@mixin grid-column-full-content-width {
  grid-column: 1 / -1;
  @include desktop-only {
    grid-column: 2 / 5;
  }
}

.root {
  @include styles.styles-reset;
  color: awsui.$color-text-body-default;
  background-color: awsui.$color-background-layout-main;

  #{custom-props.$maxContentWidth}: 100%;
  display: grid;

  // mobile grid
  grid-template-areas:
    'toolbar    toolbar     toolbar'
    '.       notifications  .'
    '.           main       .';
  grid-template-columns:
    awsui.$space-layout-content-horizontal
    minmax(0, 1fr)
    awsui.$space-layout-content-horizontal;
  grid-template-rows: min-content min-content 1fr;

  // desktop grid
  @include desktop-only {
    grid-template-areas:
      'toolbar    toolbar      toolbar       toolbar   toolbar         toolbar  toolbar'
      'navigation .         notifications    .         sideSplitPanel  tools    global-tools'
      'navigation .             main         .         sideSplitPanel  tools    global-tools';
    grid-template-columns:
      min-content
      minmax(#{awsui.$space-layout-content-horizontal}, 1fr)
      minmax(0, var(#{custom-props.$maxContentWidth}))
      minmax(#{awsui.$space-layout-content-horizontal}, 1fr)
      min-content
      min-content;
    grid-template-rows: min-content min-content 1fr min-content;

    &.has-adaptive-widths-default {
      @each $breakpoint, $width in constants.$adaptive-content-widths {
        @include styles.media-breakpoint-up($breakpoint) {
          #{custom-props.$maxContentWidth}: $width;
        }
      }
    }

    &.has-adaptive-widths-dashboard {
      @each $breakpoint, $width in constants.$dashboard-content-widths {
        @include styles.media-breakpoint-up($breakpoint) {
          #{custom-props.$maxContentWidth}: $width;
        }
      }
    }
  }
}

.navigation,
.tools,
.global-tools {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  background: awsui.$color-background-container-content;
  opacity: 1;
  @include mobile-only {
    inline-size: 100%;
  }
}

.navigation {
  z-index: constants.$drawer-z-index;

  @include desktop-only {
    grid-area: navigation;
    inline-size: var(#{custom-props.$navigationWidth});
    border-inline-end: awsui.$border-divider-section-width solid awsui.$color-border-layout;
  }

  @include mobile-only {
    z-index: constants.$drawer-z-index-mobile;
  }
}

.tools {
  @include desktop-only {
    grid-area: tools;

    // workaround when new app layout and old widgets
    /* stylelint-disable plugin/no-unsupported-browser-features */
    &:not(:has(> [data-testid])) {
      inline-size: var(#{custom-props.$toolsWidth});
      &.tools-open {
        border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-layout;
      }
    }
  }
}

.global-tools {
  @include desktop-only {
    display: flex;
    grid-area: global-tools;
  }
}

.split-panel-side {
  @include desktop-only {
    grid-area: sideSplitPanel;
    border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-layout;
    opacity: 1;
  }
}

.split-panel-bottom {
  position: sticky;
  z-index: 840;
  align-self: end;
  grid-area: main;
  @include grid-column-full-content-width;
}

.panel-hidden {
  border-block: none;
  border-inline: none;
  opacity: 0;
  z-index: 0;
  &.navigation,
  &.tools,
  &.global-tools {
    inline-size: 0px;
  }
}

.toolbar-container {
  grid-area: toolbar;
  block-size: 42px;
  border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-layout;
}

.notifications-container {
  grid-area: notifications;
}

.notifications-background {
  background: awsui.$color-background-layout-main;
  grid-area: notifications;
  @include grid-column-full-content-width;
}

.main-landmark {
  // does not participate in the layout, rendered for accessibility grouping
  display: contents;
}

.main {
  grid-area: main;
  margin-block-start: awsui.$space-scaled-s;
  margin-block-end: awsui.$space-layout-content-bottom;
  // always show vertical scrollbar to avoid an issue described in AWSUI-59954
  min-block-size: 100vh;
  &-disable-paddings {
    margin-block: 0;
    @include grid-column-full-content-width;
  }
}

.content-header {
  margin-block-end: awsui.$space-content-header-padding-bottom;
}

.content {
  display: contents;
}

/* stylelint-disable-next-line selector-combinator-disallowed-list, selector-max-universal */
.unfocusable-mobile * {
  @include mobile-only {
    visibility: hidden;
  }
}
