/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.progress::-webkit-progress-value {
  // Exception: The progress bar state transition does not follow the motion guidelines
  // for the "State transition (paced)" group and is therefore not using
  // standard variables from that group.
  @include styles.with-motion {
    transition: width awsui.$motion-duration-moderate linear;
  }
}

.result-state {
  @include styles.with-motion {
    animation: awsui-motion-fade-in awsui.$motion-duration-transition-show-paced
      awsui.$motion-easing-transition-show-paced;
    @include styles.animation-fade-in;
  }
}
