/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@import './motion';

.root {
  @include styles.styles-reset;
}

.with-result-button {
  padding-inline-end: awsui.$space-m;
}

.result-text {
  /* used in test-utils */
}

.result-container {
  &-error,
  &-success {
    /* used in test-utils */
  }
}
.result-button {
  display: inline-block;
  margin-block: awsui.$space-scaled-xxs;
  margin-inline: 0;
}

.word-wrap {
  @include styles.text-wrapping;
}

.label {
  &-flash {
    color: 'inherit';
    font-weight: styles.$font-weight-bold;
  }
  &-key-value {
    @include styles.font-label;
    color: awsui.$color-text-label;
    margin-block-end: awsui.$space-scaled-xxxs;
  }
}

.flash {
  color: inherit;
}

.progress-container {
  display: flex;
  align-items: center;
  max-inline-size: 800px;
  block-size: awsui.$line-height-body-m;
}

.percentage-container {
  inline-size: 3.3 * styles.$base-size;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: end;
  @include styles.font(body-s);
}

.percentage {
  /* used in test-utils */
}

@mixin general-progress-background-style {
  block-size: 0.4 * styles.$base-size;
  border: 0 none;
  box-sizing: border-box;
  border-radius: 10px;
}

@mixin general-progress-bar-style {
  border-radius: 10px 0px 0px 10px;
}

$background-color: awsui.$color-background-progress-bar-layout-default;
$background-color-in-flash: awsui.$color-background-progress-bar-layout-in-flash;

$bar-color: awsui.$color-background-progress-bar-content-default;
$bar-color-in-flash: awsui.$color-background-progress-bar-content-in-flash;

// Current version of Edge has a known bug with CSS variables used in pseudo elements.
$bar-color-edge: #0073bb;
$bar-color-edge-in-flash: rgba(255, 255, 255, 0.7);

.progress {
  inline-size: 100%;
  margin-inline-end: awsui.$space-s;
  min-inline-size: 0;
  @include general-progress-background-style;
  background-color: $background-color;

  &::-webkit-progress-bar {
    @include general-progress-background-style;
    background-color: $background-color;
  }

  &::-webkit-progress-value {
    @include general-progress-bar-style;
    background-color: $bar-color;
  }

  &.complete::-webkit-progress-value {
    border-radius: 10px;
  }

  &::-moz-progress-bar {
    @include general-progress-bar-style;
    background-color: $bar-color;
  }

  &::-ms-fill {
    @include general-progress-bar-style;
    background-color: $bar-color-edge;
    border: none;
  }

  &.complete::-ms-fill {
    border-radius: 10px;
  }

  &.progress-in-flash {
    background-color: $background-color-in-flash;

    &::-webkit-progress-bar {
      background-color: $background-color-in-flash;
    }

    &::-webkit-progress-value {
      background-color: $bar-color-in-flash;
    }

    &::-moz-progress-bar {
      background-color: $bar-color-in-flash;
    }

    &::-ms-fill {
      background-color: $bar-color-edge-in-flash;
    }
  }
}
