/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.handle-wrapper-side {
  margin-inline-start: 2px;
}
.handle-wrapper-bottom {
  margin-block-start: 2px;
}
