/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/styles' as styles;

$max-nesting-levels: 20;

.vertical-rule-level-0 {
  background: red;
  inline-size: 1px;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: -5px;
  inset-inline-start: 14px; // 28px / 2

  &.expandable {
    inset-block-start: 30px;
  }

  &.position-end {
    block-size: 16px; // 32px / 2
  }
}

@for $level from 0 through $max-nesting-levels {
  .with-offset-#{$level} {
    inset-inline-start: calc((#{$level} * -32px) - 18px);
  }
}

.vertical-rule {
  background: red;
  inline-size: 1px;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: -5px;

  &.position-end {
    block-size: 16px; // 32px / 2
  }

  &.expanded {
    inset-block-start: 26px;
    inset-inline-start: 14px; // 28px / 2
  }
}

.horizontal-rule-level-0 {
  background: red;
  inline-size: 12px;
  block-size: 1px;
  position: absolute;
  inset-block-start: 16px;
  inset-inline-start: 14px;
}

.horizontal-rule {
  background: red;
  block-size: 1px;
  position: absolute;
  inset-block-start: 16px;
  inset-inline-start: -18px; // 28 / 2 + 4 -> width / 2 + gap
  inline-size: 38px;

  &.expandable {
    inline-size: 12px;
  }
}
