/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

.handle {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0 awsui.$space-scaled-xxxs;
  margin: 0 awsui.$space-scaled-xxs;

  color: awsui.$color-text-interactive-default;

  &:hover {
    color: awsui.$color-text-interactive-hover;
  }

  &:focus-visible {
    &:not(.hide-focus) {
      @include styles.focus-highlight(0px);
    }
    &.hide-focus {
      outline: none;
    }
  }
}
