/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../lib/design-tokens/index.scss' as cs;
@use '../../internal/styles' as styles;

.handle {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0 cs.$space-scaled-xxxs;

  color: cs.$color-text-interactive-default;

  &:hover {
    color: cs.$color-text-interactive-hover;
  }

  &:focus-visible {
    @include styles.focus-highlight(0px);
  }
}
