/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

.root,
.upload-button,
.upload-input,
.file-option-name,
.file-option-type,
.file-option-size,
.file-option-last-modified,
.file-option-thumbnail {
  /* used in test-utils */
}

.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: awsui.$space-static-xs;
  padding: awsui.$space-static-xxs;
  border-radius: awsui.$border-radius-dropzone;
  background-color: awsui.$color-board-placeholder-active;
  &-hovered {
    cursor: copy;
    background-color: awsui.$color-board-placeholder-hover;
  }
}

.file-input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: awsui.$space-scaled-xs;
}

.file-option {
  width: 100%;
  min-width: 0;
  display: flex;
  gap: awsui.$space-scaled-xs;
}

.file-option-thumbnail {
  max-width: 60px;
}

.file-option-thumbnail-image {
  width: 100%;
  height: auto;
}

.file-option-metadata {
  width: 100%;
  overflow: hidden;
}
