/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  /* used in test-utils */
}

.file-option {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 8px;
}

.file-option-thumbnail {
  max-width: 60px;
}

.file-option-thumbnail-image {
  width: 100%;
  height: auto;
}

.file-option-metadata {
  overflow: hidden;
}

.file-option-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
