/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;
@use '../../internal/styles' as styles;
@use '../../internal/hooks/focus-visible' as focus-visible;

.close-button {
  position: absolute;
  outline: none;
  inset-inline-end: awsui.$space-m;
  inset-block-start: awsui.$size-vertical-panel-icon-offset;
  z-index: 1;
}
