/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

$tags-description-color: awsui.$color-text-dropdown-item-secondary;
$tags-description-color-hover: awsui.$color-text-dropdown-item-secondary-hover;
