/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

$border-radius: awsui.$border-radius-item;

@mixin focus-visible {
  // stylelint-disable-next-line selector-combinator-disallowed-list
  body[data-awsui-focus-visible='true'] & {
    @content;
  }
}

@mixin animated {
  @include styles.with-motion {
    transition: transform awsui.$motion-duration-transition-quick awsui.$motion-easing-transition-quick;
  }
}

.content-display-option-toggle {
  /* used in test-utils */
}

.content-display-option {
  @include styles.styles-reset;
  position: relative;
  > .content-display-option-content {
    border-top: awsui.$border-divider-list-width solid awsui.$color-border-divider-default;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: awsui.$space-xs;
    padding-bottom: awsui.$space-xs;
    padding-right: 0;
    &:not(.draggable) {
      padding-left: awsui.$space-scaled-l;
    }
    &.draggable {
      padding-left: 0;
      padding-right: awsui.$space-scaled-xs;
      z-index: 1;
      &.active {
        position: relative;
        z-index: 2;
        border-radius: $border-radius;
        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: awsui.$color-drag-placeholder-hover;
          border-radius: $border-radius;
          z-index: 1;
        }
      }
      &:not(.active).sorting {
        @include animated;
      }
      @include focus-visible {
        &.active {
          @include animated;
        }
      }
    }
  }
  &:not(.sortable) {
    > .content-display-option-content {
      border-color: transparent;
    }
  }
}

.content-display-option-label {
  padding-right: awsui.$space-l;
  flex-grow: 1;
}

.drag-overlay {
  z-index: 5000;
  position: relative;
  top: 0;
  margin: 0;
  // stylelint-disable selector-max-type
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: awsui.$color-background-container-content;
    box-shadow: awsui.$shadow-container-active;
    border-radius: $border-radius;
    @include focus-visible {
      @include styles.focus-highlight(0px, $border-radius);
    }
  }
}
