/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

@import 'sortable-item';

.content-display,
.content-display-toggle,
.content-display-groups,
.content-display-group,
.content-display-option {
  /* used in test-utils */
}

.content-display-title {
  @include styles.font-label;
  color: awsui.$color-text-form-label;
  margin: 0;
}

.content-display-label {
  @include styles.form-control-description;
  margin-top: awsui.$space-scaled-xxxs;
}

.content-display-group {
  position: relative;
}

.content-display-option {
  background: awsui.$color-board-placeholder-hover;
}

.content-display-group-label {
  color: awsui.$color-text-group-label;
  padding-bottom: awsui.$space-xs;
}
