/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

.root {
  @include styles.styles-reset;
  @include styles.text-wrapping;
}

.header {
  @include styles.font-panel-header;
  margin: 0;
  padding: awsui.$space-scaled-l awsui.$space-panel-nav-left;
  // Additional xl space to prevent text from overlapping the close button.
  padding-right: calc(#{awsui.$space-scaled-xxl} + #{awsui.$space-xl});
}

.header-link {
  @include styles.font-panel-header;
  color: awsui.$color-text-heading-default;
  min-block-size: awsui.$font-panel-header-line-height;

  display: flex;

  &--has-logo {
    > .header-link-text {
      font-weight: styles.$font-weight-normal;
    }
  }
}

.header-logo {
  margin-right: awsui.$space-s;
  margin-top: awsui.$space-xxxs;
  max-inline-size: calc(1.25 * #{awsui.$size-icon-big});
  align-self: flex-start;

  &--stretched {
    max-inline-size: 100%;
    margin-right: 0;
  }
}

.list-container {
  margin-top: awsui.$space-scaled-l;
}

.list {
  margin: 0;
  padding: 0;
  padding-left: awsui.$space-l;
}

.list-variant-root {
  margin: 0;
  padding: 0 awsui.$space-panel-side-right 0 awsui.$space-panel-nav-left;

  &--last {
    margin-bottom: awsui.$space-scaled-xxxl;
  }
}

.list-variant-expandable-link-group {
  padding-left: awsui.$space-xxxl;
}

.list-item {
  margin: awsui.$space-scaled-xs 0;
  padding: 0;
  list-style: none;
}

.section,
.expandable-link-group {
  margin-left: calc(-1 * #{awsui.$space-l});

  &--no-ident {
    margin-left: 0;
  }
}

.section {
  margin-top: calc(#{awsui.$space-scaled-2x-l} - #{awsui.$border-divider-section-width});
  margin-bottom: calc(#{awsui.$space-scaled-2x-l} - #{awsui.$border-divider-section-width});

  // HACK: Remove padding from section header and content to rely on margin collapsing rules.
  /* stylelint-disable-next-line selector-max-type */
  > div {
    padding: 0;
  }
}

.list-variant-section-group {
  margin: 0;
  padding: 0;
}

.section-group {
  @include styles.font-heading-m;
  margin: 0;
}

.section-group-title {
  /* used in test-utils */
}

.link {
  @include styles.font-body-m;
  color: awsui.$color-text-body-secondary;
  font-weight: styles.$font-weight-normal;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.link-active {
  font-weight: awsui.$font-wayfinding-link-active-weight;
  @include styles.font-smoothing;
  color: awsui.$color-text-accent;
}

.header-link,
.link {
  text-decoration: none;

  &:hover {
    color: awsui.$color-text-accent;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.link-focus;
  }
}

.info {
  margin-left: awsui.$space-xs;
}

.external-icon {
  margin-left: awsui.$space-xxs;
}

.divider {
  border: none;
  border-top: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}

.divider-default {
  margin: awsui.$space-scaled-2x-xl calc(-1 * #{awsui.$space-s});
}

.divider-header {
  margin-top: 0;
}
