/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/index' as styles;
@use '../../internal/styles/tokens' as awsui;

.root {
  /* used in test-utils and in the use-selection hook */
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-bottom: awsui.$space-xxs;
  block-size: 100%;
  top: 0;
  inline-size: 100%;
  left: 0;
  box-sizing: border-box;
  border-right: 0.1 * styles.$base-size solid transparent;
}

.stud {
  visibility: hidden;
}
