/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '../internal/hooks/focus-visible' as focus-visible;

.root {
  @include styles.styles-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: awsui.$space-scaled-xs;
}

.item-wrapper {
  display: flex;
}

.feedback {
  display: flex;
  align-items: center;
  gap: awsui.$space-xs;
  color: awsui.$color-text-interactive-default;

  outline: none;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-button-focus-outline-gutter);
  }
}

.item {
  /* used in test-utils */
}

.group {
  display: contents;
}

.divider {
  background-color: awsui.$color-border-divider-default;
  inline-size: awsui.$border-divider-section-width;
  margin-block: awsui.$space-static-xs;
}
