/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

/* stylelint-disable custom-property-pattern */
.root {
  @include styles.styles-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: awsui.$space-scaled-xs;
  inline-size: var(--awsui-style-button-group-inline-size, auto);
  padding-block: var(--awsui-style-button-group-padding-block, 0);
  padding-inline: var(--awsui-style-button-group-padding-inline, 0);
  background-color: var(--awsui-style-button-group-background, transparent);
  border-block: var(--awsui-style-button-group-border-width, 1px) solid
    var(--awsui-style-button-group-border-color, transparent);
  border-inline: var(--awsui-style-button-group-border-width, 1px) solid
    var(--awsui-style-button-group-border-color, transparent);
  border-start-start-radius: var(--awsui-style-button-group-border-radius, 0);
  border-start-end-radius: var(--awsui-style-button-group-border-radius, 0);
  border-end-start-radius: var(--awsui-style-button-group-border-radius, 0);
  border-end-end-radius: var(--awsui-style-button-group-border-radius, 0);
  box-shadow: var(--awsui-style-button-group-box-shadow, none);
}
/* stylelint-enable custom-property-pattern */

.item-wrapper {
  display: inline-block;
}

.group {
  display: contents;
}

.divider {
  background-color: awsui.$color-border-divider-default;
  inline-size: awsui.$border-divider-section-width;
  margin-block: awsui.$space-static-xs;
}
