/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '../internal/hooks/focus-visible' as focus-visible;

.root {
  @include styles.styles-reset;
}

.anchor-list {
  border-left: 2px solid awsui.$color-background-button-primary-disabled;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

.anchor-item {
  @include styles.font-body-m;
  color: awsui.$color-text-body-secondary;
  font-weight: styles.$font-weight-normal;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  margin-left: -2px;
  padding: awsui.$space-scaled-xxs 0;
  &-active {
    border-left: 2px solid awsui.$color-text-accent;
  }
}

.anchor-link {
  @include styles.font-body-m;
  color: awsui.$color-text-body-secondary;
  font-weight: styles.$font-weight-normal;
  text-decoration: none;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  &:hover {
    color: awsui.$color-text-accent;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.link-focus;
  }

  &-active {
    font-weight: awsui.$font-wayfinding-link-active-weight;
    @include styles.font-smoothing;
    color: awsui.$color-text-accent;
    margin-left: -2px;
  }
}
