/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.sticky-scrollbar {
  block-size: 15px;
  position: sticky;
  display: none;
  overflow-x: auto;
  overflow-y: hidden;
  inset-block-end: 0;
  inline-size: 100%;

  &-content {
    block-size: 15px;
  }
  &-visible {
    display: block;
  }
  &-native-invisible {
    // Native scrollbar does not take space when it is not always invisible
    // For example it is set as "show when scrolling"
    margin-block-start: -15px;
  }
}
