/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.series,
.series--bar > .series__rect {
  @include styles.with-motion {
    transition: opacity awsui.$motion-duration-transition-quick awsui.$motion-easing-transition-quick;
  }
}

.exiting {
  @include styles.with-motion {
    @include styles.animation-fade-out-0;
    animation: awsui-motion-fade-out-0 awsui.$motion-duration-refresh-only-fast awsui.$motion-easing-refresh-only-b;
  }
}
