/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use './motion';

.root {
  /* used in test-utils */
}

.chart-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.chart-container__vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart-container__horizontal {
  display: flex;
}

.series {
  display: block;
  stroke-width: awsui.$border-line-chart-width;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: awsui.$border-line-chart-line-join;
  pointer-events: none;
}

.series--highlighted,
.series__bar--highlighted {
  /* used in dom query */
}

.series--dimmed {
  opacity: 0.3;
}

.series--bar > .series__rect {
  stroke: awsui.$color-background-container-content;
  stroke-width: 2px;
}

.series--threshold {
  stroke-dasharray: awsui.$border-line-chart-dash-array;
  stroke-width: awsui.$border-line-chart-width;
}

.bar-group {
  /* used in dom query */
}
