/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use './motion';

.root {
  @include styles.styles-reset;

  position: relative;
  display: block;
}

.filter-container {
  /* used in test-utils */
}

.has-default-filter {
  & > :first-child {
    flex: 280px 0 1;
  }
}

.chart-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.chart-container__vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart-container__horizontal {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.content--reserve-filter {
  margin-top: calc(2 * #{awsui.$font-body-m-line-height});
}

.content--reserve-legend {
  margin-bottom: calc(2 * #{awsui.$font-body-m-line-height});
}

.series {
  display: block;
  stroke-width: awsui.$border-line-chart-width;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: awsui.$border-line-chart-line-join;
  pointer-events: none;
}

.series--highlighted,
.series__bar--highlighted {
  /* used in dom query */
}

.series--dimmed {
  opacity: 0.3;
}

.series--bar > .series__rect {
  stroke: awsui.$color-background-container-content;
  stroke-width: 2px;
}

.series--threshold {
  stroke-dasharray: awsui.$border-line-chart-dash-array;
  stroke-width: awsui.$border-line-chart-width;
}

.bar-group {
  /* used in dom query */
}
