/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.contentPlaceholder::before {
  content: 'X';
  display: block;
  background-color: awsui.$color-background-input-disabled;
  color: awsui.$color-background-container-content;
  text-align: center;
  font-size: 400px;
  line-height: 400px;
}

.footer {
  inset-block-end: 0;
  inline-size: 100%;
  color: #eee;
  background: #232f3e;
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: 1rem;
  line-height: 30px;
  z-index: 1000;
  &:not(.legacyNav) {
    position: sticky;
  }
}

.highlightBorder {
  border-block: 1px solid red;
  border-inline: 1px solid red;
}

.textContent {
  color: awsui.$color-text-body-default;
}

.longContent {
  block-size: 200vh;
}

.floatingBlock {
  position: relative;
  z-index: 1;
  background: awsui.$color-background-container-content;
}

.wizard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.wizard-steps {
  inline-size: 16rem;
  block-size: 40rem;
  margin-inline-end: 4rem;
}

.wizard-form {
  min-inline-size: 30rem;
  max-inline-size: 80rem;
  block-size: 150rem;
}

@media (max-width: 703px) {
  .wizard {
    display: block;
  }

  .wizard-steps {
    margin-inline-end: 0;
  }

  .wizard-form {
    margin-block-start: 4rem;
  }
}
