/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

.preference-icon {
  &--svg {
    @include styles.with-direction('rtl') {
      transform: scaleX(-1);
    }
  }
  &--layout {
    &-border {
      stroke: awsui.$color-background-home-header;
      fill: awsui.$color-background-container-content;
    }
    &-background {
      fill: awsui.$color-background-layout-main;
    }
    &-header {
      fill: awsui.$color-background-home-header;
    }
  }
  &--border {
    stroke: awsui.$color-text-group-label;
    fill: awsui.$color-background-container-content;
  }
  &--primary-button {
    fill: awsui.$color-background-button-primary-default;
  }
  &--secondary {
    fill: awsui.$color-text-group-label;
  }
  &--disabled-element {
    fill: awsui.$color-background-control-disabled;
  }
  &--separator {
    stroke: awsui.$color-background-control-disabled;
  }
  &--focus-text {
    fill: awsui.$color-text-interactive-default;
  }
}

.preference-icon-refresh {
  &--svg {
    @include styles.with-direction('rtl') {
      transform: scaleX(-1);
    }
  }
  &--layout {
    &-top {
      fill: awsui.$color-background-button-primary-disabled;
    }
    &-main {
      fill: awsui.$color-background-layout-main;
    }
  }
  &--primary {
    fill: awsui.$color-background-button-primary-default;
  }
  &--disabled {
    fill: awsui.$color-background-control-disabled;
  }
  &--column-header {
    fill: awsui.$color-text-input-disabled;
  }
  &--window {
    stroke: awsui.$color-background-home-header;
    fill: awsui.$color-background-container-content;
  }
  &--secondary {
    fill: awsui.$color-text-body-secondary;
  }
  &--default {
    fill: awsui.$color-text-body-default;
  }
  &--separator {
    stroke: awsui.$color-border-divider-default;
  }
  &--input-default {
    fill: awsui.$color-border-input-default;
  }
  &--heading {
    fill: awsui.$color-text-heading-default;
  }
}
