/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.parent {
  height: 180vh;
  width: 50%;
  border: 1px solid black;
  margin-bottom: var(--fixed-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.fixed {
  background-color: grey;
  height: var(--fixed-height);
  position: fixed;
  inset-inline-start: 0;
  width: 100vw;
}

.footer {
  bottom: 0;
}

.header {
  top: 0;
}
