/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

@import './tab-header-bar';

.root {
  /* used in test-utils or tests */
}

.tabs {
  @include styles.styles-reset;
  display: block;
  width: 100%;
}

.tabs-content {
  display: none;
}

.tabs-content-active {
  display: block;
  @include focus-visible.when-visible {
    @include styles.container-focus();
  }
}

.tabs-content-wrapper {
  &.with-paddings > .tabs-content {
    padding: awsui.$space-scaled-m 0;
  }
}

.tabs-container-content-wrapper {
  &.with-paddings > .tabs-content {
    padding: awsui.$space-tabs-content-top awsui.$space-container-horizontal awsui.$space-scaled-l;
  }
}
