/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/style-api' as style-api;

$props: (
  color-background-default,
  color-background-hover,
  color-background-active,
  color-background-disabled,
  color-border-default,
  color-border-hover,
  color-border-active,
  color-border-disabled,
  color-text-default,
  color-text-hover,
  color-text-active,
  color-text-disabled,
  active-indicator-color,
  active-indicator-width,
  active-indicator-border-radius,
  separator-color,
  separator-width
);
$tokens: style-api.resolve($props);
