/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/* stylelint-disable selector-max-type */
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

$separator-color: awsui.$color-border-tabs-divider;
$label-horizontal-spacing: awsui.$space-l;

.tabs-header {
  margin: 0;
  padding: 0;
  display: flex;
}

.tabs-header-list {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  inline-size: 100%;
  // do not use pointer-events none because it disables scroll by sliding

  // Hide scrollbar in all browsers
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.pagination-button {
  margin: awsui.$space-scaled-s 0;
  padding: 0 awsui.$space-xxs;
  display: flex;
  &-left {
    border-right: awsui.$border-divider-section-width solid awsui.$color-border-control-disabled;
    &-scrollable {
      z-index: 1;
      box-shadow: 5px 0px 4px -3px awsui.$color-border-tabs-shadow, 1px 0px 0px 0px awsui.$color-border-tabs-shadow;
    }
  }
  &-right {
    border-left: awsui.$border-divider-section-width solid awsui.$color-border-control-disabled;
    &-scrollable {
      z-index: 1;
      box-shadow: -5px 0px 4px -3px awsui.$color-border-tabs-shadow, -1px 0px 0px 0 awsui.$color-border-tabs-shadow;
    }
  }
}

.tabs-tab {
  // Clear list formatting that comes with list item
  list-style: none;
  padding: 0;

  flex-shrink: 0;
  display: flex;
  max-inline-size: calc(90% - #{$label-horizontal-spacing});

  & > button {
    background-color: transparent;
  }
}

.tabs-tab-label {
  display: flex;
  align-items: center;
  padding: awsui.$space-scaled-2x-xxs $label-horizontal-spacing;
  text-align: left;
  position: relative;

  @include styles.text-wrapping;
}

.tabs-tab:not(:last-child) {
  & > a > .tabs-tab-label,
  & > button > .tabs-tab-label {
    margin-inline-end: calc(-1 * #{awsui.$border-divider-section-width});
    border-right: awsui.$border-divider-section-width solid $separator-color;
  }
}

.tabs-tab-link {
  position: relative;
  display: flex;
  align-items: stretch;
  text-decoration: none;
  cursor: pointer;
  padding: calc(#{awsui.$space-scaled-s} - 1px) 0 awsui.$space-scaled-s 0;
  margin-block-start: 1px;
  border: awsui.$border-divider-section-width solid transparent;

  font-size: awsui.$font-tabs-size;
  line-height: awsui.$font-tabs-line-height;
  font-weight: awsui.$font-wayfinding-link-active-weight;
  @include styles.font-smoothing;
  color: awsui.$color-text-interactive-default;

  &:hover {
    color: awsui.$color-text-accent;
  }

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    z-index: 1;
    @include styles.focus-highlight(awsui.$space-tabs-focus-outline-gutter);
    & > a > .tabs-tab-label,
    & > button > .tabs-tab-label {
      border-right-color: transparent;
    }
  }
}

// Remediate focus shadow
.tabs-tab:first-child {
  margin-inline-start: 1px;
  & > a > .tabs-tab-label,
  & > button > .tabs-tab-label {
    padding-inline-start: calc(#{$label-horizontal-spacing} - 1px);
  }
}

// Remediate focus shadow
.tabs-tab:last-child {
  margin-inline-end: 1px;
  & > a > .tabs-tab-label,
  & > button > .tabs-tab-label {
    padding-inline-end: calc(#{$label-horizontal-spacing} - 1px);
  }
}

.tabs-tab-disabled {
  &,
  &:hover {
    pointer-events: none;
    cursor: default;
    color: awsui.$color-text-interactive-disabled;
    font-weight: awsui.$font-tabs-disabled-weight;
  }
}

.tabs-tab-link:not(.tabs-tab-disabled) {
  // This is the underline for the currently selected tab.
  &:after {
    content: '';
    position: absolute;
    left: 0;
    inline-size: 100%;
    bottom: calc(-1 * #{awsui.$border-divider-section-width});
    block-size: awsui.$border-active-width;
    border-radius: awsui.$border-radius-tabs-focus-ring;
    background: awsui.$color-border-tabs-underline;

    opacity: 0;
  }

  &.refresh {
    &:after {
      @include styles.with-motion {
        transition: opacity awsui.$motion-duration-refresh-only-medium awsui.$motion-easing-refresh-only-c;
      }
    }
  }
}

.tabs-tab-active:not(.tabs-tab-disabled) {
  color: awsui.$color-text-accent;
  &:after {
    opacity: 1;
  }
}

.tabs-header-with-divider {
  border-bottom: awsui.$border-divider-section-width solid $separator-color;
}
