/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
.permutations {
  display: flex;
  flex-wrap: wrap;
  margin-block: 20px;
  margin-inline: 20px;
}
.default {
  max-inline-size: 290px;
  border-block: 1px solid;
  border-inline: 1px solid;
  flex-grow: 1;
  margin-block: 20px;
  margin-inline: 20px;
}
.medium {
  max-inline-size: 350px;
  border-block: 1px solid;
  border-inline: 1px solid;
  margin-block: 20px;
  margin-inline: 20px;
}
.large {
  max-inline-size: 550px;
  border-block: 1px solid;
  border-inline: 1px solid;
  margin-block: 20px;
  margin-inline: 20px;
}
