/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;

.layout {
  #{custom-props.$contentLayoutDefaultHorizontalPadding}: awsui.$space-layout-content-horizontal;
  #{custom-props.$contentLayoutMaxContentWidth}: 0px;
  #{custom-props.$contentLayoutMainGap}: 0px;
  display: grid;
  grid-template-columns: 0 0 1fr minmax(0, var(#{custom-props.$contentLayoutMaxContentWidth})) 1fr 0 0;
  grid-template-rows: var(#{custom-props.$contentLayoutMainGap}) min-content min-content auto awsui.$space-dark-header-overlap-distance 1fr;
  min-block-size: 100%;

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    #{custom-props.$contentLayoutDefaultHorizontalPadding}: awsui.$space-l;
  }

  > .background {
    grid-column: 1 / 8;
    grid-row: 1 / 6;
    color: awsui.$color-text-body-default;

    &.is-overlap-disabled {
      grid-row: 1 / 5;
    }

    > .header-background {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  > .notifications {
    grid-column: 4;
    grid-row: 2;
    padding-block-end: awsui.$space-xs;
  }
  > .breadcrumbs {
    grid-column: 4;
    grid-row: 3;
    padding-block-end: awsui.$space-xs;
  }

  &.default-padding {
    #{custom-props.$contentLayoutMainGap}: awsui.$space-scaled-m;
    grid-template-columns:
      var(#{custom-props.$togglesLeftWidth}, 0) var(#{custom-props.$contentLayoutDefaultHorizontalPadding}, 0) 1fr minmax(
        0,
        var(#{custom-props.$contentLayoutMaxContentWidth})
      )
      1fr var(#{custom-props.$contentLayoutDefaultHorizontalPadding}, 0) var(#{custom-props.$togglesRightWidth}, 0);
  }

  > .header-wrapper {
    grid-column: 4;
    grid-row: 4;
    padding-block-end: awsui.$space-content-header-padding-bottom;

    &.with-divider {
      border-block-end: 1px solid awsui.$color-border-divider-default;
    }
  }

  > .content {
    grid-column: 4;
    grid-row: 5 / 8;
  }

  &:not(.has-header) {
    grid-template-rows:
      var(#{custom-props.$contentLayoutMainGap}) min-content min-content 0 calc(
        awsui.$space-dark-header-overlap-distance
      )
      1fr;
  }

  &.is-overlap-disabled {
    grid-template-rows: var(#{custom-props.$contentLayoutMainGap}) min-content min-content auto 0 1fr;
  }
}

.layout.is-visual-refresh {
  > .background {
    &.has-default-background {
      background-color: awsui.$color-background-layout-main;
    }
  }
}

.layout:not(.is-visual-refresh) {
  &.has-notifications {
    #{custom-props.$contentLayoutMainGap}: 0px;
  }

  > .notifications {
    grid-column: 1 / 8;
  }
}
