/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/' as styles;
@use '../internal/styles/tokens' as awsui;

.layout:not(.is-visual-refresh) {
  display: contents;

  > .background {
    display: none;
  }

  > .header {
    padding-bottom: awsui.$space-content-header-padding-bottom;
  }
}

.layout.is-visual-refresh {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto #{awsui.$space-dark-header-overlap-distance} 1fr;
  min-height: 100%;

  &.is-overlap-disabled {
    grid-template-rows: auto 0 1fr;
  }

  > .background {
    background-color: awsui.$color-background-layout-main;
    grid-column: 1;
    grid-row: 1 / 3;

    &.is-overlap-disabled {
      grid-row: 1 / 2;
    }
  }

  > .header {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: awsui.$space-content-header-padding-bottom;

    @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
      &.has-breadcrumbs {
        padding-top: awsui.$space-xxs;
      }
    }

    @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
      padding: awsui.$space-m 0 awsui.$space-content-header-padding-bottom;
    }
  }

  > .content {
    grid-column: 1;
    grid-row: 2 / 4;
  }
}
