/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;

/*
Pass through the header and child content if not rendering in 
visual refresh mode. The padding is still added to the header 
in this scenario because otherwise the header and child 
nodes will directly touch with no gap between them.
*/
.layout:not(.is-visual-refresh) {
  display: contents;

  > .background {
    display: none;
  }

  > .header {
    padding-bottom: awsui.$space-content-header-padding-bottom;
  }
}

.layout.is-visual-refresh {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto #{awsui.$space-dark-header-overlap-distance} 1fr;
  min-height: 100%;

  > .background {
    background-color: awsui.$color-background-layout-main;
    grid-column: 1;
    grid-row: 1 / 3;
    color: awsui.$color-text-body-default;

    &.is-overlap-disabled {
      grid-row: 1 / 2;
    }

    &.hero {
      background-color: transparent;
    }
  }

  > .header {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: awsui.$space-content-header-padding-bottom;
  }

  > .content {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  &:not(.has-header) {
    grid-template-rows:
      auto calc(
        #{awsui.$space-dark-header-overlap-distance} + var(#{custom-props.$containerFirstOverlapExtension}, 0px) + var(#{custom-props.$containerFirstGap}, 0px)
      )
      1fr;

    > .content {
      padding-top: var(#{custom-props.$containerFirstGap}, 0px);
    }
  }

  &.is-overlap-disabled {
    grid-template-rows: auto 0 1fr;
  }
}
