/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles/tokens' as awsui;
@use '../../styles' as styles;
@use '../../hooks/focus-visible' as focus-visible;

.root {
  /* used in test-utils */
}

.list {
  /* used in test-utils */
}

.toggle-container-inline {
  height: 100%;
  padding-left: awsui.$space-xs;
  display: flex;
  align-items: center;
}

.toggle {
  @include styles.styles-reset;
  @include styles.link-default;

  display: flex;
  align-items: center;
  background-color: transparent;
  border: styles.$control-border-width solid transparent;

  padding: 0;

  // Icon svg has one pixel around it. We need to shift the button one
  // pixel to the left to vertically align it with the input field
  margin-left: -1px;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    text-decoration-color: transparent;
  }

  @include focus-visible.when-visible {
    @include styles.form-focus-element(awsui.$border-radius-control-default-focus-ring);
  }

  > .description {
    margin-left: awsui.$space-xxs;
  }
}

.separator {
  margin: 0px awsui.$space-scaled-m;
  height: 100%;
  width: awsui.$border-divider-section-width;
  background-color: awsui.$color-border-divider-default;
}
