/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.utility-permutations {
  background-color: awsui.$color-background-container-content;
}
