/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: awsui.$space-static-xxs;
  padding-block: awsui.$space-static-l;
  padding-inline: awsui.$space-static-l;
  border-start-start-radius: 2px;
  border-start-end-radius: 2px;
  border-end-start-radius: 2px;
  border-end-end-radius: 2px;
  font-weight: awsui.$font-weight-heading-m;
  color: awsui.$color-text-button-normal-active;
  background-color: awsui.$color-background-cell-shaded;
  &-hovered {
    color: awsui.$color-text-button-normal-active;
    background-color: awsui.$color-background-button-normal-hover;
  }
}
