/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.error-boundary,
.header,
.description,
.action,
.app-layout-part-fallback {
  display: contents;
}
