// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

#h {
  z-index: 1002;
  // This border removal is for demo purposes only due to the additional border `.custom-main-header` has
  // Top navigation is injected to this element but it already has a border
  border: none;
}

.menu-list {
  border-block-end: 1px solid #414750; // grey-650
}
