// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

@use './base';

.custom-input-small {
  max-inline-size: 11rem;
  display: inline-block;
}

.flex-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.slider-wrapper {
  flex: 1;
  max-inline-size: 800px;
}

.input-wrapper {
  max-inline-size: 70px;
}
