/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.styled-tabs {
  --awsui-style-color-text-default: #{palette.$success};
  --awsui-style-color-text-active: #{palette.$error};
  --awsui-style-color-text-hover: #{palette.$warning};
  --awsui-style-color-text-disabled: #{palette.$text-disabled};
  --awsui-style-active-indicator-color: #{palette.$error};
  // Header background for the "container" variant.
  --awsui-style-color-background-header: #{palette.$success-surface};
}
