/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  @include styles.styles-reset;
}

.search-field {
  display: flex;
  align-items: center;
  // The xs breakpoint, minus the table tools container padding
  max-inline-size: calc(#{styles.$breakpoint-x-small} - 2 * #{awsui.$space-l});
}

.input-wrapper {
  flex-grow: 1;
}

.add-token {
  border-inline-start: 1px solid awsui.$color-border-divider-default;
  box-sizing: border-box;
  margin-inline-start: awsui.$space-m;
  padding-inline-start: awsui.$space-m;
}

.tokens {
  margin-block: awsui.$space-xs;
  margin-inline: 0;
}

.token-operator {
  font-weight: bold;
}

.property-editor,
.token-editor {
  user-select: text;
  margin-block: awsui.$space-xxs;
  margin-inline: awsui.$space-xxs;
  &-form {
    margin-block-end: awsui.$space-scaled-l;
  }
  &-field-property {
    /* used in test-utils */
  }
  &-field-operator {
    margin-block-start: awsui.$space-scaled-l;
  }
  &-field-value {
    margin-block-start: awsui.$space-scaled-l;
  }
  &-cancel {
    margin-inline-end: awsui.$space-xs;
  }
  &-submit {
    /* used in test-utils */
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    padding-block-start: awsui.$space-s;
    border-block-start: 1px solid #{awsui.$color-border-dropdown-item-default};
  }
}
.token-editor {
  &-actions {
    // The below code cancels horizontal padding of the popover and horizontal margin of the token-editor.
    padding-inline-end: calc(#{awsui.$space-m} + #{awsui.$space-xxs});
    margin-inline-start: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
    margin-inline-end: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
  }
}
.property-editor {
  padding: awsui.$space-m;
  overflow-y: auto;
}

.custom-content-wrapper {
  display: contents;
}

.custom-control {
  margin-inline-end: awsui.$space-s;
}

.input {
  flex: 1;
}

.token-trigger {
  @include styles.text-wrapping;
}

.remove-all,
.token-label,
.join-operation {
  /* used in test-utils */
}
