/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  @include styles.styles-reset;
}

.search-field {
  display: flex;
  align-items: flex-end;
  // The xs breakpoint, minus the table tools container padding
  max-width: calc(#{styles.$breakpoint-x-small} - 2 * #{awsui.$space-l});
}

.input-wrapper {
  flex-grow: 1;
}

.add-token {
  border-left: 1px solid awsui.$color-border-divider-default;
  box-sizing: border-box;
  margin-left: awsui.$space-m;
  padding-left: awsui.$space-m;
}

.tokens {
  margin: awsui.$space-xs 0;
}

.token-operator {
  font-weight: bold;
}

.property-editor,
.token-editor {
  user-select: text;
  margin: awsui.$space-xxs;
  &-form {
    margin-bottom: awsui.$space-scaled-l;
  }
  &-field-property {
    /* used in test-utils */
  }
  &-field-operator {
    margin-top: awsui.$space-scaled-l;
  }
  &-field-value {
    margin-top: awsui.$space-scaled-l;
  }
  &-cancel {
    margin-right: awsui.$space-xs;
  }
  &-submit {
    /* used in test-utils */
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: awsui.$space-s;
    border-top: 1px solid #{awsui.$color-border-dropdown-item-default};
  }
}
.token-editor {
  &-actions {
    // The below code cancels horizontal padding of the popover and horizontal margin of the token-editor.
    padding-right: calc(#{awsui.$space-m} + #{awsui.$space-xxs});
    margin-left: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
    margin-right: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
  }
}
.property-editor {
  padding: awsui.$space-m;
  overflow-y: auto;
}

.custom-content-wrapper {
  display: contents;
}

.custom-control {
  margin-right: awsui.$space-s;
}

.input {
  flex: 1;
}

.results {
  // Align with the filter input's vertical padding and border sizes.
  padding: calc(#{styles.$control-padding-vertical} + #{styles.$control-border-width});
  padding-left: 0;
  padding-right: 0;
}

.token-trigger {
  @include styles.text-wrapping;
}

.remove-all,
.token-label,
.join-operation,
.custom-filter-actions {
  /* used in test-utils */
}
