/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

.root {
  @include styles.styles-reset;
}

.search-field {
  display: flex;
  align-items: center;
  // The xs breakpoint, minus the table tools container padding
  max-width: calc(#{styles.$breakpoint-x-small} - 2 * #{awsui.$space-l});
}

.input-wrapper {
  flex-grow: 1;
}

.add-token {
  border-left: 1px solid awsui.$color-border-divider-default;
  box-sizing: border-box;
  margin-left: awsui.$space-m;
  padding-left: awsui.$space-m;
}

.tokens {
  margin-top: awsui.$space-xs;
}

.token-operator {
  font-weight: bold;
}

.property-editor,
.token-editor {
  user-select: text;
  margin: awsui.$space-xxs;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-form {
    margin-bottom: awsui.$space-scaled-l;
  }
  &-field-property {
    /* used in test-utils */
  }
  &-field-operator {
    margin-top: awsui.$space-scaled-l;
  }
  &-field-value {
    margin-top: awsui.$space-scaled-l;
  }
  &-cancel {
    margin-right: awsui.$space-xs;
  }
  &-submit {
    /* used in test-utils */
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: awsui.$space-s;
    border-top: 1px solid #{awsui.$color-border-dropdown-item-default};
    // The below code cancels horizontal padding of the popover and horizontal margin of the token-editor.
    padding-right: calc(#{awsui.$space-m} + #{awsui.$space-xxs});
    margin-left: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
    margin-right: calc(-1 * #{awsui.$space-m} + -1 * #{awsui.$space-xxs});
  }
}
.property-editor {
  margin: awsui.$space-m;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-control {
  margin-right: awsui.$space-s;
}

.input {
  flex: 1;
}

.results {
  color: awsui.$color-text-form-label;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  &-visible {
    padding-left: awsui.$space-s;
  }
}

.separator {
  margin: 0px awsui.$space-scaled-m;
  height: 100%;
  width: awsui.$border-divider-section-width;
  background-color: awsui.$color-border-divider-default;
}

.toggle-collapsed {
  margin-top: calc(-1 * #{awsui.$space-scaled-xxs});
  margin-left: awsui.$space-xs;
}

.token-trigger {
  @include styles.text-wrapping;
}

.remove-all,
.token-label,
.join-operation {
  /* used in test-utils */
}
