/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/* stylelint-disable @cloudscape-design/no-implicit-descendant, selector-max-type */
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.drawer {
  @include styles.styles-reset;
  word-wrap: break-word;
  padding: awsui.$space-scaled-l awsui.$space-panel-side-right awsui.$space-scaled-xxxl awsui.$space-panel-side-left;
}

.header {
  @include styles.font-panel-header;
  color: awsui.$color-text-heading-default;
  padding-block-end: awsui.$space-scaled-l;
  padding-inline: awsui.$space-panel-side-left calc(#{awsui.$space-xl} + #{awsui.$space-scaled-xxl});
  // padding to make sure the header doesn't overlap with the close icon
  border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  margin-block-start: 0;
  margin-block-end: awsui.$space-scaled-l;
  margin-inline-start: calc(-1 * #{awsui.$space-panel-side-right});
  margin-inline-end: calc(-1 * #{awsui.$space-panel-side-left});

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include styles.font-panel-header;
    padding-block: 0;
    margin-block: 0;
  }
}

.test-utils-drawer-content {
  /* used in test-utils */
}
