/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;

.with-motion {
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    @include styles.with-motion {
      transition: awsui.$motion-duration-refresh-only-medium;
      transition-property: border-color, opacity, block-size, inline-size;
    }
  }
}

/* stylelint-disable selector-combinator-disallowed-list, selector-max-type, selector-max-universal */
// these styles are expected to apply to the entire document, so they do not follow the scoping rules
.resize {
  &-active * {
    user-select: none;
    // stylelint-disable-next-line @cloudscape-design/no-implicit-descendant
    .with-motion {
      // stylelint-disable-next-line @cloudscape-design/no-motion-outside-of-mixin
      transition: none;
      // stylelint-disable-next-line @cloudscape-design/no-motion-outside-of-mixin
      animation: none;
    }
  }
  &-active iframe {
    // Prevents iframes from eating the mouseup event if the cursor is on top of it.
    pointer-events: none;
  }
  &-side * {
    cursor: ew-resize;
  }
  &-bottom * {
    cursor: ns-resize;
  }
}
/* stylelint-enable selector-combinator-disallowed-list, selector-max-type, selector-max-universal */
