/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.disabled-reason-tooltip {
  /* used in test-utils or tests */
}

.external-icon {
  /* used in test-utils or tests */
}
