/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.button-group-card {
  --awsui-style-button-group-background: #{palette.$surface};
  --awsui-style-button-group-border-color: #{palette.$border};
  --awsui-style-button-group-border-radius: 12px;
  --awsui-style-button-group-padding-block: 8px;
  --awsui-style-button-group-padding-inline: 12px;
  --awsui-style-button-group-inline-size: fit-content;
  --awsui-style-transition-duration: 200ms;
}

.button-group-minimal {
  --awsui-style-button-group-background: transparent;
  --awsui-style-button-group-border-color: transparent;
  --awsui-style-button-group-border-radius: 0;
  --awsui-style-button-group-inline-size: fit-content;
  --awsui-style-button-color-default: #{palette.$accent};
  --awsui-style-button-color-hover: #{palette.$accent-hover};
  --awsui-style-transition-duration: 200ms;
}
