/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.button-group-card {
  --awsui-style-color-background: #{palette.$surface};
  --awsui-style-color-border: #{palette.$border};
  --awsui-style-border-radius: 12px;
  --awsui-style-padding-block: 8px;
  --awsui-style-padding-inline: 12px;
  --awsui-style-inline-size: fit-content;
}

.button-group-minimal {
  --awsui-style-color-background: transparent;
  --awsui-style-color-border: transparent;
  --awsui-style-border-radius: 0;
  --awsui-style-inline-size: fit-content;
  --awsui-style-color-text-default: #{palette.$accent};
  --awsui-style-color-text-hover: #{palette.$accent-hover};
}
