/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

@mixin radio-theme($accent, $accent-hover) {
  --awsui-style-color-background-checked: #{$accent};
  --awsui-style-color-border-default: #{$accent};
  --awsui-style-color-foreground-default: #{palette.$control-foreground};
  --awsui-style-color-text: #{palette.$text};
  --awsui-style-color-text-disabled: #{palette.$text-disabled};
  --awsui-style-color-border-disabled: #{palette.$border-disabled};
  --awsui-style-color-background-disabled: #{palette.$control-bg-disabled};
  --awsui-style-transition-color-text: #{palette.$transition-duration};

  &:hover {
    --awsui-style-color-border-default: #{$accent-hover};
  }
}

.radio-accent {
  @include radio-theme($accent: palette.$accent, $accent-hover: palette.$accent-hover);
}

.radio-success {
  @include radio-theme($accent: palette.$success, $accent-hover: palette.$accent-hover);
}
