/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.scrollableContainer {
  overflow-block: scroll;
  overflow-inline: scroll;
  block-size: 70px;
}

.highlightLabels {
  /* stylelint-disable-next-line selector-max-type, @cloudscape-design/no-implicit-descendant */
  [class*='awsui_label-wrapper'] {
    box-shadow: 0 0 0 1px green;
  }
}
