/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
/* stylelint-disable-next-line selector-class-pattern */
.awsui-util-f-r {
  float: right;
}

.root {
  position: relative;
  width: 800px;
  height: 800px;
  overflow: scroll;
}
