/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

// Colors
$header-color: awsui.$color-text-dropdown-item-default;
$grid-border-color: awsui.$color-border-calendar-grid;
$grid-date-color: awsui.$color-text-dropdown-item-default;
$grid-date-name-color: awsui.$color-text-calendar-month;
$grid-disabled-date-color: awsui.$color-text-dropdown-item-disabled;
$grid-nonmonth-day-color: awsui.$color-text-dropdown-item-secondary;
$grid-hover-background-color: awsui.$color-background-dropdown-item-hover;
$grid-hover-border-color: awsui.$color-border-dropdown-item-hover;
$grid-current-date-background-color: awsui.$color-background-calendar-today;
$grid-selected-text-color: awsui.$color-background-control-default;
$grid-selected-background-color: awsui.$color-background-control-checked;
$grid-selected-border-color: awsui.$color-background-control-checked;
$grid-in-range-background-color: awsui.$color-background-dropdown-item-selected;

// Shadows
$grid-selected-focused-box-shadow: 0 0 0 2px awsui.$color-border-calendar-grid-selected-focus-ring;

// Borders
$grid-border: 1px solid $grid-border-color;
