/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../internal/styles/typography/index' as typographyConstants;
@use './motion';

$calendar-header-color: awsui.$color-text-dropdown-item-default;
$calendar-grid-border-color: awsui.$color-border-calendar-grid;
$calendar-grid-day-color: awsui.$color-text-dropdown-item-default;
$calendar-grid-day-name-color: awsui.$color-text-calendar-month;
$calendar-grid-disabled-day-color: awsui.$color-text-dropdown-item-disabled;
$calendar-grid-nonmonth-day-color: awsui.$color-text-dropdown-item-secondary;
$calendar-grid-hover-background-color: awsui.$color-background-dropdown-item-hover;
$calendar-grid-hover-border-color: awsui.$color-border-dropdown-item-hover;
$calendar-grid-today-background-color: awsui.$color-background-calendar-today;
$calendar-grid-selected-text-color: awsui.$color-background-control-default;
$calendar-grid-selected-background-color: awsui.$color-background-control-checked;
$calendar-grid-selected-border-color: awsui.$color-background-control-checked;
$calendar-grid-selected-focused-box-shadow: 0 0 0 2px awsui.$color-border-calendar-grid-selected-focus-ring;
$calendar-grid-border: 1px solid $calendar-grid-border-color;

.root {
  /* used in test-utils */
}

.calendar {
  display: block;
  // IE11 does not calculate the height correctly when in nested flex containers (@see https://github.com/philipwalton/flexbugs#flexbug-3)
  width: 234px;
  overflow: auto;

  &-inner {
    margin: awsui.$space-xs;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-header-month {
    @include styles.font-body-m;
    font-weight: typographyConstants.$font-weight-bold;
    color: $calendar-header-color;
  }

  &-next-month-btn {
    /* used for identifying element */
  }

  &-prev-month-btn {
    /* used for identifying element */
  }

  &-day-names {
    display: flex;
    justify-content: stretch;
  }

  &-day-name {
    flex: 1 1 0%;
    width: 0;
    word-break: break-word;
    text-align: center;
    padding: awsui.$space-s 0 awsui.$space-xxs;
    color: $calendar-grid-day-name-color;
    @include styles.font-body-s;
  }

  &-dates {
    border: $calendar-grid-border;
  }
  &-week {
    display: flex;
    justify-content: stretch;
  }

  &-day {
    flex: 1 1 0%;
    width: 0;
    word-break: break-word;
    text-align: center;
    border-bottom: $calendar-grid-border;
    border-right: $calendar-grid-border;
    padding: awsui.$space-xxs 0;
    color: $calendar-grid-disabled-day-color;
    position: relative;

    &-focusable {
      /* used for identifying element */
    }

    &-enabled {
      cursor: pointer;
      color: $calendar-grid-nonmonth-day-color;

      &.calendar-day-current-month {
        color: $calendar-grid-day-color;
        &:hover {
          color: awsui.$color-text-calendar-day-hover;
          background-color: $calendar-grid-hover-background-color;
          &:not(.calendar-day-selected) {
            &::after {
              border: awsui.$border-item-width solid $calendar-grid-hover-border-color;
            }
          }
        }
      }
    }

    &-today {
      background-color: $calendar-grid-today-background-color;
      border-radius: awsui.$border-radius-item;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: calc(-1 * #{awsui.$border-item-width});
      left: -1px;
      bottom: -1px;
      right: calc(-1 * #{awsui.$border-item-width});
      background-color: transparent;
    }
    > .day-inner {
      position: relative;
      z-index: 1;
    }

    &:focus {
      outline: none;
      @include focus-visible.when-visible {
        @include styles.focus-highlight(
          awsui.$space-calendar-grid-focus-outline-gutter,
          awsui.$border-radius-calendar-day-focus-ring
        );
        &::before {
          z-index: 2;
        }
      }
    }

    &-selected {
      border-color: transparent;
      position: relative;
      &:focus {
        @include focus-visible.when-visible {
          @include styles.focus-highlight(
            awsui.$space-calendar-grid-focus-outline-gutter,
            awsui.$border-radius-calendar-day-focus-ring,
            $calendar-grid-selected-focused-box-shadow
          );
          &::before {
            z-index: 2;
          }
        }
      }
      &::after {
        background-color: $calendar-grid-selected-background-color;
        border: awsui.$border-item-width solid $calendar-grid-selected-border-color;
        border-radius: awsui.$border-radius-item;
      }
      > .day-inner {
        color: $calendar-grid-selected-text-color;
        position: relative;
      }
    }
  }

  @include styles.styles-reset;
}
