/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/' as styles;
@use '../../internal/styles/tokens' as awsui;

.gen-ai {
  &::after {
    content: '';
    position: absolute;
    inline-size: inherit;
    block-size: inherit;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    background: awsui.$color-background-avatar-gen-ai;
    @include styles.with-motion {
      animation: gradientMove 3.6s infinite cubic-bezier(0.7, 0, 0.3, 1);
    }
  }

  @include styles.with-direction('rtl') {
    &::after {
      inset-inline-start: -50%;
      @include styles.with-motion {
        animation-direction: reverse;
      }
    }
  }
}

// Gradient rotation animation
@keyframes gradientMove {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.dot {
  @include styles.with-motion {
    animation: dotsDancing 1.2s infinite ease-in-out;
  }
}

// Dots dancing animation
.dot:nth-child(1) {
  @include styles.with-motion {
    animation-delay: 100ms;
  }
}

.dot:nth-child(2) {
  @include styles.with-motion {
    animation-delay: 200ms;
  }
}

.dot:nth-child(3) {
  @include styles.with-motion {
    animation-delay: 300ms;
  }
}

.dot:last-child {
  @include styles.with-motion {
    margin-inline-end: 0;
  }
}

@keyframes dotsDancing {
  0% {
    transform: translateY(0px);
  }

  28% {
    transform: translateY(-4px);
  }

  44% {
    transform: translateY(0px);
  }
}
