/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles/foundation' as foundation;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;
@use './constants' as constants;
@use './mixins.scss' as mixins;

.root {
  @include styles.styles-reset;
}

.dismiss-button {
  align-self: flex-start;
  margin-block-end: 0;
  margin-inline-start: awsui.$space-xxs;
  border-block: awsui.$border-width-field solid transparent;
  border-inline: awsui.$border-width-field solid transparent;
  padding-block: 0;
  padding-inline: awsui.$space-xxs;
  color: var(#{custom-props.$tokenStyleDismissColorDefault}, awsui.$color-text-button-inline-icon-default);
  background-color: transparent;
  cursor: pointer;

  #{custom-props.$styleFocusRingBoxShadow}: 0 0 0
    var(#{custom-props.$styleFocusRingBorderWidth}, foundation.$box-shadow-focused-width)
    var(#{custom-props.$styleFocusRingBorderColor}, awsui.$color-border-item-focused);

  @include focus-visible.when-visible {
    @include styles.focus-highlight(
      $gutter: 0px,
      $border-radius: var(#{custom-props.$styleFocusRingBorderRadius}, awsui.$border-radius-control-default-focus-ring),
      $box-shadow: var(#{custom-props.$styleFocusRingBoxShadow})
    );
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: var(#{custom-props.$tokenStyleDismissColorHover}, awsui.$color-text-button-inline-icon-hover);
  }

  &-inline {
    padding-inline: 0;
    display: flex;
    align-items: center;
    align-self: center;
  }
}

.icon {
  padding-inline-end: awsui.$space-xs;
  align-self: flex-start;
  display: flex;
  flex-shrink: 0;

  &-inline {
    padding-inline-end: awsui.$space-xxs;
    align-self: center;
  }
}

.token-normal {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xxs;
}

.token-inline {
  display: inline-flex;
  max-inline-size: 100%;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }
}

.token-option-inline {
  max-block-size: constants.$token-max-height-inline;
}

.token-box {
  @include mixins.token-box-styles();

  &-without-dismiss {
    padding-inline-end: styles.$control-padding-horizontal;
  }
}

.token-box-inline {
  @include mixins.token-box-inline-styles();
}

.disable-padding {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.token-box-readonly,
.token-box-disabled {
  > .dismiss-button {
    cursor: initial;
    pointer-events: none;
  }
}

.token-box-readonly {
  border-color: var(#{custom-props.$tokenStyleBorderColorReadOnly}, awsui.$color-border-input-disabled);
  background: var(#{custom-props.$tokenStyleBackgroundReadOnly}, awsui.$color-background-container-content);

  > .dismiss-button {
    color: var(#{custom-props.$tokenStyleDismissColorReadOnly}, awsui.$color-text-button-inline-icon-disabled);
  }
}

.token-box-disabled {
  pointer-events: none;
  border-color: var(#{custom-props.$tokenStyleBorderColorDisabled}, awsui.$color-border-control-disabled);
  background: var(#{custom-props.$tokenStyleBackgroundDisabled}, awsui.$color-background-container-content);
  color: awsui.$color-text-disabled;

  // stylelint-disable-next-line no-descending-specificity
  > .dismiss-button {
    color: var(#{custom-props.$tokenStyleDismissColorDisabled}, awsui.$color-text-button-inline-icon-disabled);
  }
}
