/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
@use './constants' as constants;
@use './mixins.scss' as mixins;

.dismiss-button {
  margin-block-end: 0;
  margin-inline-start: awsui.$space-xxs;
  border-block: awsui.$border-width-field solid transparent;
  border-inline: awsui.$border-width-field solid transparent;
  padding-block: 0;
  padding-inline: awsui.$space-xxs;
  color: awsui.$color-text-button-inline-icon-default;
  background-color: transparent;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    color: awsui.$color-text-button-inline-icon-hover;
  }

  &-inline {
    padding-inline: 0;
    display: flex;
    align-items: center;
  }
}

.dismiss-icon-inline {
  // !important is essential here to remove padding from the icon
  padding-block: 0 !important;
  inline-size: constants.$icon-width;
  max-block-size: constants.$icon-width;
}

.icon {
  padding-inline-end: awsui.$space-xs;
  align-self: center;
  display: flex;
  flex-shrink: 0;

  &-inline {
    padding-inline-end: awsui.$space-xxs;
  }
}

.icon-size-big {
  padding-block-start: awsui.$space-option-icon-big-top;
}

.token {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: awsui.$space-xxs;

  &-min-width {
    min-inline-size: min-content;
  }
}

.token-inline {
  display: inline-flex;
  max-inline-size: 100%;
  border-block: awsui.$border-width-field solid transparent;
  border-inline: awsui.$border-width-field solid transparent;
  vertical-align: middle;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }

  &-min-width {
    min-inline-size: max-content;

    &-icon-and-dismiss {
      min-inline-size: calc(
        constants.$token-character-limit + constants.$token-icon-width + constants.$token-action-button-width +
          (awsui.$space-scaled-xxs * 2)
      );
    }

    &-icon {
      min-inline-size: calc(
        constants.$token-character-limit + constants.$token-icon-width + (awsui.$space-scaled-xxs * 2)
      );
    }

    &-dismiss {
      min-inline-size: calc(
        constants.$token-character-limit + constants.$token-action-button-width + (awsui.$space-scaled-xxs * 2)
      );
    }

    &-label-only {
      min-inline-size: calc(constants.$token-character-limit + (awsui.$space-scaled-xxs * 2));
    }
  }
}

.token-option-label {
  min-inline-size: constants.$token-character-limit;
}

.token-box {
  @include mixins.token-box-styles();
}

.token-box-inline {
  @include mixins.token-box-inline-styles();
}

.disable-padding {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.token-box-readonly,
.token-box-disabled {
  border-color: awsui.$color-border-input-disabled;
  background-color: awsui.$color-background-container-content;
  pointer-events: none;

  > .dismiss-button {
    color: awsui.$color-text-button-inline-icon-disabled;

    &:hover {
      cursor: initial;
      color: awsui.$color-text-button-inline-icon-disabled;
    }
  }
}

.token-box-disabled {
  color: awsui.$color-text-disabled;
}
