/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/style-api' as style-api;

$props: (
  color-background-default,
  color-background-disabled,
  color-background-readonly,
  color-border-default,
  color-border-disabled,
  color-border-readonly,
  color-text-default,
  color-dismiss-default,
  color-dismiss-hover,
  color-dismiss-disabled,
  color-dismiss-readonly,
  border-radius
);
$tokens: style-api.resolve($props);
