/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use './mixins' as mixins;

.icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  &-flex-height {
    display: inline-flex;
    align-items: center;
  }

  /* stylelint-disable-next-line selector-max-type */
  > svg {
    // SVG is focusable by default
    // https://stackoverflow.com/questions/18646111/disable-onfocus-event-for-svg-element
    pointer-events: none;
  }

  @include mixins.style-svg();

  @include mixins.make-icon-sizes;
  @include mixins.make-icon-variants;
}

.badge {
  /* stylelint-disable-next-line selector-max-type */
  > svg,
  > img {
    clip-path: path('M12 0H0V16H16V4C13.7909 4 12 2.20914 12 0Z');
  }

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: awsui.$color-background-badge-icon;
    top: 0px;
    right: -3px;
  }
}
