/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.drawer.refresh {
  @include styles.with-motion {
    transition-duration: awsui.$motion-duration-refresh-only-fast;
    transition-property: none;
  }

  &.animating {
    @include styles.with-motion {
      transition-property: transform;
      transition-timing-function: awsui.$motion-easing-refresh-only-a;
    }
  }
}
