/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../app-layout/constants' as constants;

@import './motion';

$slider-width: 16px;

// Values taken from app layout
$app-layout-drawer-width: calc(#{awsui.$space-layout-toggle-diameter} + 2 * #{awsui.$space-layout-toggle-padding});

.drawer {
  @include styles.styles-reset;
  flex-shrink: 0;
  position: relative;
  @include styles.text-wrapping;
  background-color: awsui.$color-background-layout-panel-content;
  // should be above tools and navigation panels to avoid their shadows
  z-index: 840;
  &-closed {
    cursor: pointer;
    min-inline-size: constants.$sidebar-size-closed;
  }
}

.drawer-content-side {
  display: flex;
  align-items: center;
  block-size: 100%;
  overflow: auto;
  .drawer-closed > & {
    inline-size: constants.$sidebar-size-closed;
    &:hover {
      background: awsui.$color-background-layout-panel-hover;
    }
  }

  & > [aria-hidden='true'] {
    display: none;
  }
}

.drawer-content-bottom {
  :not(.drawer-closed) > & {
    overflow-y: auto;
    position: absolute;
    inset: 0;
    // Make sure that fixed position elements like popovers don't leak out
    clip-path: border-box;
  }
}

.position-bottom {
  position: fixed;
  overflow-y: auto;
  border-block-start: awsui.$border-panel-top-width solid awsui.$color-border-divider-panel-bottom;

  &:not(.refresh) {
    // custom shadow because the existing one does not have shadow on top
    box-shadow: awsui.$shadow-split-bottom;
    border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-panel-bottom;
    border-inline-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-panel-bottom;
  }
  &.drawer-closed {
    overflow: hidden;
  }
  &.drawer-closed:hover {
    background: awsui.$color-background-layout-panel-hover;
  }
  & > .drawer-content-bottom > [aria-hidden='true'] {
    display: none;
  }

  /*
  Removed the position fixed with the AppLayout refactor because the
  SplitPanel is no longer in fixed position in the DOM.
  */
  &.refresh {
    position: relative;
  }
}

.position-side {
  border-block-start: none;
  box-shadow: awsui.$shadow-split-side;
  block-size: 100%;
}

.slider-wrapper-bottom {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: $slider-width + 2px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.slider-wrapper-side {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: $slider-width + 2px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.open-button-side {
  flex: 0 0 auto;
  align-self: flex-start;
  box-sizing: border-box;
  margin-block-start: awsui.$space-xxs;
  margin-block-end: 0;
  margin-inline: auto;
}

.pane-header-wrapper-bottom {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  position: sticky;
  inset-block-start: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1; // should be above .content-bottom
  padding-block: 0;
  padding-inline: awsui.$space-layout-content-horizontal;

  .drawer-mobile > .drawer-content-bottom > & {
    padding-block: 0;
    padding-inline: awsui.$space-l;
  }
  .drawer-disable-content-paddings > .drawer-content-bottom > & {
    padding-block: 0;
    padding-inline: awsui.$space-l;
  }
  :not(.drawer-closed) > .drawer-content-bottom > & {
    background-color: awsui.$color-background-layout-panel-content;
    border-block-end: awsui.$border-panel-header-width solid awsui.$color-border-divider-default;
  }
}

.content-bottom {
  padding-block: 0;
  padding-inline: awsui.$space-layout-content-horizontal;
  margin-block-start: awsui.$space-panel-split-top;
  position: relative;
  z-index: 0; // the content inside .content-bottom should not be above pane-header-wrapper-bottom
  .drawer-mobile > .drawer-content-bottom > & {
    padding-block: 0;
    padding-inline: awsui.$space-l;
  }
  .drawer-disable-content-paddings > .drawer-content-bottom > & {
    padding-block: 0;
    padding-inline: 0;
  }
}

.pane-bottom-center-align {
  display: flex;
  justify-content: center;
}

.pane-bottom-content-nav-padding {
  padding-inline-start: $app-layout-drawer-width;
}

.pane-bottom-content-tools-padding {
  padding-inline-end: $app-layout-drawer-width;
}

.content-bottom-max-width {
  flex-grow: 1;
  max-inline-size: 100%;
}

.content-side {
  flex: auto;
  align-self: flex-start;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  block-size: 100%;
  > .pane-header-wrapper-side {
    padding-block: 0;
    padding-inline-end: awsui.$space-m;
    padding-inline-start: awsui.$space-panel-side-left;
    border-block-end: awsui.$border-panel-header-width solid awsui.$color-border-divider-default;
  }
  > .pane-content-wrapper-side {
    padding-block: 0;
    padding-inline-start: awsui.$space-panel-side-left;
    padding-inline-end: awsui.$space-panel-side-right;
    margin-block-start: awsui.$space-panel-split-top;
    margin-block-end: awsui.$space-panel-split-bottom;
  }
}

.header {
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  inline-size: 100%;
  margin-block: awsui.$size-vertical-panel-icon-offset;
  margin-inline: 0;

  &-text {
    @include styles.font-panel-header;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    margin-block-start: calc(#{awsui.$space-scaled-xxs} + 1px);
  }
}

.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-inline-start: awsui.$space-xs;
}

.divider {
  border-inline-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  margin-block: awsui.$space-scaled-xxs;
  margin-inline: awsui.$space-scaled-xs;
}
