/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;

.root {
  /* used in test-utils */
}

.view-button {
  /* used in test-utils */
}

.browse-button {
  /* used in test-utils */
}

.layout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-block: calc(-1 * #{awsui.$space-xs});
  margin-inline: calc(-1 * #{awsui.$space-xs});

  /* stylelint-disable selector-max-universal */
  & > * {
    margin-block: awsui.$space-xs;
    margin-inline: awsui.$space-xs;
  }
  &-uri {
    min-inline-size: 200px;
    flex: 1;
  }
  &-version {
    max-inline-size: 180px;
    min-inline-size: 140px;
    inline-size: 20%;
  }
  &-divider {
    block-size: calc(
      2 * #{awsui.$border-divider-section-width} + 2 * #{awsui.$space-scaled-xxs} + #{awsui.$line-height-body-m}
    ); // replicate the button layout: 2x border, 2x vertical padding, text line-height
    border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  }
}
