/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../../internal/styles/index' as styles;
@use '../../../../internal/styles/tokens' as awsui;
@use '../../../../internal/hooks/focus-visible' as focus-visible;

$calendar-grid-border-color: awsui.$color-border-calendar-grid;

$calendar-grid-day-color: awsui.$color-text-dropdown-item-default;
$calendar-grid-disabled-day-color: awsui.$color-text-dropdown-item-disabled;

$calendar-grid-hover-background-color: awsui.$color-background-dropdown-item-hover;
$calendar-grid-hover-border-color: awsui.$color-border-dropdown-item-hover;

$calendar-grid-today-background-color: awsui.$color-background-calendar-today;

$calendar-grid-selected-background-color: awsui.$color-background-control-checked;
$calendar-grid-selected-text-color: awsui.$color-background-control-default;
$calendar-grid-selected-border-color: awsui.$color-background-control-checked;
$calendar-grid-in-range-background-color: awsui.$color-background-dropdown-item-selected;

$calendar-grid-selected-focused-box-shadow: 0 0 0 2px awsui.$color-border-calendar-grid-selected-focus-ring;

$calendar-grid-border: 1px solid $calendar-grid-border-color;

$calendar-grid-width: 234px;

@mixin border-radius($horizontal, $vertical) {
  &,
  &::after {
    border-#{$horizontal}-#{$vertical}-radius: awsui.$border-item-radius;
  }
}

@mixin in-range-borders {
  $sides: top, right, bottom, left;
  @each $side in $sides {
    &.in-range-border-#{$side}::after {
      border-#{$side}: awsui.$border-item-width solid $calendar-grid-selected-border-color;
    }
  }
}

@mixin in-range-border-radius($horizontal, $vertical) {
  &.in-range-border-#{$horizontal}.in-range-border-#{$vertical} {
    @include border-radius($horizontal, $vertical);
  }
}

.day {
  flex: 1 1 0%;
  width: 0;
  word-break: break-word;
  text-align: center;
  border-bottom: $calendar-grid-border;
  border-right: $calendar-grid-border;
  padding: awsui.$space-xxs 0;
  color: $calendar-grid-disabled-day-color;
  position: relative;

  &:focus {
    outline: none;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(-1 * #{awsui.$border-item-width});
    left: -1px;
    bottom: -1px;
    right: calc(-1 * #{awsui.$border-item-width});
    background-color: transparent;
  }

  > .day-inner {
    position: relative;
    z-index: 1;
  }

  @include focus-visible.when-visible {
    z-index: 2;
    @include styles.focus-highlight(
      awsui.$space-calendar-grid-focus-outline-gutter,
      awsui.$border-calendar-grid-focus-ring-radius
    );
  }
}

.in-first-row:not(.in-previous-month) {
  border-top: $calendar-grid-border;
}

.in-previous-month:not(.last-day-of-month) {
  border-right-color: transparent;
}

.in-next-month {
  border-color: transparent;
}

.in-first-column {
  border-left: 1px solid transparent;

  &.in-current-month {
    border-left: $calendar-grid-border;
  }
}

.enabled {
  cursor: pointer;

  &.in-current-month {
    color: $calendar-grid-day-color;
    &:not(.in-range),
    &.end-date.start-date,
    &.no-range {
      &,
      &::after {
        border-radius: awsui.$border-calendar-grid-radius;
      }
    }
    &:hover {
      color: awsui.$color-text-calendar-day-hover;
      background-color: $calendar-grid-hover-background-color;
      &:not(.selected) {
        &::after {
          border: awsui.$border-item-width solid $calendar-grid-hover-border-color;
        }
      }
    }
  }
}

.today:not(.in-range) {
  background-color: $calendar-grid-today-background-color;
  border-radius: awsui.$border-calendar-grid-radius;
}

.selected {
  border-color: transparent;
  position: relative;
  z-index: 2;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(
      awsui.$space-calendar-grid-selected-focus-outline-gutter,
      awsui.$border-calendar-grid-focus-ring-radius,
      $calendar-grid-selected-focused-box-shadow
    );
    &::before {
      z-index: 1;
    }
  }

  &::after {
    background-color: $calendar-grid-selected-background-color;
    border: awsui.$border-item-width solid $calendar-grid-selected-border-color;
    z-index: 0;
  }

  &.start-date,
  &.range-start-date {
    @include border-radius(top, left);
    &.in-range-border-bottom {
      @include border-radius(bottom, left);
    }
  }

  &.end-date,
  &.range-end-date {
    @include border-radius(bottom, right);
    &.in-range-border-top {
      @include border-radius(top, right);
    }
  }

  > .day-inner {
    color: $calendar-grid-selected-text-color;
    position: relative;
    z-index: 2;
  }
}

.in-range {
  background-color: $calendar-grid-in-range-background-color;

  @include in-range-borders;

  @include in-range-border-radius(top, right);
  @include in-range-border-radius(bottom, right);
  @include in-range-border-radius(bottom, left);
  @include in-range-border-radius(top, left);
}
