/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.styled-dropzone {
  --awsui-style-file-dropzone-background: #{palette.$surface};
  --awsui-style-file-dropzone-border-color: #{palette.$border-accent};
  --awsui-style-file-dropzone-border-style: dashed;
  --awsui-style-file-dropzone-border-radius: 16px;

  &:hover {
    --awsui-style-file-dropzone-background: #{palette.$surface-alt};
    --awsui-style-file-dropzone-border-color: #{palette.$accent-hover};
  }
}

.styled-dropzone-alt {
  --awsui-style-file-dropzone-background: #{palette.$info-surface};
  --awsui-style-file-dropzone-border-color: #{palette.$info};
  --awsui-style-file-dropzone-border-style: dashed;
  --awsui-style-file-dropzone-border-radius: 8px;

  &:hover {
    --awsui-style-file-dropzone-background: #{palette.$surface-alt};
    --awsui-style-file-dropzone-border-color: #{palette.$accent};
  }
}
