/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../constants' as constants;

@mixin desktop-only {
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    @content;
  }
}

.root {
  @include styles.styles-reset;
  color: awsui.$color-text-body-default;
  background-color: awsui.$color-background-layout-main;

  #{custom-props.$maxContentWidth}: 100%;
  display: grid;

  // mobile grid
  grid-template-areas:
    'topBar    topBar     topBar'
    '.      notifications .'
    '.          main      .';
  grid-template-columns:
    awsui.$space-layout-content-horizontal
    1fr
    awsui.$space-layout-content-horizontal;
  grid-template-rows: min-content min-content 1fr;

  // desktop grid
  @include desktop-only {
    grid-template-areas:
      'navigation toolbar      toolbar       toolbar   toolbar         tools'
      'navigation .         notifications    .         sideSplitPanel  tools'
      'navigation .             main         .         sideSplitPanel  tools';
    grid-template-columns:
      min-content
      minmax(#{awsui.$space-layout-content-horizontal}, 1fr)
      minmax(0, var(#{custom-props.$maxContentWidth}))
      minmax(#{awsui.$space-layout-content-horizontal}, 1fr)
      min-content
      min-content;
    grid-template-rows: min-content min-content 1fr min-content;

    &.has-adaptive-widths-default {
      @each $breakpoint, $width in constants.$adaptive-content-widths {
        @include styles.media-breakpoint-up($breakpoint) {
          #{custom-props.$maxContentWidth}: $width;
        }
      }
    }

    &.has-adaptive-widths-dashboard {
      @each $breakpoint, $width in constants.$dashboard-content-widths {
        @include styles.media-breakpoint-up($breakpoint) {
          #{custom-props.$maxContentWidth}: $width;
        }
      }
    }
  }
}

.navigation,
.tools {
  grid-row: 1 / -1;
  grid-column: 1/ -1;
  background: awsui.$color-background-container-content;
  z-index: 850;
}

.navigation {
  @include desktop-only {
    grid-area: navigation;
    inline-size: var(#{custom-props.$navigationWidth});
    border-inline-end: 1px solid awsui.$color-border-divider-panel-side;
  }
}

.tools {
  @include desktop-only {
    grid-area: tools;
    inline-size: var(#{custom-props.$toolsWidth});
    border-inline-start: 1px solid awsui.$color-border-divider-panel-side;
  }
}

.split-panel-side {
  @include desktop-only {
    grid-area: sideSplitPanel;
    border-inline-start: 1px solid awsui.$color-border-divider-panel-side;
  }
}

.split-panel-bottom {
  position: sticky;
  z-index: 840;
  align-self: end;
  grid-area: main;
  grid-column: 1 / -1;
  @include desktop-only {
    grid-column: 2 / span 3;
  }
}

.panel-hidden {
  display: none;
}

.toolbar-container {
  grid-area: toolbar;
  &:not(:empty) {
    block-size: 48px;
    border-block-end: 1px solid awsui.$color-border-divider-panel-bottom;
  }
}

.notifications-container {
  grid-area: notifications;
  &:not(:empty) {
    padding-block-start: awsui.$space-scaled-xs;
  }
}

.main-landmark {
  // does not participate in the layout, rendered for accessibility grouping
  display: contents;
}

.main {
  grid-area: main;
  margin-block-start: awsui.$space-scaled-s;
  margin-block-end: awsui.$space-layout-content-bottom;
  &-disable-paddings {
    grid-column: 1 / -1;
    @include desktop-only {
      grid-column: 2 / span 3;
    }
    margin-block: 0;
  }
}

.content-header {
  margin-block-end: awsui.$space-content-header-padding-bottom;
}

/* stylelint-disable-next-line selector-combinator-disallowed-list, selector-max-universal */
.unfocusable-mobile * {
  visibility: hidden;
  @include desktop-only {
    visibility: visible;
  }
}
