/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:map';
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
@use './constants' as constants;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../internal/styles/foundation' as foundation;
@use '../internal/styles/utils/theming' as theming;
@use '../internal/styles/style-api' as style-api;

$tokens: style-api.resolve(
  (color, focus-ring-color, focus-ring-width, focus-ring-radius, text-decoration-line, text-decoration-color),
  public
);
@include style-api.register($tokens);
@include style-api.docs('root', $tokens);

@mixin focus-ring-box-shadow($color) {
  #{custom-props.$styleFocusRingBoxShadow}: 0 0 0
    style-api.value(
      $tokens,
      focus-ring-width,
      var(#{custom-props.$styleFocusRingBorderWidth}, awsui.$border-link-focus-ring-shadow-spread)
    )
    style-api.value($tokens, focus-ring-color, var(#{custom-props.$styleFocusRingBorderColor}, $color));
}

.link {
  @include styles.styles-reset;
  display: inline;
  white-space: inherit;

  @include focus-ring-box-shadow(awsui.$color-border-item-focused);

  @include styles.link-default($tokens: $tokens);

  @each $variant in map.keys(constants.$link-variants) {
    &.variant-#{$variant} {
      @if $variant == 'info' or $variant == 'top-navigation' {
        @include styles.font-smoothing;
      }
      @if $variant == 'secondary' {
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
      }
      @include styles.link-variant-style(map.get(constants.$link-variants, $variant), $tokens);
    }
  }

  &.button {
    @include styles.font-smoothing;
    @include styles.link-variant-style(map.get(constants.$link-styles, 'button'), $tokens);

    @include theming.one-theme-only {
      @include styles.link-variant-style(map.get(constants.$link-variants, 'primary'), $tokens);
      & {
        font-weight: inherit;
        letter-spacing: normal;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
      }
      &.color-inverted {
        color: style-api.value($tokens, color, awsui.$color-text-link-inverted-default);
        text-decoration-color: style-api.value($tokens, text-decoration-color, currentColor);
        &:hover {
          color: style-api.value($tokens, color, awsui.$color-text-link-inverted-hover);
        }
      }
    }
  }

  &.color-inverted {
    color: style-api.value($tokens, color, awsui.$color-text-link-inverted-default);
    @include theming.one-theme-only {
      @include focus-ring-box-shadow(currentColor);
    }
    &:not(.button) {
      text-decoration-line: style-api.value($tokens, text-decoration-line, underline);
      text-decoration-color: style-api.value($tokens, text-decoration-color, currentColor);
    }
    &:hover {
      color: style-api.value($tokens, color, awsui.$color-text-link-inverted-hover);
    }
  }

  @include focus-visible.when-visible {
    @include styles.link-focus(
      $border-color: style-api.value(
          $tokens,
          focus-ring-color,
          var(#{custom-props.$styleFocusRingBorderColor}, awsui.$color-border-item-focused)
        ),
      $border-radius: style-api.value(
          $tokens,
          focus-ring-radius,
          var(#{custom-props.$styleFocusRingBorderRadius}, awsui.$border-radius-control-default-focus-ring)
        ),
      $box-shadow: var(#{custom-props.$styleFocusRingBoxShadow})
    );
  }

  @each $font-size, $properties in constants.$link-font-sizes {
    &.font-size-#{$font-size} {
      @include styles.font($font-size);
      @include styles.link-font-size-style(map.get(constants.$link-font-sizes, $font-size));
    }
  }

  &.in-inline-token {
    text-underline-offset: 0.15em;
  }
}

.icon-wrapper {
  white-space: nowrap;
}

.icon {
  display: inline-block;
}
