/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '@cloudscape-design/component-toolkit/styling' as styling;
@use '../style-api/palette' as palette;

.alert-genai {
  --awsui-style-focus-ring-color: #{palette.$genai};

  @include styling.override {
    background-color: palette.$genai-surface;
    color: palette.$genai-text;
    border-color: palette.$genai;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    padding-block: 12px;
    padding-inline: 24px;
  }
}

.alert-genai-icon {
  @include styling.override {
    color: palette.$genai;
  }
}

.alert-genai-action {
  --awsui-style-background-color: #{palette.$genai};
  --awsui-style-color: #{palette.$text-on-accent};
  --awsui-style-border-color: #{palette.$genai};
  --awsui-style-border-radius: 4px;
  --awsui-style-focus-ring-color: #{palette.$genai};

  &:hover,
  &:focus {
    --awsui-style-background-color: #{palette.$genai-hover};
    --awsui-style-border-color: #{palette.$genai-hover};
  }

  &:active {
    --awsui-style-background-color: #{palette.$genai-active};
    --awsui-style-border-color: #{palette.$genai-active};
  }
}

.alert-genai-dismiss {
  --awsui-style-color: #{palette.$genai-text};
  --awsui-style-focus-ring-color: #{palette.$genai};

  &:hover,
  &:focus {
    --awsui-style-color: #{palette.$genai};
  }
}
