/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '@cloudscape-design/component-toolkit/styling' as styling;
@use '../style-api/palette' as palette;

.badge {
  @include styling.override {
    border-color: transparent;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    border-width: 3px;
    padding-block: 6px;
    padding-inline: 12px;
  }
}

.badge-info-pill {
  @include styling.override {
    background-color: palette.$accent;
    color: palette.$text-on-accent;
    border-start-start-radius: 77px;
    border-start-end-radius: 77px;
    border-end-start-radius: 77px;
    border-end-end-radius: 77px;
  }
}

.badge-error-square {
  @include styling.override {
    background-color: palette.$error-surface;
    color: palette.$error;
    border-color: palette.$error;
  }
}

.badge-label {
  @include styling.override {
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
  }
}
