/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.key-value-pairs {
  @include styles.styles-reset;
}

.groupTitle {
  padding-block-end: awsui.$space-scaled-m;
}

.groupList {
  @include styles.styles-reset-dl;
  display: flex;
  flex-direction: column;
  row-gap: awsui.$space-scaled-m;
}

.groupListItem {
  /* used in test-utils */
}

.term {
  @include styles.font-label;
  color: awsui.$color-text-label;
  margin-block-end: awsui.$space-key-value-gap;
}

.key-label {
  @include styles.info-link-spacing;
}

.detail {
  @include styles.styles-reset;
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.info {
  display: inline-flex;
  padding-inline-start: awsui.$space-xs;
  border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}
