/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '~design-tokens' as awsui;

.badge-button {
  cursor: pointer;
  text-decoration: underline;
}
