/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;

// Spacing (margin/padding) is now applied via inline styles in internal.tsx
// using CSS custom properties from design tokens. This reduces CSS bundle size
// by ~15KB by eliminating 140 pre-generated spacing utility classes.

.box {
  &.d-block {
    display: block;
  }
  &.d-inline {
    display: inline;
  }
  &.d-inline-block {
    display: inline-block;
  }
  &.d-none {
    display: none;
  }
}

.f-left {
  float: inline-start;
}
.f-right {
  float: inline-end;
}
