/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as tokens;

.container-inverted {
  // Prevent color contrast violations for inverted link color.
  padding-block: 5px;
  padding-inline: 5px;
  background-color: tokens.$color-background-notification-blue;
}

.narrow {
  border-block: 1px solid red;
  border-inline: 1px solid red;
  max-inline-size: 12ch;
}
