/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.styled-link {
  --awsui-style-color-text-default: #{palette.$accent};
  --awsui-style-color-text-hover: #{palette.$error};
  --awsui-style-color-text-active: #{palette.$accent-active};
  --awsui-style-font-weight: 700;
  --awsui-style-text-decoration: underline;
}
