/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  @include styles.styles-reset;
}

.header:not(.full-page) {
  margin-block-end: awsui.$space-scaled-m;
}

.content {
  /* used in test-utils */
}

.error {
  /* used in test-utils */
}

.footer {
  margin-block-start: awsui.$space-scaled-l;
}
.actions-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-inline-start: calc(-1 * #{awsui.$space-scaled-m});
  margin-block-end: calc(-1 * #{awsui.$space-scaled-m});
}
.secondary-actions {
  min-inline-size: 1px;
  margin-inline-start: awsui.$space-scaled-m;
  margin-block-end: awsui.$space-scaled-m;
}
.actions {
  min-inline-size: 1px;
  margin-inline-start: awsui.$space-scaled-m;
  margin-block-end: awsui.$space-scaled-m;
}
