/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use '../container/shared' as container;

.root {
  @include styles.default-text-style;
  width: 100%;
}

.tools {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: awsui.$space-scaled-xs 0 awsui.$space-table-header-tools-bottom;

  &-filtering {
    @supports (flex-basis: fit-content) {
      flex: 1 1 fit-content;
    }
    @supports not (flex-basis: fit-content) {
      flex: 1 1 auto;
    }
    max-width: 100%;
    margin-right: awsui.$space-l;
  }

  &-align-right {
    display: flex;
    margin-left: auto;
  }

  &-pagination + &-preferences {
    border-left: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    box-sizing: border-box;
    margin-left: awsui.$space-xs;
    padding-left: awsui.$space-xs;
  }

  &-small > &-filtering {
    margin-right: 0;
    margin-bottom: awsui.$space-scaled-xs;
    flex-basis: 100%;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  position: relative;
  box-sizing: border-box;
  &-layout-fixed {
    table-layout: fixed;
  }
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;

  scrollbar-width: none; /* Hide scrollbar in Firefox */
  &.variant-stacked,
  &.variant-container {
    & > .table,
    & > .wrapper-content-measure {
      padding-left: awsui.$space-table-horizontal;
      padding-right: awsui.$space-table-horizontal;
    }
  }
  &.variant-container:not(.has-footer) {
    padding-bottom: awsui.$space-table-content-bottom;
  }
  &:not(.has-header) {
    border-top-right-radius: awsui.$border-radius-container;
    border-top-left-radius: awsui.$border-radius-container;
  }
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Safari and Chrome */
  }

  @include focus-visible.when-visible {
    @include styles.container-focus();
  }
}

.cell-merged {
  text-align: center;
  padding: 0;
  &.has-footer {
    /*
    Add a bottom border to the body cell of an empty table as a separator between the 
    table and the footer
    */
    border-bottom: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  }
  &-content {
    box-sizing: border-box;
    width: 100%;
    padding: awsui.$space-scaled-m awsui.$space-l awsui.$space-scaled-l;
    /* stylelint-disable plugin/no-unsupported-browser-features */
    @supports (position: sticky) {
      position: sticky;
      left: 0;
      // Offset table paddings to position centered when sticky
      margin: 0 calc(-2 * #{awsui.$space-table-horizontal});
    }
    /* stylelint-enable plugin/no-unsupported-browser-features */
  }
}

.empty {
  color: awsui.$color-text-empty;
}

.loading {
  /* used in test-utils */
}

/*
The min/max/width token values in Visual Refresh should align 
the table header and body cells selection control with the table
filter search icon.
*/
.selection-control {
  box-sizing: border-box;
  max-width: awsui.$size-table-selection-horizontal;
  min-width: awsui.$size-table-selection-horizontal;
  position: relative;
  width: awsui.$size-table-selection-horizontal;

  &.selection-control-header {
    padding: awsui.$space-scaled-xs awsui.$space-scaled-l;
    border-left: awsui.$border-item-width solid transparent;
  }
}

.expand-cell {
  max-width: 10px;
  min-width: 10px;
  width: 10px;
  padding: 0px !important;
}

/*
The dynamic height dark header needs a background that will cover
the default white background of the container component.
*/
.dark-header {
  background-color: awsui.$color-background-layout-main;
  color: awsui.$color-text-body-default;
}

.header-secondary {
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  background: awsui.$color-background-table-header;
  &.variant-stacked,
  &.variant-container {
    & > .table {
      padding-left: awsui.$space-table-horizontal;
      padding-right: awsui.$space-table-horizontal;
    }
  }
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  &.table-has-header {
    border-top: awsui.$border-divider-list-width solid awsui.$color-border-container-divider;
  }
}

.header-controls {
  padding-top: awsui.$space-container-header-top;
  padding-bottom: awsui.$space-container-header-bottom;

  &.variant-full-page {
    padding-top: 0;
    padding-bottom: calc(#{awsui.$space-container-header-bottom} + #{awsui.$space-table-header-tools-full-page-bottom});
  }
  &.variant-stacked,
  &.variant-container {
    padding-left: calc(awsui.$space-table-horizontal + awsui.$space-table-header-horizontal);
    padding-right: calc(awsui.$space-table-horizontal + awsui.$space-table-header-horizontal);
  }
  &.variant-embedded,
  &.variant-borderless {
    padding-left: awsui.$space-table-header-horizontal;
    padding-right: awsui.$space-table-header-horizontal;
    padding-top: awsui.$space-table-embedded-header-top;
  }
}

.footer-wrapper {
  &.variant-stacked,
  &.variant-container {
    padding-left: awsui.$space-table-horizontal;
    padding-right: awsui.$space-table-horizontal;
  }
}

.footer {
  padding: awsui.$space-scaled-s awsui.$space-table-footer-horizontal;
  &-with-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: awsui.$space-scaled-s;
  }
  &-pagination {
    // Align the footer pagination on the right
    margin-left: auto;
  }
}

.thead-active,
.row,
.row-selected {
  /* used in test-utils */
}
