/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/styles' as styles;
@use '../../constants.scss' as constants;
@use '../../../internal/generated/custom-css-properties/index.scss' as custom-props;

@mixin desktop-only {
  @include styles.media-breakpoint-up(styles.$breakpoint-x-small) {
    @content;
  }
}

@mixin mobile-only {
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    @content;
  }
}

.drawer {
  position: sticky;
  z-index: constants.$drawer-z-index;
  background-color: awsui.$color-background-container-content;
  display: grid;
  grid-template-columns: awsui.$space-m 1fr;
  inline-size: var(#{custom-props.$drawerSize});

  block-size: 100%;
  overflow: hidden;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-y: contain;
  pointer-events: auto;
  word-wrap: break-word;

  @include desktop-only {
    &:not(.legacy) {
      border-inline-start: awsui.$border-divider-section-width solid awsui.$color-border-layout;
    }
  }

  @include mobile-only {
    inline-size: 100%;
    &.last-opened {
      z-index: constants.$drawer-z-index-mobile;
    }
  }

  &.drawer-global {
    @include mobile-only {
      &:not(.last-opened) {
        display: none;
      }
    }
  }

  &.drawer-hidden {
    display: none;
  }

  > .drawer-content-container {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: awsui.$space-m 1fr auto awsui.$space-m;
    grid-template-rows: constants.$toolbar-vertical-panel-icon-offset auto 1fr;
    overflow-y: auto;

    > .drawer-close-button {
      grid-column: 3;
      grid-row: 2;
      z-index: 1;
    }

    > .drawer-content {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      &.drawer-content-hidden {
        display: none;
      }
    }
  }

  > .drawer-slider {
    grid-column: 1;
    grid-row: 1;
    block-size: 100%;
    display: flex;
    align-items: center;
  }
}
