/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.wizard-layout {
  display: flex;
  flex-direction: column;
  gap: awsui.$space-static-l;
  padding-block: awsui.$space-static-l;
  padding-inline: awsui.$space-static-l;

  @media (min-width: 688px) {
    flex-direction: row;
  }
}

.wizard-navigation {
  flex-shrink: 0;
  user-select: text;

  @media (min-width: 688px) {
    inline-size: 240px;
  }
}

.wizard-content {
  flex: 1;
  min-inline-size: 0;
}

.step-list {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  user-select: text;
}

.step-item {
  display: flex;
  flex-direction: row;
  gap: awsui.$space-static-s;
  padding-block-end: awsui.$space-static-xs;
}

.step-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-circle {
  inline-size: 20px;
  block-size: 20px;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  border-block: 2px solid;
  border-inline: 2px solid;
  flex-shrink: 0;

  &[data-status='active'] {
    border-color: awsui.$color-background-control-checked;
    background-color: awsui.$color-background-control-checked;
    box-shadow: inset 0 0 0 3px awsui.$color-background-container-content;
  }

  &[data-status='visited'] {
    border-color: awsui.$color-text-interactive-default;
    background-color: awsui.$color-text-interactive-default;
  }

  &[data-status='unvisited'] {
    border-color: awsui.$color-text-interactive-disabled;
    background-color: transparent;
  }
}

.step-line {
  inline-size: 2px;
  flex: 1;
  min-block-size: awsui.$space-static-l;
  background-color: awsui.$color-border-divider-default;
  margin-block: awsui.$space-static-xxs;
}

.step-content {
  padding-block-start: awsui.$space-static-xxs;
  user-select: text;
  cursor: default;
}

.placeholder-content {
  background-color: awsui.$color-background-layout-toggle-default;
  border-start-start-radius: awsui.$border-radius-item;
  border-start-end-radius: awsui.$border-radius-item;
  border-end-start-radius: awsui.$border-radius-item;
  border-end-end-radius: awsui.$border-radius-item;
}
