/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.table {
  border-collapse: collapse;
  border-spacing: 0;
  inline-size: 100%;
  position: relative;
  text-align: start;
}
