/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/index' as styles;
@use '../../internal/styles/tokens' as awsui;

.root {
  /* used in test-utils and in the use-selection hook */
}

.label {
  display: flex;
  align-items: center;
  // align-items: end;
  justify-content: center;
  position: absolute;
  padding-block-end: awsui.$space-xxs;
  block-size: 100%;
  inset-block-start: 0;
  inline-size: 100%;
  inset-inline-start: 0;
  box-sizing: border-box;
  border-inline-end: 0.1 * styles.$base-size solid transparent;
}

.label-top {
  align-items: baseline;
  padding-block-start: awsui.$space-xs;
}

.label-bottom {
  align-items: end;
  // Match the bottom padding of leaf column header text:
  // .header-cell padding-block-end ($space-scaled-xxs) + .header-cell-content padding-block-end ($space-scaled-xxs)
  padding-block-end: calc(#{awsui.$space-scaled-xxs} + #{awsui.$space-scaled-xxs});
}

.stud {
  visibility: hidden;
}
