/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../code-editor/ace-editor';

.code-snippet {
  @include styles.styles-reset;
  display: inline-block;
  border: awsui.$border-item-width solid awsui.$color-border-code-editor-default;
  border-radius: awsui.$border-radius-code-editor;
  width: 100%;
}

.snippet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:focus {
    @include styles.focus-highlight(3px);
    position: absolute;
    overflow: visible;
  }
}

.snippet-refresh {
  border-top-left-radius: calc(awsui.$border-radius-code-editor - awsui.$border-item-width);
  border-top-right-radius: calc(awsui.$border-radius-code-editor - awsui.$border-item-width);
}
