/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles/foundation' as foundation;
@use '../internal/hooks/focus-visible' as focus-visible;
@use './ace-editor';
@use './pane';

.code-editor {
  @include styles.styles-reset;
  display: inline-block;
  border: awsui.$border-item-width solid awsui.$color-border-code-editor-default;
  border-radius: awsui.$border-radius-code-editor;
  width: 100%;
}

.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:focus {
    @include styles.focus-highlight(3px);
    position: absolute;
    overflow: visible;
  }
}

.editor-refresh {
  border-top-left-radius: calc(awsui.$border-radius-code-editor - awsui.$border-item-width);
  border-top-right-radius: calc(awsui.$border-radius-code-editor - awsui.$border-item-width);
}

$default-height: 480px;
.loading-screen,
.error-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $default-height;

  color: awsui.$color-text-body-secondary;
  background: awsui.$color-background-code-editor-loading;
  border-radius: awsui.$border-radius-code-editor;
}

.error-screen {
  color: awsui.$color-text-status-error;
}
