/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

.options-list {
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  outline: none;
  border: none;
  @include styles.styles-reset;
  white-space: inherit;
  overflow-y: auto;
  flex: 1 1 auto;
  min-block-size: 0;
  border-radius: awsui.$border-radius-dropdown;
}

.decrease-top-margin {
  margin-block-start: -1px;
}
