/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index' as custom-props;

.notifications,
.notifications-sticky {
  z-index: 825;
}

.notifications {
  /* This is necessary for the z-index to have effect */
  position: relative;
}

.notifications-sticky {
  top: 0;
  position: sticky;
  #{custom-props.$flashbarStickyBottomMargin}: #{awsui.$space-xxl};
}

.extra-margin-bottom {
  #{custom-props.$notificationBarMarginBottom}: #{awsui.$space-scaled-m};
}
