/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;

.notifications-sticky {
  top: 0;
  z-index: 825;
}
