/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;
@use '../../internal/generated/custom-css-properties/index' as custom-props;

.notifications,
.notifications-sticky {
  z-index: 850;
}

.notifications {
  /* This is necessary for the z-index to have effect */
  position: relative;
}

.notifications-sticky {
  inset-block-start: 0;
  position: sticky;
  #{custom-props.$flashbarStickyBottomMargin}: #{awsui.$space-xxl};
}

.no-content-paddings {
  /*
  When using the disableContentPaddings option, the Flashbar will use this custom property to add additional space
  when the notification bar is rendered, to prevent it from overlapping the content.
   */
  #{custom-props.$stackedNotificationsBottomMargin}: #{awsui.$space-scaled-l};
}
