/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  display: flex;
  align-items: stretch;
}

/* stylelint-disable @cloudscape-design/no-implicit-descendant */
.item {
  &:not(:first-child) {
    .trigger {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: awsui.$space-xs;
    }
  }
  &:not(:last-child) {
    .trigger {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: awsui.$space-xs;
      margin-right: awsui.$space-xxxs;
    }
  }
}
/* stylelint-enable @cloudscape-design/no-implicit-descendant */
