/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  display: flex;
  align-items: stretch;
}

/* stylelint-disable @cloudscape-design/no-implicit-descendant */
.item-icon-dropdown {
  .trigger {
    padding-right: awsui.$space-s;
  }
}

.item {
  &:not(:first-child) {
    .trigger {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: awsui.$space-s;
    }
  }
  &:not(:last-child) {
    .trigger {
      padding-right: awsui.$space-s;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.item-normal {
  .trigger:hover {
    z-index: 1;
  }
  .trigger:disabled,
  .trigger[aria-disabled='true'] {
    z-index: -1;
  }

  &:not(:last-child) {
    .trigger {
      margin-right: calc(-1 * #{styles.$control-border-width});
    }
  }
}

.item-primary {
  &:not(:last-child) {
    .trigger {
      margin-right: awsui.$space-xxxs;
    }
  }
}
/* stylelint-enable @cloudscape-design/no-implicit-descendant */
