@layer application, awsui-components;

@layer application {
  .awsui-style-button-button {
    border-color: red;
    background-color: blue;
    color: white;
    border-radius: 0px;
    border-start-start-radius: 0px;
  }

  .awsui-style-button-root[data-awsui-style-variant="primary"] {
    background-color: green;
    border-color: darkgreen;
  }

  /* Style icons in primary buttons */
  .awsui-style-button-root[data-awsui-style-variant="primary"] .awsui-style-icon-root {
    color: yellow;
  }

  /* Style icons in normal buttons */
  .awsui-style-button-root[data-awsui-style-variant="normal"] .awsui-style-icon-root {
    color: red;
  }

  /* Style icons in link buttons */
  .awsui-style-button-root[data-awsui-style-variant="link"] .awsui-style-icon-root {
    color: purple;
  }

  /* Style icons in icon-only buttons */
  .awsui-style-button-root[data-awsui-style-variant="icon"] .awsui-style-icon-root {
    color: orange;
  }
}
