/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.buttonWrapper {
  inline-size: 120px;
}

.styledWrapper {
  font-weight: bold;
  text-transform: uppercase;
}
