/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  @include styles.styles-reset;
}

.tokens {
  margin-top: awsui.$space-scaled-xs;
}
