/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.radio-group {
  @include styles.styles-reset;
  display: block;
}

.radio + .radio {
  margin-block-start: awsui.$space-scaled-xxs;
}

.radio--has-description + .radio {
  margin-block-start: awsui.$space-scaled-xs;
}
