/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$pie-chart-sizes: (
  'small': (
    'radius': 50px,
    'innerPadding': awsui.$space-xs,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
  'medium': (
    'radius': 100px,
    'innerPadding': awsui.$space-s,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
  'large': (
    'radius': 140px,
    'innerPadding': awsui.$space-s,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
);

$pie-chart-sizes-fit-height: (
  'small': (
    'radius': 30px,
    'innerPadding': 0px,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
  'medium': (
    'radius': 100px,
    'innerPadding': 0px,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
  'large': (
    'radius': 140px,
    'innerPadding': 0px,
    'labelPadding': calc(2 * #{awsui.$line-height-body-m}),
  ),
);
