/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use '../../hooks/focus-visible' as focus-visible;
@use '../../../token-group/constants' as constants;

.root {
  display: flex;
  align-content: stretch;
}

.token {
  border-block: awsui.$border-field-width solid constants.$token-border-color;
  border-inline: awsui.$border-field-width solid constants.$token-border-color;
  display: flex;
  align-items: stretch;
  background: constants.$token-background;
  border-start-start-radius: awsui.$border-radius-token;
  border-start-end-radius: awsui.$border-radius-token;
  border-end-start-radius: awsui.$border-radius-token;
  border-end-end-radius: awsui.$border-radius-token;
  color: awsui.$color-text-body-default;
  block-size: 100%;
  box-sizing: border-box;
}

.show-operation {
  border-inline-start: none;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.select {
  /* used in test-utils */
}

.token-content {
  padding-block: styles.$control-padding-vertical;
  padding-inline: styles.$control-padding-horizontal;
}

.dismiss-button {
  inline-size: 30px;
  margin-block: 0;
  margin-inline: 0;
  border-block: none;
  border-inline: none;
  padding-block: 0;
  padding-inline: awsui.$space-xxs;
  color: awsui.$color-text-interactive-default;
  background-color: transparent;
  border-inline-start: styles.$control-border-width solid constants.$token-border-color;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-filtering-token-dismiss-button-focus-outline-gutter);
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    color: awsui.$color-text-interactive-hover;
  }
}

.token-disabled {
  border-color: awsui.$color-border-control-disabled;
  background-color: awsui.$color-background-container-content;
  color: awsui.$color-text-disabled;
  pointer-events: none;

  > .dismiss-button {
    color: awsui.$color-text-interactive-disabled;
    border-color: awsui.$color-border-control-disabled;
  }
}
