/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use './motion';

.root {
  @include styles.styles-reset;

  position: relative;
  display: block;

  &--fit-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
}

.wrapper {
  display: contents;

  &--fit-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.has-default-filter {
  & > :first-child {
    flex: 280px 0 1;
  }
}

.chart-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  &--fit-height {
    height: 100%;
  }
}

.chart-container__vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart-container__horizontal {
  display: flex;

  &--fit-height {
    flex: 1;
  }
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content--reserve-filter {
  margin-top: calc(2 * #{awsui.$font-body-m-line-height});
}

.content--reserve-legend {
  margin-bottom: calc(2 * #{awsui.$font-body-m-line-height});
}

.content--fit-height {
  flex: 1;
}

.series {
  display: block;
  stroke-width: awsui.$border-line-chart-width;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: awsui.$border-line-chart-line-join;
}

.series--highlighted {
  /* used in test-utils */
}

.series--dimmed {
  opacity: 0.3;
}

.series--threshold {
  stroke-dasharray: awsui.$border-line-chart-dash-array;
  stroke-width: awsui.$border-line-chart-width;
}

.popover-divider {
  margin: awsui.$space-xxs 0;
  border-bottom: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}
