/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.tutorial-panel {
  @include styles.styles-reset;
  padding-block-start: 0;
  padding-block-end: awsui.$space-m;
  padding-inline: awsui.$space-l;
}
