/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

.tutorial-panel {
  padding-block-start: 0;
  padding-block-end: awsui.$space-m;
  padding-inline: awsui.$space-l;

  &:focus {
    outline: none;
  }
  @include focus-visible.when-visible {
    @include styles.focus-highlight(0px);
  }
  @include styles.styles-reset;
}
