/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.body {
  @include styles.styles-reset;
  @include styles.text-flex-wrapping;

  padding: awsui.$space-s awsui.$space-m;

  &-overflow-visible {
    overflow: visible;
  }
}

.has-dismiss {
  display: flex;
  align-items: baseline;
}

.dismiss {
  margin-block: calc(-1 * (#{awsui.$space-scaled-xxs} + #{awsui.$border-field-width}));
  margin-inline-start: 0;
  margin-inline-end: calc(-1 * (#{awsui.$space-xxs} + #{awsui.$border-field-width}));
  flex: 0 0 auto;
  order: 1;
}

.dismiss-control {
  /* used in test-utils */
}

.header-row {
  margin-block-end: awsui.$space-xs;
}

.header {
  @include styles.text-flex-wrapping;
  @include styles.font-heading-xs;
  flex: 1 1 auto;

  /* stylelint-disable selector-max-type */
  > h2 {
    @include styles.font-heading-xs;
    display: inline;
  }
  /* stylelint-enable selector-max-type */
}

.content {
  @include styles.text-flex-wrapping;
  color: awsui.$color-text-body-secondary;
  flex: 1 1 auto;
  min-inline-size: 0;
  &-overflow-visible {
    overflow: visible;
  }
}
