/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

.body {
  @include styles.styles-reset;
  @include styles.text-flex-wrapping;

  box-sizing: border-box;
  border-radius: awsui.$border-radius-field;
  padding: awsui.$space-s awsui.$space-m;

  background-color: awsui.$color-background-popover;
  box-shadow: awsui.$shadow-popover;
  border: awsui.$border-field-width solid awsui.$color-border-popover;
  &-overflow-visible {
    overflow: visible;
  }
}

.variant-annotation {
  background-color: awsui.$color-background-status-info;
  border-color: awsui.$color-border-status-info;
}

.body-size-small {
  max-width: 210px;
  &.fixed-width {
    width: 210px;
  }
}

.body-size-medium {
  max-width: 310px;
  &.fixed-width {
    width: 310px;
  }
}

.body-size-large {
  max-width: 480px;
  &.fixed-width {
    width: 480px;
  }
}

.has-dismiss {
  display: flex;
  align-items: baseline;
}

.dismiss {
  margin: calc(-1 * (#{awsui.$space-scaled-xxs} + #{awsui.$border-field-width}))
    calc(-1 * (#{awsui.$space-xxs} + #{awsui.$border-field-width}));
  margin-left: 0;
  flex: 0 0 auto;
  order: 1;
}

.dismiss-control {
  /* used in test-utils */
}

.header-row {
  margin-bottom: awsui.$space-xs;
}

.header {
  @include styles.text-flex-wrapping;
  @include styles.font-heading-xs;
  flex: 1 1 auto;

  /* stylelint-disable selector-max-type */
  > h2 {
    @include styles.font-heading-xs;
    display: inline;
  }
  /* stylelint-enable selector-max-type */
}

.content {
  @include styles.text-flex-wrapping;
  color: awsui.$color-text-body-secondary;
  flex: 1 1 auto;
  &-overflow-visible {
    overflow: visible;
  }
}
