/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as tokens;

.container {
  @include styles.with-motion {
    animation: awsui-motion-fade-in tokens.$motion-duration-show-paced tokens.$motion-easing-show-paced;
    @include styles.animation-fade-in;
  }

  &.refresh {
    @include styles.with-motion {
      animation: awsui-motion-fade-in tokens.$motion-duration-refresh-only-fast tokens.$motion-easing-refresh-only-a;
      @include styles.animation-fade-in;
    }
  }
}
