/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:string';
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

@import './arrow';
@import './body';
@import './container';
@import './motion';

$trigger-underline-offset: 0.25em;

.root {
  @include styles.styles-reset;
  color: inherit;
  &.no-wrap {
    white-space: nowrap;
  }
}

.root-filtering-token {
  display: flex;
}

.trigger {
  display: inline-block;
  max-inline-size: 100%;
  color: inherit;
  text-align: inherit;
}

.overflow-ellipsis {
  @include styles.text-overflow-ellipsis;
  @include styles.text-wrapping;
}

.trigger-type-text-inline {
  border-block: 0;
  /*
    This transparent border is necessary to maintain space between the trigger and the bottom-positioned popover.
  */
  border-block-end: awsui.$border-divider-list-width dashed transparent;
  text-decoration: underline dashed currentColor;
  text-decoration-thickness: awsui.$border-divider-list-width;
  text-underline-offset: $trigger-underline-offset;

  &.overflow-ellipsis {
    /*
      This line-height needs to be overridden because the overflow: hidden would otherwise conceal the underline styles.
    */
    line-height: string.unquote('calc(1 + #{$trigger-underline-offset} + #{awsui.$border-divider-list-width})');
  }
}

.trigger-type-text {
  border-block: 0;
  border-block-end: awsui.$border-divider-list-width dashed currentColor;
}

.trigger-type-text-inline,
.trigger-type-text {
  border-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  background-color: transparent;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(1px);
  }
}

.trigger-type-filtering-token {
  display: flex;
}

.popover-inline-content {
  display: inline;
}
