/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../../internal/styles' as styles;
@use '../../../../internal/styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

@mixin trigger-selected-styles {
  background: awsui.$color-background-layout-toggle-selected-default;
  color: awsui.$color-text-layout-toggle-selected;

  &:hover {
    background: awsui.$color-background-layout-toggle-selected-hover;
  }
  &:active {
    background: awsui.$color-background-layout-toggle-selected-active;
  }
}

@mixin trigger-button-styles {
  background: transparent;
  color: awsui.$color-text-interactive-default;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  block-size: 34px;
  inline-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:hover {
    background: awsui.$color-background-input-disabled;
    color: awsui.$color-text-interactive-hover;
  }

  &:active {
    background: awsui.$color-background-control-disabled;
    color: awsui.$color-text-interactive-hover;
  }
}

.trigger-badge-wrapper {
  @include trigger-button-styles();
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: path(
    'M32.185 9.34876C31.1913 10.1916 29.905 10.7 28.4999 10.7C25.3519 10.7 22.7999 8.14803 22.7999 5C22.7999 3.68192 23.2473 2.46833 23.9985 1.50281C21.8642 0.537421 19.4948 0 17 0C7.61116 0 0 7.61116 0 17C0 26.3888 7.61116 34 17 34C26.3888 34 34 26.3888 34 17C34 14.2479 33.346 11.6485 32.185 9.34876Z'
  );

  @include styles.with-direction('rtl') {
    clip-path: path(
      'M1.81502 9.34876C2.80869 10.1916 4.09501 10.7 5.50007 10.7C8.6481 10.7 11.2001 8.14803 11.2001 5C11.2001 3.68192 10.7527 2.46833 10.0015 1.50281C12.1358 0.537421 14.5052 0 17 0C26.3888 0 34 7.61116 34 17C34 26.3888 26.3888 34 17 34C7.61116 34 0 26.3888 0 17C0 14.2479 0.653984 11.6485 1.81502 9.34876Z'
    );
  }
}

/*
Warning! If these design tokens for width change it will adversely impact 
the calculation used to determine the Split Panel maximum width in the 
handleSplitPanelMaxWidth function in the context.
*/
.trigger {
  @include trigger-button-styles();
  border-block: none;
  border-inline: none;
  cursor: pointer;
  pointer-events: auto;

  @include focus-visible.when-visible {
    @include styles.focus-highlight(3px);
  }

  &:focus {
    outline: none;
  }

  &.selected {
    @include trigger-selected-styles();

    > .trigger-badge-wrapper {
      @include trigger-selected-styles();
    }
  }

  &.badge,
  &.badge:hover,
  &.badge:active {
    background: transparent;
  }
}

.trigger-wrapper {
  position: relative;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
}

.dot {
  position: absolute;
  inline-size: 8px;
  block-size: 8px;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  background-color: awsui.$color-background-badge-icon;
  inset-block-start: 1px;
  inset-inline-end: 1px;
}
