/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as awsui;

.token {
  display: flex;
  background: awsui.$color-background-item-selected;
  border: 1px solid awsui.$color-border-item-selected;
  border-radius: awsui.$border-radius-token;

  padding: awsui.$space-scaled-xxs;
  text-wrap: nowrap;
}

.inline-tokens {
  display: flex;
  gap: awsui.$space-scaled-xxs;

  overflow-x: hidden;
}
.inline-tokens {
  //   -webkit-mask-image: -webkit-gradient(linear, 80% top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  //   mask-image: -moz-linear-gradient(80% top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

  position: relative;
  width: 100%;

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    height: 100%;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), 20%, awsui.$color-background-input-default);
  }
}

.token-group {
  // Dont do this. Talk to the Cloudscape team
  margin-top: calc(#{awsui.$space-scaled-xs} * -1);
}

.inline-token-editor {
  display: flex;
  align-items: flex-start;
  gap: awsui.$space-scaled-s;
}
