/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
/* stylelint-disable selector-class-pattern */

@layer application, awsui-components;

@layer application {
  .custom-header.awsui-style-header-root {
    border-block-end: 2px solid #0ea5e9;
    padding-block-end: 8px;
  }

  .custom-header .awsui-style-header-text {
    --awsui-style-typography-color: #0369a1;
    --awsui-style-typography-font-weight: 800;
  }

  .custom-header .awsui-style-header-counter {
    --awsui-style-typography-color: #0ea5e9;
    --awsui-style-typography-font-size: 0.85em;
  }
}
