/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:color';
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$variants: (
  'normal': (
    'default-background': awsui.$color-background-button-normal-default,
    'default-border-color': awsui.$color-border-button-normal-default,
    'default-color': awsui.$color-text-button-normal-default,
    'hover-background': awsui.$color-background-button-normal-hover,
    'hover-border-color': awsui.$color-border-button-normal-hover,
    'hover-color': awsui.$color-text-button-normal-hover,
    'active-background': awsui.$color-background-button-normal-active,
    'active-border-color': awsui.$color-border-button-normal-active,
    'active-color': awsui.$color-text-button-normal-active,
    'disabled-background': awsui.$color-background-button-normal-disabled,
    'disabled-border-color': awsui.$color-border-button-normal-disabled,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'primary': (
    'default-background': awsui.$color-background-button-primary-default,
    'default-border-color': awsui.$color-background-button-primary-default,
    'default-color': awsui.$color-text-button-primary-default,
    'hover-background': awsui.$color-background-button-primary-hover,
    'hover-border-color': awsui.$color-background-button-primary-hover,
    'hover-color': awsui.$color-text-button-primary-hover,
    'active-background': awsui.$color-background-button-primary-active,
    'active-border-color': awsui.$color-background-button-primary-active,
    'active-color': awsui.$color-text-button-primary-active,
    'disabled-background': awsui.$color-background-button-primary-disabled,
    'disabled-border-color': awsui.$color-border-button-primary-disabled,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'link': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-button-normal-default,
    'hover-background': awsui.$color-background-button-link-hover,
    'hover-border-color': awsui.$color-background-button-link-hover,
    'hover-color': awsui.$color-text-button-normal-hover,
    'active-background': awsui.$color-background-button-link-active,
    'active-border-color': awsui.$color-background-button-link-active,
    'active-color': awsui.$color-text-button-normal-active,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'icon': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-interactive-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-interactive-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-interactive-default,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'inline-icon': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-button-inline-icon-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-button-inline-icon-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-button-inline-icon-default,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-button-inline-icon-disabled,
  ),
  'inline-link': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-button-normal-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-button-normal-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-button-normal-active,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
    'padding': 0,
    'border-width': 0,
  ),
  'modal-dismiss': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-interactive-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-interactive-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-interactive-default,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'flashbar-icon': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-interactive-inverted-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-interactive-inverted-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-interactive-inverted-default,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
  'breadcrumb-group': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-link-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-link-hover,
    'hover-text-decoration': underline,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-link-default,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
    'border-width': 0,
    'padding': 0,
    'font-weight': normal,
  ),
  'menu-trigger': (
    'default-background': transparent,
    'default-border-color': transparent,
    'default-color': awsui.$color-text-button-normal-default,
    'hover-background': transparent,
    'hover-border-color': transparent,
    'hover-color': awsui.$color-text-button-normal-hover,
    'active-background': transparent,
    'active-border-color': transparent,
    'active-color': awsui.$color-text-button-normal-active,
    'disabled-background': transparent,
    'disabled-border-color': transparent,
    'disabled-color': awsui.$color-text-interactive-disabled,
  ),
);
