/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:map';
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;
@use './constants' as constants;

@mixin adjust-for-variant($variant) {
  background: map.get($variant, 'default-background');
  color: map.get($variant, 'default-color');
  border-color: map.get($variant, 'default-border-color');
  border-block-width: map.get($variant, 'border-width');
  border-inline-width: map.get($variant, 'border-width');
  position: relative;
  text-decoration: none;
  padding-block: map.get($variant, 'padding');
  padding-inline: map.get($variant, 'padding');
  font-weight: map.get($variant, 'font-weight');

  &:hover {
    background: map.get($variant, 'hover-background');
    color: map.get($variant, 'hover-color');
    border-color: map.get($variant, 'hover-border-color');
    text-decoration: none;
  }

  &:active,
  &.is-activated {
    background: map.get($variant, 'active-background');
    color: map.get($variant, 'active-color');
    border-color: map.get($variant, 'active-border-color');
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-button-focus-outline-gutter);
  }
  &.variant-icon,
  &.variant-modal-dismiss,
  &.variant-flashbar-icon {
    @include focus-visible.when-visible {
      @include styles.focus-highlight(
        (
          'vertical': awsui.$space-button-icon-focus-outline-gutter-vertical,
          'horizontal': awsui.$space-button-focus-outline-gutter,
        )
      );
    }
  }
  &.variant-inline-icon {
    @include focus-visible.when-visible {
      @include styles.focus-highlight(awsui.$space-button-inline-icon-focus-outline-gutter);
    }
  }

  &.disabled {
    background: map.get($variant, 'disabled-background');
    border-color: map.get($variant, 'disabled-border-color');
    color: map.get($variant, 'disabled-color');
    text-decoration: none;
    pointer-events: none;
    cursor: auto;
  }
}

.content {
  /* used in test-utils */
}

.button {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  @include styles.font-button;
  letter-spacing: awsui.$font-button-letter-spacing;
<<<<<<< HEAD
  border-start-start-radius: awsui.$border-radius-button;
  border-start-end-radius: awsui.$border-radius-button;
  border-end-start-radius: awsui.$border-radius-button;
  border-end-end-radius: awsui.$border-radius-button;
  border-block: styles.$control-border-width solid;
  border-inline: styles.$control-border-width solid;
  padding-block: styles.$control-padding-vertical;
  padding-inline: awsui.$space-button-horizontal;
=======
  border-radius: awsui.$border-radius-button;
  border-block: styles.$control-border-width solid;
  border-inline: styles.$control-border-width solid;
  padding: styles.$control-padding-vertical awsui.$space-button-horizontal;
>>>>>>> ccdf7eac (Remove border shorthand.)
  display: inline-block; // for <a> as a button
  text-decoration: none;
  cursor: pointer;

  @each $variant in map.keys(constants.$variants) {
    &.variant-#{$variant} {
      @include adjust-for-variant(map.get(constants.$variants, $variant));
    }
  }

  &.button-no-text {
    padding-inline-start: awsui.$space-button-icon-only-horizontal;
    padding-inline-end: awsui.$space-button-icon-only-horizontal;
  }

  &.button-no-wrap {
    white-space: nowrap;
  }

  &.full-width {
    inline-size: 100%;
    text-align: center;
  }

  &.variant-icon,
  &.variant-inline-icon,
  &.variant-flashbar-icon {
    // Icon has vertical padding, but no horizontal, we need to conpensate this
    // in order to have equal height and width
    padding-inline-start: awsui.$space-xxs;
    padding-inline-end: awsui.$space-xxs;
  }

  &.variant-modal-dismiss {
    padding-block: awsui.$space-button-modal-dismiss-vertical;
    padding-inline: awsui.$space-xxs;
    margin-inline-end: calc(-1 * #{awsui.$space-xxs});
  }

  &.variant-inline-icon {
    padding-block-start: 0;
    padding-block-end: 0;
    border-block: 0;
    border-inline: 0;
  }

  > .icon-left {
    position: relative;
    // margin-left was breaking layout on firefox
    inset-inline-start: calc(-1 * #{awsui.$space-xxs});
    margin-inline-end: awsui.$space-xxs;
  }

  > .icon-right {
    position: relative;
    // margin-right was breaking layout on firefox
    inset-inline-end: calc(-1 * #{awsui.$space-xxs});
    margin-inline-start: awsui.$space-xxs;
  }

  &.button-no-text > .icon {
    margin-inline-start: auto;
    margin-inline-end: auto;
    // IE does not understand `initial`
    inset-inline: 0;
  }
}
