/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;

.dimmed {
  @include styles.styles-reset;
  @include styles.with-motion {
    transition: opacity awsui.$motion-duration-transition-quick awsui.$motion-easing-transition-quick;
    transition-delay: awsui.$motion-duration-transition-quick;
  }
}
