/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';

@use '../chart-series-marker/styles' as marker;

$font-weight-bold: awsui.$font-weight-heading-s;

.root {
  @include styles.styles-reset;
}

.value {
  text-align: right;
  margin-left: awsui.$space-xxl;
  &.expandable {
    font-weight: $font-weight-bold;
  }
}

.list-item,
.inner-list-item {
  list-style: none;
}

.inner-list-item,
.list-item > .key-value-pair,
.list-item > .expandable-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  > .key {
    display: inline-flex;
    color: awsui.$color-text-group-label;
  }
}

.sub-items {
  &:not(.expandable) {
    padding-left: calc(marker.$marker-width + marker.$marker-margin-right);
  }
  &.expandable {
    padding-left: 0;
    > .inner-list-item > .value {
      white-space: nowrap;
    }
  }
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;

  > .list-item {
    > .key-value-pair > .key {
      align-items: flex-start;
    }

    &.dimmed {
      opacity: 0.35;
    }
  }
}

.list-item.with-sub-items:not(.expandable) > .key-value-pair {
  > .key,
  > .value {
    font-weight: $font-weight-bold;
  }
}

.full-width {
  width: 100%;
}

.announced {
  /* Used by getSeriesDetailText to select text to be announced by screen readers */
}
