/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';

.root {
  @include styles.styles-reset;
}

.value {
  /* used in test-utils */
}

.inner-list-item {
  display: flex;
  justify-content: space-between;
}

.sub-items {
  padding-left: 0;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;

  > .list-item {
    list-style: none;
    > .key-value-pair {
      display: flex;
      width: 100%;
      justify-content: space-between;

      > .key {
        display: inline-flex;
        align-items: flex-start;
        color: awsui.$color-text-group-label;
      }
    }
    &:not(.expandable) {
      > .key-value-pair > .key {
        margin-right: awsui.$space-xxl;
      }
      > .sub-items {
        padding-left: awsui.$space-l;
      }
    }
    &.dimmed {
      opacity: 0.35;
    }
  }
}
