/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';

.root {
  @include styles.styles-reset;
}

.value {
  /* used in test-utils */
}

.inner-list-item {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;

  > .list-item {
    display: inline-flex;
    justify-content: space-between;
    > .key {
      align-items: flex-start;
      color: awsui.$color-text-group-label;
    }

    &:not(.with-sub-items) {
      justify-content: space-between;
      > .key {
        display: inline-flex;
        margin-right: awsui.$space-xxl;
      }
    }
    &.with-sub-items {
      > .key {
        display: flex;
        width: 100%;
      }
    }
  }
}

.dimmed {
  opacity: 0.35;
}

.sub-items {
  padding-left: 0;
}
