/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/tokens' as awsui;

@mixin border-radius-avatar {
  border-start-start-radius: awsui.$border-radius-avatar;
  border-start-end-radius: awsui.$border-radius-avatar;
  border-end-start-radius: awsui.$border-radius-avatar;
  border-end-end-radius: awsui.$border-radius-avatar;
}
