/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use './mixins.scss' as mixins;
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

$avatar-size: 28px;

.root {
  @include styles.styles-reset;

  color: awsui.$color-text-avatar;
  block-size: $avatar-size;
  inline-size: $avatar-size;
  position: relative;
  @include mixins.border-radius-avatar;

  &.avatar-color-default {
    background-color: awsui.$color-background-avatar-default;
  }

  &.avatar-color-gen-ai {
    background: awsui.$color-background-avatar-gen-ai;
  }

  &.initials {
    font-family: awsui.$font-family-base;
    font-size: awsui.$font-size-body-s;
    line-height: awsui.$line-height-body-s;
  }

  &:focus {
    outline: none;

    // https://github.com/cloudscape-design/board-components/blob/b380e14804f475554d7aecfdb82ffd1445774c68/src/internal/shared.scss#L4
    // to be copied in the new repo
    // create bar raising wed task to move mixins to component-toolkit
    @include focus-visible.when-visible {
      @include styles.focus-highlight(1px, 50%);
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: inherit;
  inline-size: inherit;
  overflow: hidden;
}
