/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use './mixins.scss' as mixins;
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../internal/hooks/focus-visible' as focus-visible;

$avatar-size: 28px;

.root {
  @include styles.styles-reset;
}

.avatar {
  display: inline-flex;
  color: awsui.$color-text-avatar;
  block-size: $avatar-size;
  inline-size: $avatar-size;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @include mixins.border-radius-avatar;

  &.avatar-color-default {
    background-color: awsui.$color-background-avatar-default;
  }

  &.avatar-color-gen-ai {
    background: awsui.$color-background-avatar-gen-ai;
  }

  &.loading {
    inset-block-end: 3px;
  }

  &.initials {
    font-family: awsui.$font-family-base;
  }

  @include focus-visible.when-visible {
    outline: 2px solid awsui.$color-border-item-focused;
  }
}
