/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root {
  @include styles.styles-reset;

  font-family: awsui.$font-family-base;
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-heading-m;
}

.tree,
.parent-treeitem,
.child-treeitem {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.parent-treeitem {
  inline-size: 100%;
}

.treeitem-toggle-area {
  inline-size: 30px;
  background-color: yellow;

  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-block-start: 6px;

  position: relative;
}

.connector-area {
  background-color: yellow;
  display: flex;
  padding-block-start: 3px;
  justify-content: flex-end;

  &.level-0 {
    justify-content: center;
  }
}

.connector-area2 {
  display: flex;
  align-items: baseline;
  position: relative;
  inline-size: 100%;
}

.child-treeitem {
  display: flex;
}

.tree {
  @include styles.styles-reset-ul;
}

// .parent-treeitem {
//   padding-inline-start: 0;
//   margin-inline-start: 0;
// }

.treeitem-content {
  position: relative;
  padding-block-start: 2px;
  flex: 1;
}

.treeitem-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.treeitem-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.treeitem-first-line {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.treeitem-secondary-content {
  // test
}

.treeitem-description {
  // test
}

.horizontal {
  inline-size: 32px;
  block-size: 1px;
  background: red;
  position: absolute;
  inset-block-start: 11px;

  &.expandable {
    inline-size: 22px;
  }
}
.vertical {
  inline-size: 1px;
  background-color: red;
  position: absolute;
  inset-block: 0;
  inset-inline-start: 8px;

  &.expanded {
    inset-block-start: 24px;
  }

  &.position-end:not(.expanded) {
    block-size: 12px;
  }
}

.level0 {
  inline-size: 1px;
  background-color: red;
  position: absolute;
  inset-block: 0;
  inset-inline-start: 8px;

  &.expandable {
    inset-block: 22px -8px;
  }

  &.position-start {
    inset-block-start: 20px;
  }
}

// .with-grid {
//   align-items: center;
//   display: grid;
//   grid-template-columns: auto auto 1fr;
//   grid-template-rows: repeat(2, 1fr) auto;
//   // row-gap: 0.4rem;
//   // line-height: 2.8rem;
//   overflow: visible;
//   position: relative;

//   .parent-treeitem {
//     grid-column: 3;
//     grid-row: 3;
//     // grid-template-columns: subgrid;
//     // grid-template-rows: subgrid;
//   }

//   .toggle {
//     align-items: center;
//     display: flex;
//     grid-column: 1;
//     grid-row: 1 / span 2;
//     justify-content: center;
//   }

//   .treeitem-layout {
//     grid-column: 2;
//     // grid-column: 3;
//     grid-row: 1 / span 2;
//   }

//   .vertical-rule {
//     background: red;
//     grid-column: 1;
//     grid-row: 3;
//     height: 100%;
//     justify-self: center;
//     width: 1px;
//   }

//   .horizontal-rule {
//     background: red;
//     grid-column: 1;
//     grid-row: 1 / span 2;
//     height: 0.1rem;
//     margin-left: -2.5rem;
//     width: 2rem;
//   }

//   .treeitem-icon {
//     // grid-column: 2;
//     // grid-row: 1 / span 2;
//   }
// }
