/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root {
  @include styles.styles-reset;

  font-family: awsui.$font-family-base;
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-heading-m;
}

.tree,
.parent-treeitem,
.child-treeitem {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.treeitem-toggle-area {
  inline-size: 30px;
  background-color: yellow;

  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-block-start: 6px;

  position: relative;
}

.child-treeitem {
  display: flex;
}

.tree {
  @include styles.styles-reset-ul;
}

.parent-treeitem {
  padding-inline-start: 0;
  margin-inline-start: 0;
}

.treeitem-content {
  position: relative;
  padding-block-start: 2px;
  flex: 1;
}

.treeitem-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.treeitem-layout {
  display: flex;
  flex-direction: column;
}

.treeitem-first-line {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.treeitem-actions {
  // test
}

.treeitem-details {
  // test
}
