/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

@mixin card-theme($border, $border-hover, $bg, $bg-hover, $icon-color: null) {
  --awsui-style-color-background-default: #{$bg};
  --awsui-style-color-background-hover: #{$bg-hover};
  --awsui-style-color-border-default: #{$border};
  --awsui-style-color-border-hover: #{$border-hover};
  --awsui-style-border-radius: 12px;
  --awsui-style-color-icon-disabled: #{palette.$text-disabled};

  @if $icon-color {
    --awsui-style-color-icon-default: #{$icon-color};
  }
}

.card-accent {
  @include card-theme(palette.$border-accent, palette.$accent-hover, palette.$surface, palette.$surface-alt);
}

.card-success {
  @include card-theme(
    palette.$success,
    palette.$success,
    palette.$success-surface,
    palette.$surface-alt,
    palette.$success
  );
}

.card-warning {
  @include card-theme(
    palette.$warning,
    palette.$warning,
    palette.$warning-surface,
    palette.$surface-alt,
    palette.$warning
  );
}
