/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:map';
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '../button/constants' as constants;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

$segment-properties: (
  'default-background': var(--theme-background-color, awsui.$color-background-segment-default),
  'default-color': var(--theme-color, awsui.$color-text-segment-default),
  'hover-background': var(--theme-background-color-hover, awsui.$color-background-segment-hover),
  'hover-color': var(--theme-color-hover, awsui.$color-text-segment-hover),
  'active-background': var(--theme-background-color-active, awsui.$color-background-segment-active),
  'disabled-background': var(--theme-background-color-disabled, awsui.$color-background-segment-disabled),
  'disabled-border-color': var(--theme-border-color-disabled, awsui.$color-border-segment-disabled),
  'disabled-color': var(--theme-color-disabled, awsui.$color-text-interactive-disabled),
);

$default-background: map.get($segment-properties, 'default-background');
$default-color: map.get($segment-properties, 'default-color');
$default-border-color: awsui.$color-border-segment-default;
$hover-background: map.get($segment-properties, 'hover-background');
$hover-border-color: awsui.$color-border-segment-hover;
$hover-color: map.get($segment-properties, 'hover-color');
$disabled-background: map.get($segment-properties, 'disabled-background');
$disabled-border-color: map.get($segment-properties, 'disabled-border-color');
$disabled-color: map.get($segment-properties, 'disabled-color');
$selected-background: map.get($segment-properties, 'active-background');
$selected-border-color: var(--theme-border-color-active, awsui.$color-border-segment-active);
$selected-color: var(--theme-color-active, awsui.$color-text-segment-active);
$segment-gap: var(--theme-gap-inline, awsui.$space-static-xxs);
$segment-divider-width: 1px;

.segment {
  @include styles.font-body-m;
  @include styles.text-flex-wrapping;
  @include styles.font-button;
  letter-spacing: 0.25px;
  padding-block: var(--theme-padding-block, styles.$control-padding-vertical);
  padding-inline: calc(awsui.$space-button-horizontal - $segment-gap);

  background: $default-background;
  color: $default-color;
  overflow: visible;

  border-start-start-radius: var(--theme-border-radius, awsui.$border-radius-button);
  border-start-end-radius: var(--theme-border-radius, awsui.$border-radius-button);
  border-end-start-radius: var(--theme-border-radius, awsui.$border-radius-button);
  border-end-end-radius: var(--theme-border-radius, awsui.$border-radius-button);

  position: relative;
  block-size: var(--theme-height, calc(100% - $segment-gap));
  display: flex;
  align-items: center;

  border-inline: none;
  border-block: none;

  &:not(.refresh) {
    block-size: calc(100% - $segment-gap - (2 * awsui.$border-width-field));
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    background: $disabled-background;
    border-color: $disabled-border-color;
    color: $disabled-color;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(awsui.$space-segmented-control-focus-outline-gutter);
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    inset-inline-end: calc(-1 * ($segment-gap + $segment-divider-width));
    block-size: calc(100% - (($segment-gap + awsui.$space-static-xxxs) * 2));
    min-block-size: calc(awsui.$line-height-body-m - $segment-gap * 2);
    inline-size: $segment-divider-width;
    background: awsui.$color-border-input-default;
    z-index: 1;
  }
  &:not(.refresh):not(:last-child)::after {
    inset-inline-end: calc(-1 * $segment-gap);
  }

  // @for $i from 1 through 6 {
  //   &:nth-child(#{$i}) {
  //     // grid-column: $i;
  //     // -ms-grid-column: $i;
  //   }
  // }

  &.selected {
    background: $selected-background;
    color: $selected-color;

    & + .segment,
    & + .segment.disabled {
      border-inline-start-color: $selected-border-color;
    }
  }

  &:not(.disabled) + .segment.disabled {
    border-inline-start-color: $default-border-color;
  }

  &:hover:not(.selected):not(.disabled):not(:focus) {
    background: $hover-background;
    color: $hover-color;
    border-color: $hover-border-color;
    cursor: pointer;

    & + .segment:not(.selected) {
      border-inline-start-color: $hover-border-color;
    }
  }

  &.selected + .segment:hover:not(.selected):not(.disabled):not(:focus) {
    border-inline-start-color: $selected-border-color;
  }
}

.icon {
  /* used in test-utils */
}

.with-text {
  position: relative;
  inset-inline-start: calc(-1 * #{awsui.$space-xxs});
  margin-inline-end: awsui.$space-xxs;
}

.with-no-text {
  margin-inline: auto;
  inset-inline: 0;
}
