/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/' as styles;
@use 'segment' as seg;
@use 'sass:list' as list;
@use '../internal/styles/tokens' as awsui;

$segment-space: calc(#{seg.$segment-gap} * 2 + #{seg.$segment-divider-width});

@function repeatValue($value, $times) {
  $result: ();

  @for $i from 1 through $times {
    $result: list.append($result, $value);
  }

  @return $result;
}

.root {
  @include styles.styles-reset;
}

.segment-part {
  display: -ms-inline-grid;
  display: inline-grid;

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    display: none;
  }

  &.refresh {
    gap: $segment-space;
    border-inline: solid awsui.$border-width-field awsui.$color-border-input-default;
    border-block: solid awsui.$border-width-field awsui.$color-border-input-default;
    border-start-start-radius: calc(awsui.$border-radius-button + awsui.$space-static-xxs);
    border-start-end-radius: calc(awsui.$border-radius-button + awsui.$space-static-xxs);
    border-end-start-radius: calc(awsui.$border-radius-button + awsui.$space-static-xxs);
    border-end-end-radius: calc(awsui.$border-radius-button + awsui.$space-static-xxs);
    align-items: center;
    min-block-size: calc(awsui.$line-height-body-m + awsui.$space-static-xxs);
    padding-inline: awsui.$space-static-xxxs;
  }
}

.select {
  display: none;

  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    display: block;
  }
}

@for $i from 2 through 6 {
  .segment-count-#{$i} {
    // The repeat syntax is not used since it is broken when using with SASS together
    grid-template-columns: repeatValue(1fr, $i);

    &.refresh {
      grid-template-columns: repeat(#{$i}, auto);
    }
  }
}

.disabled-reason-tooltip {
  /* used in test-utils or tests */
}
