/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use './motion';

.root {
  @include styles.styles-reset;
  display: block;
}

.empty {
  @include styles.font-body-m;
  color: awsui.$color-text-empty;
}

.row {
  /* used in test-utils */
}

.row-control {
  /* used in test-utils */
}

.field {
  /* used in test-utils */
}

.add-button {
  /* used in test-utils */
}

.remove-button {
  /* used in test-utils */
}

.button-container-haslabel {
  // We only support vertical alignment of the remove button for labels with exactly one line.
  // The value is calculated as follows:
  // padding-top = awsui-form-field-controls: 4px +
  // line height (also applies to icon size) awsui-form-field-label: 22px
  padding-block-start: calc(#{awsui.$space-xxs} + #{awsui.$font-body-m-line-height});
}

.button-container-nolabel {
  padding-block-start: #{awsui.$space-xxs};
}

.divider {
  border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}

.additional-info {
  @include styles.form-control-description;
  display: block;
  word-wrap: break-word;
  margin-block-start: awsui.$space-xxs;

  /* stylelint-disable-next-line selector-max-type */
  > a {
    @include styles.link-inline;
  }
}

.right-align {
  float: inline-end;
}
