/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../../internal/styles' as styles;
@use '../../../internal/styles/tokens' as awsui;
@use '../../../internal/generated/custom-css-properties/index.scss' as custom-props;
@use '../../constants.scss' as constants;

.universal-toolbar {
  background-color: awsui.$color-background-layout-panel-content;
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: awsui.$space-m;
  //right padding set in child trigger-container below for focus indicator to show correctly
  padding-inline-end: 0;
  position: sticky;
  z-index: constants.$toolbar-z-index;
  @include styles.with-motion {
    transition: ease awsui.$motion-duration-refresh-only-slow;
    transition-property: inset-block-start, opacity;
  }

  &.disable-body-scroll {
    inset-block-start: 0px;
  }

  &.toolbar-hidden {
    opacity: 0;
  }

  > .toolbar-container {
    block-size: 100%;
    align-items: center;
    display: grid;
    column-gap: awsui.$space-static-xs;
    inline-size: 100%;
    grid-template-columns: min-content minmax(0, 3fr) minmax(auto, 1fr);
    grid-template-rows: 1fr;

    > .universal-toolbar-nav {
      grid-column: 1;
      padding-inline-end: awsui.$space-static-xxs;
    }

    > .universal-toolbar-breadcrumbs {
      grid-column: 2;
      background-color: transparent;
      flex: 1 0;
    }

    > .universal-toolbar-drawers {
      grid-column: 3;
      column-gap: awsui.$space-static-xs;
      display: flex;
      justify-content: flex-end;
      block-size: 100%;
    }
  }
}

.drawers-desktop-triggers-container,
.drawers-mobile-triggers-container {
  @include styles.styles-reset;
  background-color: transparent;
  padding-inline: 0;
  //matches the left padding of .universal-toolbar but allows for focus indicator to show correctly
  padding-inline-end: awsui.$space-m;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-y: contain;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  overscroll-behavior-x: contain;
  inline-size: 100%;
}

.drawers-trigger-content {
  block-size: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: awsui.$space-xs;
  justify-content: flex-end;
}

.group-divider {
  border-inline-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  block-size: 60%;
}

.drawers-trigger {
  @include styles.media-breakpoint-down(styles.$breakpoint-x-small) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.block-body-scroll {
  overflow: hidden;
}
