/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:math';

@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';

@mixin card-style {
  @include styles.styles-reset();

  border-start-start-radius: awsui.$border-radius-container;
  border-start-end-radius: awsui.$border-radius-container;
  border-end-start-radius: awsui.$border-radius-container;
  border-end-end-radius: awsui.$border-radius-container;
  box-sizing: border-box;

  // Override button styles for action cards
  padding-inline: 0;
  border-block: 0 none;
  border-inline: 0 none;
  user-select: text;

  &::before {
    @include styles.base-pseudo-element;
    // Reset border color to prevent it from flashing black during card selection animation
    border-color: transparent;
    border-block-start: awsui.$border-container-top-width solid awsui.$color-border-container-top;
    border-start-start-radius: awsui.$border-radius-container;
    border-start-end-radius: awsui.$border-radius-container;
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
    z-index: 1;
  }

  &::after {
    @include styles.base-pseudo-element;
    border-start-start-radius: awsui.$border-radius-container;
    border-start-end-radius: awsui.$border-radius-container;
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
  }
  &:not(.refresh)::after {
    box-shadow: awsui.$shadow-container;
  }
  &.refresh::after {
    border-block: solid awsui.$border-divider-section-width;
    border-inline: solid awsui.$border-divider-section-width;
  }
  &:not(.variant-action)::after {
    border-color: awsui.$color-border-divider-default;
  }
}

.root {
  @include styles.styles-reset();
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  inline-size: 100%;
  min-inline-size: 0;
  @include card-style;
  /* stylelint-disable-next-line selector-combinator-disallowed-list */
  &:not(.active):not(:hover) .actions-inner {
    color: awsui.$color-border-button-normal-default;
  }
  &.active {
    &::before {
      border-block: awsui.$border-item-width solid;
      border-inline: awsui.$border-item-width solid;
    }
    &:not(.variant-action) {
      background-color: awsui.$color-background-item-selected;
      &::before {
        border-color: awsui.$color-border-item-selected;
      }
    }
    &.variant-action::before {
      border-color: awsui.$color-border-button-normal-hover;
    }
  }
  &.variant-action {
    cursor: pointer;

    &:not(:hover) {
      &::after {
        border-color: awsui.$color-border-button-normal-default;
      }
    }
    &:hover::after {
      border-color: awsui.$color-border-button-normal-hover;
    }
    @include focus-visible.when-visible {
      &::before {
        border-block-width: 1px;
        border-inline-width: 1px;
      }
      @include styles.focus-highlight(
        $gutter: 0,
        $border-radius: awsui.$border-radius-container,
        $box-shadow: styles.$box-shadow-focused-light
      );
    }
  }
}

.header {
  padding-block-start: 8px;
  padding-inline-start: awsui.$space-card-horizontal;
  padding-inline-end: calc(#{awsui.$space-card-horizontal} - 4px);
  &-inner {
    @include styles.font-heading-s;
  }
}

.header-inner,
.actions {
  display: flex;
  align-items: center;
  min-block-size: 32px;
}

.body {
  &:not(.no-padding) {
    padding-block-end: awsui.$space-card-vertical;
    padding-inline: awsui.$space-card-horizontal;
  }
  &.no-padding {
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
    overflow: scroll;
  }
}

.with-actions > .header > .header-top-row {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  > .header-inner {
    min-block-size: 32px;
    display: flex;
    align-items: center;
  }
}

.actions {
  flex-shrink: 0;
}

.description {
  color: awsui.$color-text-heading-secondary;
  margin-block-end: 4px;
}
