/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:math';

@use '../../styles' as styles;
@use '../../styles/tokens' as awsui;
@use './motion';

@mixin card-style {
  border-start-start-radius: awsui.$border-radius-container;
  border-start-end-radius: awsui.$border-radius-container;
  border-end-start-radius: awsui.$border-radius-container;
  border-end-end-radius: awsui.$border-radius-container;
  box-sizing: border-box;

  &::before {
    @include styles.base-pseudo-element;
    // Reset border color to prevent it from flashing black during card selection animation
    border-color: transparent;
    border-block-start: awsui.$border-container-top-width solid awsui.$color-border-container-top;
    border-start-start-radius: awsui.$border-radius-container;
    border-start-end-radius: awsui.$border-radius-container;
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
    z-index: 1;
  }

  &::after {
    @include styles.base-pseudo-element;
    border-start-start-radius: awsui.$border-radius-container;
    border-start-end-radius: awsui.$border-radius-container;
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
  }
  &:not(.refresh)::after {
    box-shadow: awsui.$shadow-container;
  }
  &.refresh::after {
    border-block: solid awsui.$border-divider-section-width awsui.$color-border-divider-default;
    border-inline: solid awsui.$border-divider-section-width awsui.$color-border-divider-default;
  }
}

.root {
  @include styles.styles-reset();
  display: flex;
  flex-direction: column;
  gap: awsui.$space-scaled-xxs;
  box-sizing: border-box;
  position: relative;
  background-color: awsui.$color-background-container-content;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  inline-size: 100%;
  min-inline-size: 0;
  @include card-style;
}

.header {
  padding-block-start: awsui.$space-scaled-xs;
  padding-inline-start: awsui.$space-card-horizontal;
  padding-inline-end: calc(#{awsui.$space-card-horizontal} - awsui.$space-scaled-xxs);
  &-inner {
    @include styles.font-heading-s;
  }
}

.body {
  &:not(.no-padding) {
    padding-block-end: awsui.$space-card-vertical;
    padding-inline: awsui.$space-card-horizontal;
  }
  &.no-padding {
    border-end-start-radius: awsui.$border-radius-container;
    border-end-end-radius: awsui.$border-radius-container;
    overflow: scroll;
  }
}

.active {
  background-color: awsui.$color-background-item-selected;
  &::before {
    border-block: awsui.$border-item-width solid awsui.$color-border-item-selected;
    border-inline: awsui.$border-item-width solid awsui.$color-border-item-selected;
  }
}

.description {
  color: awsui.$color-text-heading-secondary;
}

.reduced-border-radius {
  border-start-start-radius: awsui.$space-scaled-xs;
  border-start-end-radius: awsui.$space-scaled-xs;
  border-end-start-radius: awsui.$space-scaled-xs;
  border-end-end-radius: awsui.$space-scaled-xs;

  &::before {
    border-start-start-radius: awsui.$space-scaled-xs;
    border-start-end-radius: awsui.$space-scaled-xs;
    border-end-start-radius: awsui.$space-scaled-xs;
    border-end-end-radius: awsui.$space-scaled-xs;
  }

  &::after {
    border-start-start-radius: awsui.$space-scaled-xs;
    border-start-end-radius: awsui.$space-scaled-xs;
    border-end-start-radius: awsui.$space-scaled-xs;
    border-end-end-radius: awsui.$space-scaled-xs;
  }

  > .body.no-padding {
    border-end-start-radius: awsui.$space-scaled-xs;
    border-end-end-radius: awsui.$space-scaled-xs;
  }
}

.reduced-padding {
  > .header {
    padding-block-start: awsui.$space-scaled-xxs;
    padding-inline-start: awsui.$space-scaled-s;
    padding-inline-end: awsui.$space-scaled-xs;
  }

  > .body:not(.no-padding) {
    padding-block-end: awsui.$space-scaled-s;
    padding-inline: awsui.$space-scaled-s;
  }
}
