/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.token-pill {
  --awsui-style-color-background-default: #{palette.$accent};
  --awsui-style-color-border-default: #{palette.$accent};
  --awsui-style-border-radius: 99px;
  --awsui-style-color-text-default: #{palette.$text-on-accent};
  --awsui-style-color-dismiss-default: #{palette.$text-on-accent};
  --awsui-style-color-dismiss-hover: #{palette.$text-on-accent};
}

.token-outline {
  --awsui-style-color-background-default: transparent;
  --awsui-style-color-border-default: #{palette.$accent};
  --awsui-style-border-radius: 4px;
  --awsui-style-color-text-default: #{palette.$accent};
  --awsui-style-color-dismiss-default: #{palette.$accent};
  --awsui-style-color-dismiss-hover: #{palette.$accent-hover};
}
