/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../app/themes/style-v2-palette' as palette;

.token-pill {
  --awsui-style-token-background-default: #{palette.$accent};
  --awsui-style-token-border-color-default: #{palette.$accent};
  --awsui-style-token-border-radius: 99px;
  --awsui-style-token-color-default: #{palette.$text-on-accent};
  --awsui-style-token-dismiss-color-default: #{palette.$text-on-accent};
  --awsui-style-token-dismiss-color-hover: #{palette.$text-on-accent};
}

.token-outline {
  --awsui-style-token-background-default: transparent;
  --awsui-style-token-border-color-default: #{palette.$accent};
  --awsui-style-token-border-radius: 4px;
  --awsui-style-token-color-default: #{palette.$accent};
  --awsui-style-token-dismiss-color-default: #{palette.$accent};
  --awsui-style-token-dismiss-color-hover: #{palette.$accent-hover};
}