/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;

.file-option-name,
.file-option-size,
.file-option-last-modified,
.file-option-thumbnail {
  /* used in test-utils */
}

.file-option {
  inline-size: 100%;
  min-inline-size: 0;
  display: flex;
  gap: awsui.$space-scaled-xs;
}

.file-option-thumbnail {
  margin-block-start: awsui.$space-static-xxs;
  max-inline-size: 60px;
}

.file-option-thumbnail-image {
  inline-size: 100%;
  block-size: auto;
}

.file-option-metadata {
  inline-size: 100%;
}
