/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
@use '../internal/generated/custom-css-properties/index.scss' as custom-props;

.root {
  @include styles.styles-reset;
}

.wizard.refresh {
  column-gap: awsui.$space-xl;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: awsui.$space-scaled-xxs;

  &.small-container {
    grid-template-columns: minmax(0, 1fr) 0;
    row-gap: awsui.$space-scaled-l;
  }
}

.wizard:not(.refresh) {
  display: flex;
}

.navigation.refresh {
  grid-column: 1;
  grid-row: 1 / span 2;
  padding-block-start: calc(awsui.$space-xs + awsui.$space-scaled-xxs);

  /* stylelint-disable selector-max-type */
  > ul.refresh {
    position: relative;
    margin-block: 0;
    margin-inline: 0;
    padding-block-start: awsui.$space-scaled-xxs;
    padding-block-end: 0;
    padding-inline: 0;
    inline-size: 260px;
    box-sizing: border-box;

    > li {
      display: grid;
      column-gap: awsui.$space-xs;
      grid-template-columns: awsui.$space-l 1fr;
      grid-template-rows: repeat(2, auto);
      padding-block: 0;
      padding-inline: 0;

      > hr {
        background-color: awsui.$color-border-divider-default;
        border-block: 0;
        border-inline: 0;
        grid-column: 1;
        block-size: 100%;
        inline-size: awsui.$space-xxxs;
      }

      > .number {
        color: awsui.$color-text-small;
        font-size: awsui.$font-size-body-s;
        grid-column: 2;
        grid-row: 1;
      }

      > a {
        align-items: start;
        column-gap: awsui.$space-xs;
        cursor: pointer;
        display: grid;
        font-size: awsui.$font-size-body-m;
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-template-columns: awsui.$space-l 1fr;

        > .circle {
          border-start-start-radius: 100%;
          border-start-end-radius: 100%;
          border-end-start-radius: 100%;
          border-end-end-radius: 100%;
          grid-column: 1;
          block-size: 10px;
          justify-self: center;
          margin-block-start: 6px;
          inline-size: 10px;
        }

        > .title {
          @include styles.text-wrapping;
          grid-column: 2;
        }

        @include focus-visible.when-visible {
          @include styles.link-focus;
        }
      }
    }

    > li:first-child > hr {
      grid-row: 2 / span 2;
    }

    > li:not(:first-child) > .number {
      margin-block-start: awsui.$space-m;
    }

    > li:last-child > hr {
      grid-row: 1;
    }

    > li:only-of-type > hr {
      display: none;
    }

    > li:not(:first-child):not(:last-child) > hr {
      grid-row: 1 / span 3;
    }

    > li.active > a {
      cursor: text;
    }

    > li.active > a > .circle {
      background-color: awsui.$color-background-control-checked;
      box-shadow:
        0 0 0 3px awsui.$color-background-container-content,
        0 0 0 5px awsui.$color-background-control-checked,
        0 0 0 7px awsui.$color-background-container-content;
    }

    > li.active > a > .title {
      color: awsui.$color-background-control-checked;
      font-weight: styles.$font-weight-bold;
    }

    > li.disabled > a {
      cursor: text;
    }

    > li.disabled > a > .circle {
      background-color: awsui.$color-background-container-content;
      box-shadow:
        0 0 0 2px awsui.$color-text-interactive-disabled,
        0 0 0 4px awsui.$color-background-container-content;
    }

    > li.disabled > a > .title {
      color: awsui.$color-text-status-inactive;
    }

    > li.enabled > a > .circle {
      background-color: awsui.$color-text-interactive-default;
      box-shadow:
        0 0 0 2px awsui.$color-text-interactive-default,
        0 0 0 4px awsui.$color-background-container-content;
    }

    > li.enabled > a > .title {
      color: awsui.$color-text-interactive-default;
    }

    > li.enabled > a:hover > .circle {
      background-color: awsui.$color-background-control-checked;
      box-shadow:
        0 0 0 2px awsui.$color-background-control-checked,
        0 0 0 4px awsui.$color-background-container-content;
    }

    > li.enabled > a:hover > .title {
      color: awsui.$color-background-control-checked;
    }
  }
  /* stylelint-enable selector-max-type */
}

.navigation:not(.refresh) {
  color: awsui.$color-text-disabled;
  display: inline-block;
  margin-inline-end: calc(2 * #{awsui.$space-xxxl});
  min-inline-size: 20 * styles.$base-size;
  padding-block-start: awsui.$space-xxs;
  inline-size: 20 * styles.$base-size;

  /* stylelint-disable selector-max-type */
  > ul:not(.refresh) {
    list-style: none;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;

    > li {
      @include styles.text-wrapping;
      padding-block: 0 awsui.$space-scaled-m;
    }

    > li:not(:first-child) {
      margin-block-start: awsui.$space-scaled-m;
    }

    > li:not(:last-child) {
      border-block-end: awsui.$border-divider-list-width solid awsui.$color-border-layout;
    }
  }
  /* stylelint-enable selector-max-type */
}

.form:not(.refresh) {
  @include styles.text-wrapping;
  inline-size: 100%;

  > .form-header {
    position: relative;
    margin-block-end: awsui.$space-scaled-m;
  }
}

.form.refresh {
  @include styles.text-wrapping;
  display: contents;

  > .form-header {
    grid-column: 2;
    grid-row: 1;
    color: awsui.$color-text-body-default;
  }

  > .form-header > .form-header-content {
    padding-block-start: calc(awsui.$space-xl + awsui.$space-scaled-xxxs);
    padding-block-end: awsui.$space-scaled-s;
  }

  > .form-component {
    grid-column: 2;
    grid-row: 2;
  }

  &.small-container {
    > .form-header {
      grid-column: 1 / span 2;
    }

    > .form-header > .form-header-content {
      padding-block-start: 0;
    }

    > .form-component {
      grid-column: 1 / span 2;
    }
  }
}

.navigation.hidden {
  display: none;
}

.collapsed-steps {
  padding-block-start: awsui.$space-scaled-xxs;
  &-hidden {
    display: none;
  }
}

.collapsed-steps-navigation {
  display: inline-block;
}

.collapsed-steps-trigger {
  @include styles.styles-reset;
  display: inline-flex;
  align-items: center;
  gap: awsui.$space-xxs;
  padding-block: 0;
  padding-inline: 0;
  border-block: none;
  border-inline: none;
  background: transparent;
  color: awsui.$color-text-link-default;
  font-weight: styles.$font-weight-bold;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    color: awsui.$color-text-link-hover;
  }

  &:disabled {
    color: awsui.$color-text-interactive-disabled;
    cursor: default;
  }

  @include focus-visible.when-visible {
    @include styles.link-focus;
  }
}

.collapsed-steps-trigger-label {
  /* used for test utils */
}

.step-navigation-list {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.step-navigation-item {
  position: relative;
  padding-inline-start: awsui.$space-l;
  margin-block-end: awsui.$space-s;

  &:not(:last-child)::before {
    content: '';
    position: absolute;
    inset-inline-start: calc(#{awsui.$space-l} / 2 - 1px);
    inset-block-start: calc(#{awsui.$space-m} + 6px);
    block-size: calc(100% + #{awsui.$space-s} - 6px);
    inline-size: 2px;
    background-color: awsui.$color-border-divider-default;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.step-navigation-button {
  @include styles.styles-reset;
  display: flex;
  align-items: flex-start;
  gap: awsui.$space-xs;
  padding-block: 0;
  padding-inline: 0;
  border-block: none;
  border-inline: none;
  background: transparent;
  cursor: pointer;
  text-align: start;
  inline-size: 100%;

  &:disabled {
    cursor: default;
  }

  @include focus-visible.when-visible {
    @include styles.link-focus;
  }
}

.step-navigation-button-disabled {
  cursor: default;
}

.step-navigation-circle {
  flex-shrink: 0;
  inline-size: 12px;
  block-size: 12px;
  margin-block-start: 4px;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  border-block: 2px solid awsui.$color-text-interactive-disabled;
  border-inline: 2px solid awsui.$color-text-interactive-disabled;
  background-color: awsui.$color-background-container-content;
  box-sizing: border-box;
}

.step-navigation-circle-selected {
  border-color: awsui.$color-background-control-checked;
  background-color: awsui.$color-background-control-checked;
  box-shadow:
    0 0 0 2px awsui.$color-background-container-content,
    0 0 0 4px awsui.$color-background-control-checked;
}

.step-navigation-circle-visited {
  border-color: awsui.$color-text-interactive-default;
}

.step-navigation-circle-unvisited {
  border-color: awsui.$color-text-interactive-disabled;
}

.step-navigation-content {
  display: flex;
  flex-direction: column;
}

.step-navigation-label {
  font-size: awsui.$font-size-body-s;
  color: awsui.$color-text-small;
}

.step-navigation-title {
  font-size: awsui.$font-size-body-m;
  color: awsui.$color-text-body-default;
}

.step-navigation-title-selected {
  color: awsui.$color-background-control-checked;
  font-weight: styles.$font-weight-bold;
}

.step-navigation-title-visited {
  color: awsui.$color-text-interactive-default;
}

.step-navigation-title-unvisited {
  color: awsui.$color-text-status-inactive;
}

/* Dropdown variant styles */
.step-navigation-dropdown-list {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: awsui.$space-xs;
  padding-inline: 0;
  min-inline-size: 280px;
  max-inline-size: 400px;
}

.step-navigation-dropdown-item {
  display: flex;
  align-items: flex-start;
  gap: awsui.$space-xs;
  padding-block: awsui.$space-xs;
  padding-inline: awsui.$space-m;
  cursor: pointer;

  &:hover:not(.step-navigation-dropdown-item-disabled) {
    background-color: awsui.$color-background-dropdown-item-hover;
  }
}

.step-navigation-dropdown-item-active {
  background-color: awsui.$color-background-dropdown-item-selected;
}

.step-navigation-dropdown-item-disabled {
  cursor: default;
}

.step-navigation-dropdown-circle {
  flex-shrink: 0;
  inline-size: 12px;
  block-size: 12px;
  margin-block-start: 4px;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
  border-end-start-radius: 50%;
  border-end-end-radius: 50%;
  border-block: 2px solid awsui.$color-text-interactive-disabled;
  border-inline: 2px solid awsui.$color-text-interactive-disabled;
  background-color: awsui.$color-background-container-content;
  box-sizing: border-box;
}

.step-navigation-dropdown-circle-active {
  border-color: awsui.$color-background-control-checked;
  background-color: awsui.$color-background-control-checked;
  box-shadow:
    0 0 0 2px awsui.$color-background-container-content,
    0 0 0 4px awsui.$color-background-control-checked;
}

.step-navigation-dropdown-circle-reachable {
  border-color: awsui.$color-text-interactive-default;
}

.step-navigation-dropdown-circle-disabled {
  border-color: awsui.$color-text-interactive-disabled;
}

.step-navigation-dropdown-content {
  display: flex;
  flex-direction: column;
  min-inline-size: 0;
}

.step-navigation-dropdown-title {
  @include styles.text-wrapping;
  font-size: awsui.$font-size-body-m;
  color: awsui.$color-text-body-default;
}

.step-navigation-dropdown-title-active {
  color: awsui.$color-background-control-checked;
  font-weight: styles.$font-weight-bold;
}

.step-navigation-dropdown-title-disabled {
  color: awsui.$color-text-status-inactive;
}

.form-header-component {
  &-wrapper {
    outline: none;
    @include focus-visible.when-visible {
      @include styles.link-focus;
    }
  }
}

.form-header-component,
.navigation-link,
.navigation-link-item,
.navigation-link-label {
  /* used in test-utils */
}

.navigation-link-active {
  font-weight: styles.$font-weight-bold;
  color: awsui.$color-text-body-default;
}
.navigation-link-disabled {
  color: awsui.$color-text-status-inactive;
}

.cancel-button,
.previous-button,
.primary-button,
.skip-to-button {
  /* used in test-utils */
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}
