/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '~design-tokens' as tokens;

.custom-table {
  box-sizing: border-box;
  overflow-x: auto;
  inline-size: 100%;

  &.use-wrapper-paddings {
    inline-size: calc(100% - 64px);
    margin: 0 32px;
  }

  &-table {
    inline-size: 100%;
    box-sizing: border-box;
    border-spacing: 0;

    &:not(.use-wrapper-paddings) {
      padding: 0 32px;
    }
  }

  &-cell {
    position: relative;
    border-inline-start: 1px solid tokens.$color-border-divider-default;
    border-block-end: 1px solid tokens.$color-border-divider-default;
    padding: 8px 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: tokens.$color-background-container-content;

    &:focus {
      outline-offset: -2px;
    }

    &:first-child {
      padding-inline-start: 2px;
      border-inline-start: none;
    }
    &:last-child {
      padding-inline-end: 2px;
    }

    &.sticky-cell {
      position: sticky;

      &-last-left {
        border-inline-end: 2px solid red;
      }
      &-last-right {
        border-inline-start: 2px solid red !important;
      }
      &-pad-left {
        padding-inline-start: 32px;
      }
    }
  }

  &-selection-cell {
    inline-size: 40px;
  }

  &-sorting-header {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-weight: bold;
    margin-inline-start: 2px;
  }
}

.status-trigger-button {
  background-color: initial;
  border: 0;
  border-block-end: 1px dashed;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
