/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
.header {
  box-sizing: border-box;
  background: #232f3e;
  padding: 12px 12px 11px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  display: flex;
  color: #eee;
  justify-content: space-between;
  &-sticky {
    inline-size: 100%;
    z-index: 1000;
    inset-block-start: 0;
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    position: sticky;
  }

  /* stylelint-disable-next-line selector-max-type */
  & > a {
    text-decoration: none;
    color: #eee;
  }
}
