/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles/tokens' as awsui;
@use '../../internal/styles' as styles;

.treeitem-connector-horizontal {
  block-size: 1px;
  position: absolute;
  inset-block-start: 12px;
  inline-size: 39px;
  background: red;
  inset-inline-start: -14px;

  &.expandable {
    inline-size: 20px;
  }
}

.treeitem-connector-vertical {
  &-root {
    inline-size: 1px;
    position: absolute;
    inset-block: 0;
    inset-inline-start: 50%;
    background-color: red;
  }

  &-root-end {
    block-size: 16px;
    inset-block: 0 unset;
  }

  &-expandable {
    inset-block-start: 24px;
  }

  &-middle {
    inline-size: 1px;
    position: absolute;
    inset-block: -11px 0px;
    inset-inline-start: -14px;
    background-color: red;
  }

  &-end {
    inline-size: 1px;
    position: absolute;
    inset-block: 0 10px;
    inset-inline-start: -14px;
    background-color: red;

    block-size: 13px;
  }
}
