/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.root {
  /* used in test-utils */
}

.anchor-list {
  /* used in test-utils */
}

.anchor-item--active {
  /* used in test-utils */
}

.link {
  /* used in test-utils */
}

.link-text {
  /* used in test-utils */
}

.link-info {
  /* used in test-utils */
}
