/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '~design-tokens' as awsui;

.blue-dialog-box {
  margin-block: 20px;
  margin-inline: 20px;
  border-block: 1px solid awsui.$color-border-status-info;
  border-inline: 1px solid awsui.$color-border-status-info;
  background-color: awsui.$color-background-status-info;
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  border-end-start-radius: 16px;
  border-end-end-radius: 16px;
}
.blue-dialog-box__header {
  display: flex;
  justify-content: space-between;
  padding-block-start: 10px;
  padding-block-end: 0;
  padding-inline: 20px;
}

.blue-dialog-box__content {
  padding-block-start: 0;
  padding-block-end: 20px;
  padding-inline: 20px;
}

.blue-dialog-box__footer {
  border-block-start: 1px solid awsui.$color-border-divider-default;
  padding-block: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
