.theme {
  &.theme-background-color { 
    --theme-background-color-alert: var(--theme-background-color);
  }

  &.theme-border-color { 
    --theme-border-color-alert: var(--theme-border-color);
  }

  &.theme-border-radius-none { --theme-border-radius-alert: 0px; }
  &.theme-border-radius-small { --theme-border-radius-alert: 8px; }
  &.theme-border-radius-medium { --theme-border-radius-alert: 16px; }
  &.theme-border-radius-large { --theme-border-radius-alert: 24px; }
  &.theme-border-radius-custom { 
    --theme-border-radius-alert: var(--theme-border-radius);
  }

  &.theme-border-width-none { --theme-border-width-alert: 0px; }
  &.theme-border-width-small { --theme-border-width-alert: 1px; }
  &.theme-border-width-medium { --theme-border-width-alert: 2px; }
  &.theme-border-width-large { --theme-border-width-alert: 3px; }
  &.theme-border-width-custom { 
    --theme-border-width-alert: var(--theme-border-width);
  }

  &.theme-color { 
    --theme-color-alert: var(--theme-color);
  }

  &.theme-font-family { 
    --theme-font-family-alert: var(--theme-font-family);
  }

  &.theme-font-size { 
    --theme-font-size-alert: var(--theme-font-size);
  }
}

:global(.awsui-dark-mode) .theme {
  &.theme-background-color { 
    --theme-background-color-alert: var(--theme-background-color-dark-mode);
  }

  &.theme-border-color { 
    --theme-border-color-alert: var(--theme-border-color-dark-mode);
  }

  &.theme-color { 
    --theme-color-alert: var(--theme-color-dark-mode);
  }
}