/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root {
  @include styles.styles-reset;

  font-family: awsui.$font-family-base;
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-heading-m;
}

.tree {
  @include styles.styles-reset-ul;
}

.tree,
.treeitem-group,
.treeitem {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.treeitem {
  display: grid;
  grid-template-columns: 28px 1fr;
  column-gap: 4px;
  grid-template-rows: minmax(32px, 1fr) auto auto;
  overflow: visible;
  position: relative;

  > .connector-toggle-wrapper {
    grid-column: 1;
    grid-row: 1;
    padding-block-start: 6px;
    position: relative;

    > .toggle {
      justify-self: center;
      position: relative;
      // inset-block-start: 2px;
    }
  }

  > .structured-item-wrapper {
    grid-column: 2;
    grid-row: 1 / span 2;
    padding-block-start: 6px;
  }

  > .treeitem-group {
    grid-column: 2;
    grid-row: 3;
  }
}
