/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$border: awsui.$border-divider-list-width solid awsui.$color-border-divider-default;

.visible-content,
.visible-content-toggle,
.visible-content-groups,
.visible-content-group {
  /* used in test-utils */
}

.visible-content-title {
  @include styles.font-label;
  color: awsui.$color-text-form-label;
  margin-block: 0;
  margin-inline: 0;
  margin-block-end: awsui.$space-scaled-l;
}

.visible-content-group-label {
  color: awsui.$color-text-group-label;
  padding-block-end: awsui.$space-xs;
  border-block-end: $border;
}

.visible-content-option {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-block: awsui.$space-xs;
  padding-inline-start: awsui.$space-scaled-l;
  padding-inline-end: 0px;
  border-block-end: $border;
  &:last-child {
    border-block-end: none;
  }
}

.visible-content-option-label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline-end: awsui.$space-l;
  flex-grow: 1;
}
