/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

$border: awsui.$border-divider-list-width solid awsui.$color-border-divider-default;

.visible-content,
.visible-content-toggle,
.visible-content-groups,
.visible-content-group {
  /* used in test-utils */
}

.visible-content-title {
  @include styles.font-label;
  color: awsui.$color-text-form-label;
  margin: 0;
  margin-bottom: awsui.$space-scaled-l;
}

.visible-content-group-label {
  color: awsui.$color-text-group-label;
  padding-bottom: awsui.$space-xs;
  border-bottom: $border;
}

.visible-content-option {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: awsui.$space-xs 0px awsui.$space-xs awsui.$space-scaled-l;
  border-bottom: $border;
  &:last-child {
    border-bottom: none;
  }
}

.visible-content-option-label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: awsui.$space-l;
  flex-grow: 1;
}
