/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../background-inline-svg.scss' as utils;

.resizable-box {
  position: relative;
  inline-size: 100%;
}

.resizable-box-handle {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
  z-index: 10; // above editor, when editor is overflowing

  inline-size: awsui.$space-l;
  block-size: awsui.$space-l;

  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
  background-size: awsui.$space-l;
  cursor: ns-resize;
  @include utils.background-inline-svg(
    $path: '../assets/resize-handler.svg',
    $stroke: 'colorStrokeCodeEditorResizeHandler'
  );

  @include styles.with-direction('rtl') {
    transform: scaleX(-1);
  }
}

.resize-active {
  user-select: none;
}
