/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.icon-shake {
  display: inline-block;

  @include styles.with-motion {
    animation: awsui-motion-shake-horizontally awsui.$motion-duration-refresh-only-medium;
    @include styles.animation-shake-horizontally;
  }
}

.container-fade-in {
  @include styles.with-motion {
    animation: awsui-motion-fade-in-0 awsui.$motion-duration-refresh-only-medium awsui.$motion-easing-refresh-only-a;
    @include styles.animation-fade-in-0;
  }
}
