/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.mosaik {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tile {
  color: white;
  flex: 1;
  padding: 4px;
  margin-block: 2px;
  margin-inline: 2px;
  text-align: center;
}
