/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;
@use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;

.root,
.file-input {
  /* used in test-utils */
}

.hidden {
  @include styles.awsui-util-hide;
}

.file-input-button {
  @include focus-visible.when-visible-unfocused {
    &.force-focus-outline {
      @include styles.focus-highlight(
        (
          'vertical': awsui.$space-button-icon-focus-outline-gutter-vertical,
          'horizontal': awsui.$space-button-focus-outline-gutter,
        )
      );
    }
  }
}
