/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../internal/styles/tokens' as awsui;
@use '../internal/styles' as styles;

.root,
.file-input {
  /* used in test-utils */
}

.hidden {
  @include styles.awsui-util-hide;
}

.file-input-button {
  // stylelint-disable-next-line selector-combinator-disallowed-list
  :global(:has(:focus-visible)) & {
    &.force-focus-outline {
      &-icon {
        @include styles.focus-highlight(
          (
            'vertical': awsui.$space-button-icon-focus-outline-gutter-vertical,
            'horizontal': awsui.$space-button-focus-outline-gutter,
          )
        );
      }

      &-button {
        @include styles.focus-highlight(awsui.$space-button-focus-outline-gutter);
      }
    }
  }
}
