/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles/tokens' as awsui;
@use '../../internal/styles' as styles;
@use '../../internal/hooks/focus-visible' as focus-visible;
@use '../../internal/generated/custom-css-properties/index.scss' as custom-props;

@use './arrow';

.annotation,
.next-button,
.previous-button,
.finish-button,
.header,
.step-counter-content,
.content {
  /* used in test-utils */
}

.description {
  overflow: hidden;
  margin-top: awsui.$space-xxs;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.stepCounter {
  margin-right: 2 * styles.$base-size;
}

.divider {
  border-bottom: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
}

.hotspot {
  @include styles.styles-reset;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  scroll-margin: var(#{custom-props.$contentScrollMargin}, 40px 0 0 0);

  // These dimensions match the dimensions of the contained SVG icon.
  inline-size: 16px;
  block-size: 16px;

  &:focus {
    outline: none;
  }

  @include focus-visible.when-visible {
    @include styles.focus-highlight(2px, awsui.$border-radius-control-circular-focus-ring);
  }

  > .icon {
    position: relative;
    stroke: awsui.$color-text-link-default;
  }

  &:hover {
    > .icon {
      stroke: awsui.$color-text-link-hover;
    }
  }
  &:active {
    > .icon {
      stroke: awsui.$color-text-link-default;
    }
  }
}
