.aura {
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.aura-checkbox {
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: rgb(204, 204, 209) 0px 0px 0px 1px;
  display: flex;
  gap: 8px;
  padding: 16px;
  max-width: 200px;
}

.aura-checkbox:hover,
.aura-checkbox[data-checked='true'] {
  background-image: linear-gradient(120deg, #f8c7ff 20.08%, #d2ccff 75.81%);
  box-shadow: none;
}

.aura-checkbox[data-disabled='true'] {
  background-color: #f3f3f7;
  background-image: none;
  box-shadow: none;
}