/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.root {
  // Used in test-utils.
}

.dropdown-footer {
  overflow: hidden;
  flex-shrink: 0;
}

.dropdown-content {
  display: contents;
}
