name: Build, lint and test

on:
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  actions: read
  contents: read
  security-events: write
  deployments: write

jobs:
  git-secrets:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        name: Checkout code with history
        with:
          fetch-depth: 100
      - name: Install git-secrets
        run: |
          wget -O /usr/local/bin/git-secrets https://raw.githubusercontent.com/awslabs/git-secrets/master/git-secrets
          chmod +x /usr/local/bin/git-secrets
          git secrets --register-aws --global
      - name: Run git-secrets
        run: |
          git rev-parse HEAD
          git secrets --scan-history
  build:
    uses: cloudscape-design/actions/.github/workflows/build-lint-test.yml@main
    secrets: inherit
    with:
      skip-codecov: true
      artifact-path: lib/static-default
      artifact-name: dev-pages
  deploy:
    needs: build
    uses: cloudscape-design/actions/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      artifact-name: dev-pages
      deployment-path: lib/static-default
