name: Build, lint and test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  actions: read
  contents: read
  security-events: write
  deployments: write

jobs:
  build:
    uses: cloudscape-design/.github/.github/workflows/build-lint-test.yml@main
    with:
      artifact-path: lib/static-default
      artifact-name: dev-pages
  deploy:
    needs: build
    uses: cloudscape-design/.github/.github/workflows/deploy.yml@chore/deploy-continue-on-error
    secrets: inherit
    with:
      artifact-name: dev-pages
      deployment-path: lib/static-default
