name: Lint PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
  merge_group:

jobs:
  dry-run:
    uses: cloudscape-design/.github/.github/workflows/lint-pr.yml@gasda/node18
