# This workflow releases the current package to a dedicated private CodeArtifact repository.
# One repository may publish more than one package. For more details refer to the release-package Action.
name: Release

on:
  push:
    branches:
      - main
      - 'dev-v3-*'

permissions:
  id-token: write
  contents: read

jobs:
  release:
    uses: cloudscape-design/.github/.github/workflows/release.yml@dev-v3-alhalee
    secrets: inherit
    with:
      publish-packages: lib/components,lib/design-tokens,lib/style-dictionary,lib/components-themeable,lib/dev-pages,lib/components-definitions
