# This workflow releases the current package to a dedicated private CodeArtifact repository.
# One repository may publish more than one package. For more details refer to the release-package Action.
name: Release

on:
  workflow_dispatch:
    inputs:
      role-to-assume:
        type: string
        description: Use to override the AWS role used during release
        required: false
      project-name:
        type: string
        description: Use to override the CodeBuild project called
        required: false
  push:
    branches:
      - main
      - 'dev-v3-*'

permissions:
  id-token: write
  contents: read

jobs:
  release:
    uses: cloudscape-design/actions/.github/workflows/release.yml@main
    secrets: inherit
    with:
      skip-test: true
      role-to-assume: ${{ inputs.role-to-assume }}
      project-name: ${{ inputs.project-name }}
  
  trigger-downstream:
    needs: [release]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: [chat-components]
    steps:
      - name: Trigger release in downstream repository
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.WORKFLOW_DISPATCH_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/cloudscape-design/${{ matrix.repository }}/dispatches \
            -d "{\"event_type\": \"run-release\"}"

