# This workflow releases the current package to a dedicated private CodeArtifact repository.
# One repository may publish more than one package. For more details refer to the release-package Action.
name: Release

on:
  push:
    branches:
      - main
      - 'dev-v3-*'

permissions:
  id-token: write
  contents: read

jobs:
  unitTest:
    name: Components unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - run: npm run test:unit

  integTestShards:
    name: Components integ tests shard
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3, 4]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - run: npm run test:integ -- --shard=${{ matrix.shard }}/${{ strategy.job-total }}

  integTest:
    name: Components integ tests
    runs-on: ubuntu-latest
    needs:
      - integTestShards
    steps:
      - run: echo "Completed all integration tests"

  a11yTestShards:
    name: Components a11y tests shard
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3, 4, 5, 6]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - run: npm run test:a11y -- --shard=${{ matrix.shard }}/${{ strategy.job-total }}

  a11yTest:
    name: Components a11y tests
    runs-on: ubuntu-latest
    needs:
      - a11yTestShards
    steps:
      - run: echo "Completed all a11y tests"

  release:
    uses: cloudscape-design/actions/.github/workflows/release.yml@main
    secrets: inherit
    with:
      skip-test: true
    needs:
      - unitTest
      - integTest
      - a11yTest
