name: Visual Regression Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - gh-readonly-queue/main/**

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read

jobs:
  buildReference:
    name: Generate reference images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - name: Install BackstopJS
        run: npm --prefix backstop install ./backstop
      - name: Build components
        run: npx gulp quick-build
      - name: Start dev server
        run: npm run start:integ &
      - name: Generate reference images
        run: npm run test:visual reference
      - name: Upload reference artifacts
        uses: actions/upload-artifact@v3
        with:
          name: visual-regression-results
          path: backstop/report

  test:
    name: Test for regressions
    runs-on: ubuntu-latest
    environment:
      name: visual-regression-report
      url: ${{ steps.deploy-report.outputs.preview-url }}/html_report/index.html
    needs:
      - buildReference
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Download reference artifacts
        uses: actions/download-artifact@v3
        with:
          name: visual-regression-results
          path: backstop/report
      - run: npm install
      - name: Install BackstopJS
        run: npm --prefix backstop install ./backstop
      - name: Build components
        run: npx gulp quick-build
      - name: Start dev server
        run: npm run start:integ &
      - name: Run visual regression tests
        run: npm run test:visual test
      - name: Deploy report
        if: always()
        id: deploy-report
        uses: cloudscape-design/actions/.github/actions/deploy-static@main
        with:
          role-to-assume: ${{ secrets.AWS_PREVIEW_ROLE_ARN }}
          deployment-bucket: ${{ secrets.AWS_PREVIEW_BUCKET_NAME }}
          source-path: backstop/report
          target-path: visual-regressions
