/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;

.badge {
  @include styles.styles-reset;

  @include styles.font-body-s;
  line-height: awsui.$line-height-body-m;
  display: inline-block;
  border-start-start-radius: awsui.$border-radius-badge;
  border-start-end-radius: awsui.$border-radius-badge;
  border-end-start-radius: awsui.$border-radius-badge;
  border-end-end-radius: awsui.$border-radius-badge;
  padding-block: 0;
  padding-inline: awsui.$space-xs;
  color: awsui.$color-text-notification-default;

  &.badge-color-grey {
    background-color: awsui.$color-background-notification-grey;
  }

  &.badge-color-green {
    background-color: awsui.$color-background-notification-green;
  }

  &.badge-color-blue {
    background-color: awsui.$color-background-notification-blue;
  }

  &.badge-color-red {
    background-color: awsui.$color-background-notification-red;
  }

  &.badge-color-severity-critical {
    background-color: awsui.$color-background-severity-critical;
    color: awsui.$color-text-severity-critical;
  }

  &.badge-color-severity-high {
    background-color: awsui.$color-background-severity-high;
    color: awsui.$color-text-severity-high;
  }

  &.badge-color-severity-medium {
    background-color: awsui.$color-background-severity-medium;
    color: awsui.$color-text-severity-medium;
  }

  &.badge-color-severity-low {
    background-color: awsui.$color-background-severity-low;
    color: awsui.$color-text-severity-low;
  }

  &.badge-color-severity-neutral {
    background-color: awsui.$color-background-severity-neutral;
    color: awsui.$color-text-severity-neutral;
  }
}
