/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../../internal/styles' as styles;
@use '../../internal/styles/tokens' as awsui;
@use '../constants' as constants;

.content-wrapper {
  padding-left: awsui.$space-scaled-2x-xxxl;
  padding-right: awsui.$space-scaled-2x-xxxl;
  &-mobile {
    padding-left: awsui.$space-l;
    padding-right: awsui.$space-l;
  }
}

.content-type-dashboard {
  margin-left: auto;
  margin-right: auto;
  @each $breakpoint, $width in constants.$dashboard-content-widths {
    @include styles.media-breakpoint-up($breakpoint) {
      max-width: $width;
    }
  }
}
