/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use '../../styles/tokens' as awsui;

.root {
  margin-block-start: awsui.$space-xs;
  /* stylelint-disable selector-max-type */
  > hr {
    border: none;
    border-block-start: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
    margin: awsui.$space-xs 0;
  }
}
