/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;

.root {
  @include styles.default-text-style;
  inline-size: 100%;
  max-height: inherit;
  overflow-y: auto;

  table {
    inline-size: 100%;
    border-spacing: 0;
    position: relative;
    box-sizing: border-box;

    thead > tr > th {
      border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
      text-align: start;
      background: awsui.$color-background-table-header;
      color: awsui.$color-text-column-header;
      font-weight: awsui.$font-weight-heading-s;
      padding-inline-start: 5px;
      @include styles.font-smoothing;
      &:not(:last-child) {
        border-right: awsui.$border-item-width solid awsui.$color-border-divider-default;
      }
    }

    tbody > tr > td {
      border-block-end: awsui.$border-divider-list-width solid awsui.$color-border-divider-secondary;
    }
  }
}

.hidden-row {
  display: none;
}
