/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use '../internal/styles/index' as styles;
@use '../internal/styles/tokens' as awsui;
// @use '@cloudscape-design/component-toolkit/internal/focus-visible' as focus-visible;
// @use '../container/shared' as container;

.root {
  @include styles.default-text-style;
  @include styles.font-smoothing;
  inline-size: 100%;
  max-height: inherit;
}

.hidden-row {
  display: none;
}

table {
  inline-size: 100%;
  border-spacing: 0;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
}

th {
  position: relative;
  text-align: start;
  box-sizing: border-box;
  border-block-end: awsui.$border-divider-section-width solid awsui.$color-border-divider-default;
  background: awsui.$color-background-table-header;
  color: awsui.$color-text-column-header;
  font-weight: awsui.$font-weight-heading-s;
  padding-block: awsui.$space-scaled-xxs;
  padding-inline: awsui.$space-scaled-xs;
}