/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/* stylelint-disable @cloudscape-design/no-implicit-descendant, plugin/no-unsupported-browser-features, selector-combinator-disallowed-list */
@mixin with-direction($direction) {
  @supports selector(:dir(#{$direction})) {
    &:dir(#{$direction}) {
      @content;
    }
  }

  @supports not selector(:dir(#{$direction})) {
    html[dir='#{$direction}'] & {
      @content;
    }
  }
}
/* stylelint-enable @cloudscape-design/no-implicit-descendant, plugin/no-unsupported-browser-features, selector-combinator-disallowed-list */
