/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:math';

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../container/shared' as container;
@use './motion';

.root {
  @include styles.styles-reset();
  @include styles.default-text-style;
}

.header {
  &-variant-full-page.header-refresh {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: calc(#{awsui.$space-container-header-bottom} + #{awsui.$space-table-header-tools-full-page-bottom});
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  // reset styles from OL
  padding: 0;
  list-style: none;
  margin: 0 0 0 calc(#{awsui.$space-grid-gutter} * -1);

  @for $i from 1 through 20 {
    &.list-grid-#{$i} {
      > .card {
        width: math.div(100%, $i);
      }
    }
  }
}

.selection-control {
  position: absolute;
  box-sizing: border-box;
  width: calc(#{awsui.$size-control} + (2 * #{awsui.$space-card-horizontal}));
  top: 0;
  right: 0;
  padding: awsui.$space-card-vertical awsui.$space-card-horizontal;
}

.loading,
.empty {
  overflow: hidden;
  text-align: center;
  color: awsui.$color-text-empty;
  margin-bottom: awsui.$space-scaled-l;
}

.has-header {
  // Unfortunately, we don't have access to the header of InternalContainer
  // in order to use margin-bottom instead.
  margin-top: awsui.$space-grid-gutter;
}

.card {
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  list-style: none;
  &-inner {
    position: relative;
    background-color: awsui.$color-background-container-content;
    margin: 0 0 awsui.$space-grid-gutter awsui.$space-grid-gutter;
    padding: awsui.$space-card-vertical awsui.$space-card-horizontal;
    @include styles.container-shadow;
    width: 100%;
    min-width: 0;
    @include styles.container-style;
  }
  &-header {
    @include styles.font-heading-m;
    &-inner {
      width: 100%;
      display: inline-block;
    }
  }
  &-selectable {
    > .card-inner > .card-header {
      width: 90%;
    }
  }
  &-selected {
    > .card-inner {
      background-color: awsui.$color-background-item-selected;
      &:not(.refresh)::before {
        border: awsui.$border-item-width solid awsui.$color-border-item-selected;
      }
      &.refresh::before {
        outline: awsui.$border-item-width solid awsui.$color-border-item-selected;
      }
    }
  }
}

.section {
  display: inline-block;
  box-sizing: border-box;
  // only scale bottom padding to reduce padding between sections and after the last section.
  padding: awsui.$space-xs 0 awsui.$space-scaled-xs 0;
  vertical-align: top;
  &-header {
    @include styles.font-label;
    color: awsui.$color-text-label;
  }
  &-content {
    /* used in test-utils */
  }
}
.section:last-child {
  padding: awsui.$space-xs 0 0 0;
}

.footer-pagination {
  display: flex;
  justify-content: flex-end;
}
