/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

@use 'sass:math';

@use '../internal/styles' as styles;
@use '../internal/styles/tokens' as awsui;
@use '../container/shared' as container;
@use './motion';

.root {
  @include styles.styles-reset();
  @include styles.default-text-style;
}

.header {
  &-variant-full-page.header-refresh {
    @include container.borders-and-shadows;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: #{awsui.$space-container-header-vertical};
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  // reset styles from OL
  padding-block: 0;
  padding-inline: 0;
  list-style: none;
  margin-block: 0;
  margin-inline-start: 0;
  margin-inline-end: calc(#{awsui.$space-grid-gutter} * -1);

  @for $i from 1 through 20 {
    &.list-grid-#{$i} {
      > .card {
        inline-size: math.div(100%, $i);
      }
    }
  }
}

.selection-control {
  position: absolute;
  box-sizing: border-box;
  inline-size: calc(#{awsui.$size-control} + (2 * #{awsui.$space-card-horizontal}));
  inset-block-start: 0;
  inset-inline-end: 0;
  padding: awsui.$space-scaled-l awsui.$space-card-horizontal;
}

.loading,
.empty {
  overflow: hidden;
  text-align: center;
  color: awsui.$color-text-empty;
  margin-block-end: awsui.$space-scaled-l;
}

.has-header {
  // Unfortunately, we don't have access to the header of InternalContainer
  // in order to use margin-bottom instead.
  margin-block-start: awsui.$space-grid-gutter;
}

.card {
  display: flex;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  list-style: none;
  &-inner {
    position: relative;
    background-color: awsui.$color-background-container-content;
    margin-block-start: 0;
    margin-block-end: awsui.$space-grid-gutter awsui.$space-grid-gutter;
    margin-inline: 0;
    padding: awsui.$space-scaled-l awsui.$space-card-horizontal awsui.$space-scaled-l;
    // HACK: IE shadow comes with full border that we need to take into account
    @media screen and (-ms-high-contrast: active) {
      padding: calc(#{awsui.$space-scaled-l} - #{awsui.$border-item-width})
        calc(#{awsui.$space-card-horizontal} - #{awsui.$border-item-width})
        calc(#{awsui.$space-scaled-l} - #{awsui.$border-item-width});
    }
    @include styles.container-shadow;
    inline-size: 100%;
    min-inline-size: 0;
  }
  &-header {
    @include styles.font-heading-m;
    &-inner {
      inline-size: 100%;
      display: inline-block;
    }
  }
  &-selectable {
    > .card-inner > .card-header {
      inline-size: 90%;
    }
  }
  &-selected {
    > .card-inner {
      background-color: awsui.$color-background-item-selected;
      &::before {
        border: awsui.$border-item-width solid awsui.$color-border-item-selected;
      }
    }
  }
}

.section {
  display: inline-block;
  box-sizing: border-box;
  // only scale bottom padding to reduce padding between sections and after the last section.
  padding: awsui.$space-xs 0 awsui.$space-scaled-xs 0;
  vertical-align: top;
  &-header {
    @include styles.font-label;
    color: awsui.$color-text-label;
  }
  &-content {
    /* used in test-utils */
  }
}
.section:last-child {
  padding: awsui.$space-xs 0 0 0;
}

.footer-pagination {
  display: flex;
  justify-content: flex-end;
}
